src/templates/article-importance_of-fresh.pug
---
title: The Importance of Fresh Foods Vs. Canned and Frozen Food
---
extends layouts/_layout
block content
    .container.simple-article
        .hero_standart 
            h1.mb-2 The Importance of Fresh Foods Vs. Canned and Frozen Food
            .row
                .col-12.col-lg-9
                    .no-br
                        p
                            | Open your pantry, and dig all the way to the back shelf. If you are anything like me, there are likely cans back there that have been there for 5 years or more. You check the expiration date, and you find that these cans still say they are “good”. But, considering that all molecules break down over time, are these foods really as healthy as their fresh counterparts?
                        p
                            | The answer is a resounding, “NO!”. Canned, frozen, and otherwise preserved foods often have a much different nutritional profile compared to their fresh counterparts. This happens for a variety of reasons, which we will discuss in detail in this article. Further, we will take a look at why fresh, whole-foods are your best bet for obtaining optimal nutrition. But first, let’s take a look at why processed foods last so much longer than fresh foods.

                .col-lg-3.d-none.d-lg-block.text-center
                    +img('articles/fresh-vs-frozen','jpg','','alt')

            
        // section
        section
            .row
                .col-12.col-md-6.col-lg-4.mb-3.pt-3
                    +img('demo/preserves','png','','alt')

                .col-12.col-md-6.col-lg-8.mb-3
                    h2
                        | How Foods are Canned and Frozen
                    p
                        | If you have ever canned vegetables at home, you may think that canning is simply the process of heating the food up slightly and creating an airtight seal. This works well with mason jars because glass is non-reactive and does not interact with the food inside. However, commercial canning processes typically use metal cans made of tin or aluminum. These cans require a special lining. More than this, companies may add other preservatives, salts, and synthetic chemicals to make the food appear fresh and appealing.  
                    p
                        | Companies add these chemicals because metals are much more reactive than glass. In fact, most cans must have a plastic lining on the inside to protect the metal from corrosion. Foods like tomatoes, which are naturally acidic, will eat right through the metal over time. Unfortunately for consumers, the plastic lining in cans contains chemicals like BPA, which has been shown to cause cancer. BPA also
                        a(href='https://link.springer.com/article/10.1007/s12672-010-0015-9')
                        | acts like a hormone within your body, disrupting your natural endocrine signals. Further, BPA is only one of many chemicals used to commercially can foods. Specifically,
                        a(href='https://www.sciencedirect.com/science/article/pii/S0160412015000197')
                            | BPA is found in 73% of canned foods
                        | .
            .row.justify-content-center
                .col-12.col-lg-11
                    .info-block
                        .inner
                            | Unfortunately, frozen foods are no better for you than canned. Like canned foods, frozen foods also regularly have chemicals added to keep the food looking fresh and edible. Further, the process of freezing damages the nutritional content of foods. One study has shown that the antioxidant activity of vegetables is 
                            a(href="https://www.sciencedirect.com/science/article/pii/S1466856402000486") decreased by 50%
                            | when foods are frozen. This means that frozen food may only have half of the active nutrients found within fresh foods.
            
        // section
        section
            h2
                | What about Restaurant Food?
            p
                | Well, it largely depends on the restaurant. Large chain restaurants typically use a high amount of canned, frozen, or otherwise processed foods. Like the typical consumer, they do this out of convenience and as a way to reduce their labor costs. It only takes seconds to open a large can of tomatoes, but would take an hour for an employee to cut up fresh tomatoes. Further, restaurants often use far too much oil in their foods.
            p
                | This added fat can be detrimental to your health. Not only are added fats bad for you, but restaurants often let their large batches of oil oxidize. This is a chemical reaction within the oils which causes the formation of unhealthy compounds. In fact, researchers have said that the consumption of oxidized fats within a diet poses a “chronic threat to human health”. By cooking at home, you can cook with no added fats, sugar, or unnecessary preservatives! If you have to eat out, pick a locally-owned restaurant which sources all of their ingredients fresh.


        // section
        section
            h2
                | But, Processed Foods are Convenient!
            .row
                .col-12.col-lg-4.mb-3.text-center.order-lg-2
                    +img('demo/meat','png','','alt')
                .col-12.col-lg-8
                    p
                        | It’s hard to argue this point. Many people like the convenience of grabbing a can of beans, a frozen meal, or a whole week’s worth of Hot Pockets. It’s quick, easy, and allows for a meal to be assembled in minutes. But, is it worth your health?
                    p
                        | Consider this: you are what you eat. Your body is constantly losing cells and building new cells to replace those that are lost. In fact, your skin completely replaces itself every 
                        a(href="https://www.ncbi.nlm.nih.gov/pubmed/7865480") 47 days
                        |. This means that the nutrients you take in over the course of a month will be used as the basis for rebuilding your entire body. With this in mind, buying fresh, whole-foods should be a top priority for everyone. Fresh foods have the highest nutritional value, the highest antioxidant activity, and contain many more biologically active molecules compared to processed, canned, and frozen foods.
                    p
                        | By way of analogy, the situation is similar to not wearing a seatbelt. You know that your seatbelt could save your life. The only reason not to wear it would be convenience. However, it only takes a second to buckle-up. This tiny action can end up saving your life. Likewise, a few extra minutes shopping for and preparing whole foods can mean the difference between life and death. While it won’t be as dramatic as a car crash, the extra chemicals and lower nutritional value of processed foods can lead to cancers, heart disease, circulatory system disorders, and a wide range of neurological conditions.


        // section
        section
            h2
                | How to Buy and Eat Fresh, Whole Foods
            p
                | As a previous graduate student who lived on nothing but instant ramen and restaurant foods, I can understand how difficult it is to transfer to a diet of fresh foods. Not only do you have to buy the foods, but you have to cook them as well. This process does take time and energy, but there are several things you can do to shorten the process and make it enjoyable. Here are some tips for buying and cooking fresh, whole foods.
            .row
                .col-12.col-lg-6.mb-4
                    .box.box_h100.p-3
                        .iconed-text.align-items-start
                            +icon('comment', 'icon_fill-secondary')
                            .text
                                p
                                    strong Use a Food Subscription Service or Grocery Service
                                p
                                    | While this may sound expensive, many grocers are developing “curbside pickup” programs. For instance, at my local King Soopers, I can order all my fresh foods online and pick them up at the store the next day. This allows me to shop from the comfort of my home, and the pickup process only takes a few minutes to load the groceries into my car and pay for them.
                                p
                                    | Other services, such as GoodFood and HelloFresh, will deliver complete meals right to your door. These meals or food subscription boxes typically contain all fresh ingredients. Also, they are great for people with little to no cooking experience. The instructions are clear, and you will get all of the ingredients you need, every time.
                .col-12.col-lg-6.mb-4
                    .box.box_h100.p-3
                        .iconed-text.align-items-start
                            +icon('comment', 'icon_fill-secondary')
                            .text
                                p
                                    strong Get a Better Knife
                                p
                                    | Nothing is more frustrating than cooking with a dull knife. A dull knife mushes tomatoes and soft foods, tires out your hand, and is just generally hard to use. As a former sushi chef, I have used some of the sharpest knives in the world. Since that time, I have always had a sharp knife in my house. A sharp knife slides through the toughest foods like butter and makes the process of preparing a meal faster, safer, and more efficient. You can either purchase a sharp knife, get a good sharpener, or both! While this may seem like an unnecessary step, trust me, it is worth it.

                .col-12.col-lg-6.mb-4
                    .box.box_h100.p-3
                        .iconed-text.align-items-start
                            +icon('comment', 'icon_fill-secondary')
                            .text
                                p
                                    strong Buy an Instant Pot
                                p
                                    | An Instant Pot is a type of modern pressure cooker. Pressure cooking traps the steam being released from a boiling pot. If you know anything about physics, raising the pressure also raises the temperature. Using a pressure cooker, your foods will be cooked faster, at a much higher temperature. Things like dry beans, which typically take 8 hours to soak and 4 more to cook, take only 45 minutes in a pressure cooker. Mashed potatoes can be made in minutes, not hours. Further, modern Instant Pots have a variety of functions to create soups, saute foods, and even make a perfect batch of rice.

                .col-12.col-lg-6.mb-4
                    .box.box_h100.p-3
                        .iconed-text.align-items-start
                            +icon('comment', 'icon_fill-secondary')
                            .text
                                p
                                    strong Learn about Plant-based, Whole-food Diets
                                p
                                    | While some people think that the plant-based, whole-foods diet is just another fad diet, I think it is here to stay. Epidemiologists have shown that the Western diet is unusually high in fats, protein, and animal products in general. This increase in animal products is directly related to an increase in coronary artery disease, cancer, and many other degenerative conditions. In fact, one of those researchers has even created a free website, to teach people great recipes that rely on fresh, whole foods.



        // section
        section
            h2
                | Just Try It!
            p
                | One of the main reasons that most people do not buy fresh foods is simply for convenience. And, I won’t lie, the first few weeks will be the hardest part of switching over. You will have to find new recipes, learn new cooking techniques, and do much more meal planning than you normally would. However, after only a few weeks on a fresh diet, you will feel better, cook better, and may find that you enjoy the process of cooking meals.
            p
                | In fact, cooking a meal is mostly physical. You chop veggies, mix a salad, and stir a bowl of soup. But after the first time doing these actions, your brain can start to wander away from your cooking. I use the time I am cooking to reflect on my day, plan for tomorrow, and even casually meditate. People think of the time spent cooking as a waste, but in reality, it can be an excellent way to unwind, focus on your thoughts, and reduce your stress levels. Between that and the healthy food you are now eating, you are sure to feel better in no time!

build/article-importance_of-fresh.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MKC</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#fff">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" media="all" href="assets/css/app.css">
  </head>
  <body>
    <div class="layout">
      <div class="layout__header">
        <!--BEGIN header-->
        <header class="header">
          <div class="container header__container"><a class="logo-link" href="#"><img class="logo" src="/assets/img/logos/logo.png" srcset="/assets/img/logos/logo@2x.png 2x" alt="" /></a>
            <ul class="main-menu">
              <li class="menu-item"><a class="is-current" href="#">Best Meal Kits</a></li>
              <li class="menu-item"><a href="#">Best Food Subscription Boxes</a></li>
              <li class="menu-item"><a href="#"> Meal Kits Delivery by Area</a></li>
              <li class="menu-item"><a href="#">Meal Kits Costs</a></li>
              <li class="menu-item"><a href="#">About Us</a></li>
            </ul>
            <div class="menu-trigger"><span></span></div>
          </div>
        </header>
        <!--END header-->
      </div>
      <main class="layout__main">
        <div class="container simple-article">
          <div class="hero_standart">
            <h1 class="mb-2">The Importance of Fresh Foods Vs. Canned and Frozen Food</h1>
            <div class="row">
              <div class="col-12 col-lg-9">
                <div class="no-br">
                  <p>Open your pantry, and dig all the way to the back shelf. If you are anything like me, there are likely cans back there that have been there for 5 years or more. You check the expiration date, and you find that these cans still say they are “good”. But, considering that all molecules break down over time, are these foods really as healthy as their fresh counterparts?</p>
                  <p>The answer is a resounding, “NO!”. Canned, frozen, and otherwise preserved foods often have a much different nutritional profile compared to their fresh counterparts. This happens for a variety of reasons, which we will discuss in detail in this article. Further, we will take a look at why fresh, whole-foods are your best bet for obtaining optimal nutrition. But first, let’s take a look at why processed foods last so much longer than fresh foods.</p>
                </div>
              </div>
              <div class="col-lg-3 d-none d-lg-block text-center"><img srcset="/assets/img/articles/fresh-vs-frozen.jpg, /assets/img/articles/fresh-vs-frozen@2x.jpg 1.5x, /assets/img/articles/fresh-vs-frozen@2x.jpg 2x" src="/assets/img/articles/fresh-vs-frozen.jpg" alt="alt" /></div>
            </div>
          </div><!-- section-->
          <section>
            <div class="row">
              <div class="col-12 col-md-6 col-lg-4 mb-3 pt-3"><img srcset="/assets/img/demo/preserves.png, /assets/img/demo/preserves@2x.png 1.5x, /assets/img/demo/preserves@2x.png 2x" src="/assets/img/demo/preserves.png" alt="alt" /></div>
              <div class="col-12 col-md-6 col-lg-8 mb-3">
                <h2>How Foods are Canned and Frozen</h2>
                <p>If you have ever canned vegetables at home, you may think that canning is simply the process of heating the food up slightly and creating an airtight seal. This works well with mason jars because glass is non-reactive and does not interact with the food inside. However, commercial canning processes typically use metal cans made of tin or aluminum. These cans require a special lining. More than this, companies may add other preservatives, salts, and synthetic chemicals to make the food appear fresh and appealing. </p>
                <p>Companies add these chemicals because metals are much more reactive than glass. In fact, most cans must have a plastic lining on the inside to protect the metal from corrosion. Foods like tomatoes, which are naturally acidic, will eat right through the metal over time. Unfortunately for consumers, the plastic lining in cans contains chemicals like BPA, which has been shown to cause cancer. BPA also<a href="https://link.springer.com/article/10.1007/s12672-010-0015-9"></a>acts like a hormone within your body, disrupting your natural endocrine signals. Further, BPA is only one of many chemicals used to commercially can foods. Specifically,<a href="https://www.sciencedirect.com/science/article/pii/S0160412015000197">BPA is found in 73% of canned foods</a>.</p>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-12 col-lg-11">
                <div class="info-block">
                  <div class="inner">Unfortunately, frozen foods are no better for you than canned. Like canned foods, frozen foods also regularly have chemicals added to keep the food looking fresh and edible. Further, the process of freezing damages the nutritional content of foods. One study has shown that the antioxidant activity of vegetables is <a href="https://www.sciencedirect.com/science/article/pii/S1466856402000486">decreased by 50%</a>when foods are frozen. This means that frozen food may only have half of the active nutrients found within fresh foods.</div>
                </div>
              </div>
            </div>
          </section><!-- section-->
          <section>
            <h2>What about Restaurant Food?</h2>
            <p>Well, it largely depends on the restaurant. Large chain restaurants typically use a high amount of canned, frozen, or otherwise processed foods. Like the typical consumer, they do this out of convenience and as a way to reduce their labor costs. It only takes seconds to open a large can of tomatoes, but would take an hour for an employee to cut up fresh tomatoes. Further, restaurants often use far too much oil in their foods.</p>
            <p>This added fat can be detrimental to your health. Not only are added fats bad for you, but restaurants often let their large batches of oil oxidize. This is a chemical reaction within the oils which causes the formation of unhealthy compounds. In fact, researchers have said that the consumption of oxidized fats within a diet poses a “chronic threat to human health”. By cooking at home, you can cook with no added fats, sugar, or unnecessary preservatives! If you have to eat out, pick a locally-owned restaurant which sources all of their ingredients fresh.</p>
          </section><!-- section-->
          <section>
            <h2>But, Processed Foods are Convenient!</h2>
            <div class="row">
              <div class="col-12 col-lg-4 mb-3 text-center order-lg-2"><img srcset="/assets/img/demo/meat.png, /assets/img/demo/meat@2x.png 1.5x, /assets/img/demo/meat@2x.png 2x" src="/assets/img/demo/meat.png" alt="alt" /></div>
              <div class="col-12 col-lg-8">
                <p>It’s hard to argue this point. Many people like the convenience of grabbing a can of beans, a frozen meal, or a whole week’s worth of Hot Pockets. It’s quick, easy, and allows for a meal to be assembled in minutes. But, is it worth your health?</p>
                <p>Consider this: you are what you eat. Your body is constantly losing cells and building new cells to replace those that are lost. In fact, your skin completely replaces itself every <a href="https://www.ncbi.nlm.nih.gov/pubmed/7865480">47 days</a>. This means that the nutrients you take in over the course of a month will be used as the basis for rebuilding your entire body. With this in mind, buying fresh, whole-foods should be a top priority for everyone. Fresh foods have the highest nutritional value, the highest antioxidant activity, and contain many more biologically active molecules compared to processed, canned, and frozen foods.</p>
                <p>By way of analogy, the situation is similar to not wearing a seatbelt. You know that your seatbelt could save your life. The only reason not to wear it would be convenience. However, it only takes a second to buckle-up. This tiny action can end up saving your life. Likewise, a few extra minutes shopping for and preparing whole foods can mean the difference between life and death. While it won’t be as dramatic as a car crash, the extra chemicals and lower nutritional value of processed foods can lead to cancers, heart disease, circulatory system disorders, and a wide range of neurological conditions.</p>
              </div>
            </div>
          </section><!-- section-->
          <section>
            <h2>How to Buy and Eat Fresh, Whole Foods</h2>
            <p>As a previous graduate student who lived on nothing but instant ramen and restaurant foods, I can understand how difficult it is to transfer to a diet of fresh foods. Not only do you have to buy the foods, but you have to cook them as well. This process does take time and energy, but there are several things you can do to shorten the process and make it enjoyable. Here are some tips for buying and cooking fresh, whole foods.</p>
            <div class="row">
              <div class="col-12 col-lg-6 mb-4">
                <div class="box box_h100 p-3">
                  <div class="iconed-text align-items-start"><svg class="icon icon-comment icon_fill-secondary">
                      <use xlink:href="/assets/img/sprite.svg#icon-comment"></use>
                    </svg>
                    <div class="text">
                      <p><strong>Use a Food Subscription Service or Grocery Service</strong></p>
                      <p>While this may sound expensive, many grocers are developing “curbside pickup” programs. For instance, at my local King Soopers, I can order all my fresh foods online and pick them up at the store the next day. This allows me to shop from the comfort of my home, and the pickup process only takes a few minutes to load the groceries into my car and pay for them.</p>
                      <p>Other services, such as GoodFood and HelloFresh, will deliver complete meals right to your door. These meals or food subscription boxes typically contain all fresh ingredients. Also, they are great for people with little to no cooking experience. The instructions are clear, and you will get all of the ingredients you need, every time.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-lg-6 mb-4">
                <div class="box box_h100 p-3">
                  <div class="iconed-text align-items-start"><svg class="icon icon-comment icon_fill-secondary">
                      <use xlink:href="/assets/img/sprite.svg#icon-comment"></use>
                    </svg>
                    <div class="text">
                      <p><strong>Get a Better Knife</strong></p>
                      <p>Nothing is more frustrating than cooking with a dull knife. A dull knife mushes tomatoes and soft foods, tires out your hand, and is just generally hard to use. As a former sushi chef, I have used some of the sharpest knives in the world. Since that time, I have always had a sharp knife in my house. A sharp knife slides through the toughest foods like butter and makes the process of preparing a meal faster, safer, and more efficient. You can either purchase a sharp knife, get a good sharpener, or both! While this may seem like an unnecessary step, trust me, it is worth it.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-lg-6 mb-4">
                <div class="box box_h100 p-3">
                  <div class="iconed-text align-items-start"><svg class="icon icon-comment icon_fill-secondary">
                      <use xlink:href="/assets/img/sprite.svg#icon-comment"></use>
                    </svg>
                    <div class="text">
                      <p><strong>Buy an Instant Pot</strong></p>
                      <p>An Instant Pot is a type of modern pressure cooker. Pressure cooking traps the steam being released from a boiling pot. If you know anything about physics, raising the pressure also raises the temperature. Using a pressure cooker, your foods will be cooked faster, at a much higher temperature. Things like dry beans, which typically take 8 hours to soak and 4 more to cook, take only 45 minutes in a pressure cooker. Mashed potatoes can be made in minutes, not hours. Further, modern Instant Pots have a variety of functions to create soups, saute foods, and even make a perfect batch of rice.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-lg-6 mb-4">
                <div class="box box_h100 p-3">
                  <div class="iconed-text align-items-start"><svg class="icon icon-comment icon_fill-secondary">
                      <use xlink:href="/assets/img/sprite.svg#icon-comment"></use>
                    </svg>
                    <div class="text">
                      <p><strong>Learn about Plant-based, Whole-food Diets</strong></p>
                      <p>While some people think that the plant-based, whole-foods diet is just another fad diet, I think it is here to stay. Epidemiologists have shown that the Western diet is unusually high in fats, protein, and animal products in general. This increase in animal products is directly related to an increase in coronary artery disease, cancer, and many other degenerative conditions. In fact, one of those researchers has even created a free website, to teach people great recipes that rely on fresh, whole foods.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section><!-- section-->
          <section>
            <h2>Just Try It!</h2>
            <p>One of the main reasons that most people do not buy fresh foods is simply for convenience. And, I won’t lie, the first few weeks will be the hardest part of switching over. You will have to find new recipes, learn new cooking techniques, and do much more meal planning than you normally would. However, after only a few weeks on a fresh diet, you will feel better, cook better, and may find that you enjoy the process of cooking meals.</p>
            <p>In fact, cooking a meal is mostly physical. You chop veggies, mix a salad, and stir a bowl of soup. But after the first time doing these actions, your brain can start to wander away from your cooking. I use the time I am cooking to reflect on my day, plan for tomorrow, and even casually meditate. People think of the time spent cooking as a waste, but in reality, it can be an excellent way to unwind, focus on your thoughts, and reduce your stress levels. Between that and the healthy food you are now eating, you are sure to feel better in no time!</p>
          </section>
        </div>
      </main>
      <div class="layout__footer">
        <!--BEGIN footer-->
        <footer class="footer">
          <div class="footer-top">
            <div class="container footer-top__container">
              <div class="footer-top__menu">
                <div class="footer-top__title">Meal Kit Companies We Cover</div>
                <ul>
                  <li><a href="#">Hello Fresh Canada Review</a></li>
                  <li><a href="#">Chef’s Plate Review</a></li>
                  <li><a href="#">Goodfood Canada Review</a></li>
                  <li><a href="#">Fresh City Farms Review</a></li>
                  <li><a href="#">Miss Fresh Meal Kits Review</a></li>
                  <li><a href="#">Prepd Meal Kits Review</a></li>
                  <li><a href="#">Plated Review</a></li>
                  <li><a href="#">Home Chef Canada Review</a></li>
                  <li><a href="#">Blue Apron Canada Review</a></li>
                </ul>
              </div>
              <div class="footer-top__menu">
                <div class="footer-top__title">Region-specific Guides</div>
                <ul>
                  <li><a href="#">Winnipeg, Regina, and Saskatoon Meal Kits Reviews 2020</a></li>
                  <li><a href="#">Halifax and the Maritimes Meal Kits Reviews 2020</a></li>
                  <li><a href="#">Meal Kits Deliveries by Areas in Canada</a></li>
                  <li><a href="#">Calgary and Edmonton Meal Kits Review 2020</a></li>
                  <li><a href="#">Montreal and Quebec Meal Kits Review 2020</a></li>
                  <li><a href="#">Vancouver Meal Kits Reviews 2020</a></li>
                  <li><a href="#">Toronto Meal Kits Review 2020</a></li>
                </ul>
              </div>
              <div class="footer-top__menu">
                <div class="footer-top__title">Additional Health Articles</div>
                <ul>
                  <li><a href="#">The Importance of Fresh Foods Vs. Canned and Frozen Food</a></li>
                  <li><a href="#">Are Meal Kits Greener – Creating Less Waste and Emissions?</a></li>
                  <li><a href="#">Will your health be determined by your genetics?</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-bottom">
            <div class="container footer-bottom__container"><a class="logo-link" href="#"><img class="logo" src="/assets/img/logos/logo.png" srcset="/assets/img/logos/log@2x.png 2x" alt="" /></a>
              <div class="footer__disclaymer"><span class="color-primary">Site Disclaimer:</span>Do not use nutrition information and recommendations on this website if you suffer from a serious condition.<p>Some of the links on this website are referral links. We get paid to refer clients to certain companies (but our rating is ours and you cannot pay to be listed higher).</p>
              </div>
              <div class="footer__socials"><b>Follow Us!</b>
                <div class="socials socials_yellow"><a class="socials__item" href="#"><svg class="icon icon-fb ">
                      <use xlink:href="/assets/img/sprite.svg#icon-fb"></use>
                    </svg></a><a class="socials__item" href="#"><svg class="icon icon-inst ">
                      <use xlink:href="/assets/img/sprite.svg#icon-inst"></use>
                    </svg></a><a class="socials__item" href="#"><svg class="icon icon-tw ">
                      <use xlink:href="/assets/img/sprite.svg#icon-tw"></use>
                    </svg></a></div>
              </div>
            </div>
          </div>
          <div class="footer-copy">
            <div class="container"><small>© 2020 Meal Kits Canada</small></div>
          </div>
        </footer>
        <!--END footer-->
      </div>
    </div><!-- begin modal-->
    <div class="modal modal_video fade" id="video" tabindex="-1" role="dialog" aria-labelledby="videoLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header"><button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
          <div class="modal-body"><iframe width="100%" height="auto" src="https://www.youtube.com/embed/y0J3LoXjpl8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe></div>
        </div>
      </div>
    </div><!-- end modal-->
    <div class="tooltip_templates">
      <div id="tooltip_content">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia ipsam libero, ea sapiente iusto obcaecati aperiam natus eum voluptatem ipsum dolore dicta quasi molestias quos? Veniam distinctio esse expedita ducimus.</p>
      </div>
    </div>
    <!--LOAD SCRIPTS-->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/tooltipster@4.2.8/dist/js/tooltipster.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script type="text/javascript" src="assets/js/new-app.js"></script>
    <script>
      $(document).ready(function()
      {
        // tooltipster
        $('.info').tooltipster(
        {
          contentCloning: true,
          interactive: true,
          theme: 'tooltipster-shadow2',
          animation: 'grow',
          maxWidth: 230
        });
        $('.js-info').tooltipster(
        {
          contentCloning: true,
          interactive: true,
          theme: 'tooltipster-shadow2',
          animation: 'grow',
          maxWidth: 230
        });
        $('.tooltip-title').tooltipster(
        {
          interactive: true,
          theme: 'tooltipster-shadow2',
          animation: 'grow',
          maxWidth: 230
        });
        $('.js-tooltipster').tooltipster(
        {
          interactive: true,
          theme: 'tooltipster-shadow2',
          animation: 'grow',
          maxWidth: 300
        });
      });

    </script>
  </body>
</html>
