src/templates/article-corona.pug
---
title: Meal kits during Coronavirus times
---
extends layouts/_layout
block content
    .container.simple-article
        .hero_standart 
            .row
                .col-12.col-lg-9
                    h1.mb-2 Meal kits during Coronavirus times
                    .no-br
                        p 
                            | Being stuck in-doors during lockdown has brought on various unintended consequences. Many are getting increasingly bored and anxious being alone with themselves all the time, whilst others are realising that as an introvert, the outside world slowing down has actually soothed their anxiety.
                        p
                            | What’s apparent though is that with most high street stores and restaurants closing, we’re being forced to rely on ourselves more for our food and entertainment. The Coronavirus pandemic has shined a light on how much most of us have been relying on eating out.
                        p
                            | These next few weeks or months are now the time to learn skills. There’s not much else to do, and the commercial world has recognised this. Normally costly services are now offering free courses, premium accounts for various productivity apps have become free, and so on.
                        p
                            | One thing that you can learn, and something that will always be free (ish), is how to cook better. Cooking delicious meals is something we all wish we could do, but many felt they don’t have time for. Well, now is the time. It’s great to look for skills that will boost your income, but what about your costs? Learning to cook is one of the largest life-changing skills that can result in tons of saved money.

                        

                .col-lg-3.d-none.d-lg-block.text-center
                    +img('articles/covid','png','','alt')

        // section
        section
            h2
                | Leaning to cook — Where to start?
            p
                | If you’re looking to learn how to cook, then 
                a(href="https://mealkitscanada.ca/") meal kits
                |&nbsp; are a great place to start. Meal kits are essentially smart online grocery stores, where you order the meals you want to cook instead of individual items. The supplier themselves will send you the exact ingredients for the meal – and I mean exact.
            p
                | There’s no waste here. If your fish pie needs 2 garlics, you’re only getting 2 garlics. This goes for the herb seasonings too. It’s a super easy way to start cooking better because you can’t mess up the ingredients. Plus, they will send you the recipe. You’ll be amazed at what delicious meals you’re making and how easy it was.
            p
                | This is actually better than just clicking on 
                a(href="https://www.youtube.com/watch?v=zQm9Bk2bA_Q") Youtube videos
                |&nbsp; (we have our 
                a(href="https://www.youtube.com/watch?v=1XhpNYvFBjw") own channel too
                |!). Instead of watching someone cook something awesome, then have to go out and buy all the stuff for that one recipe (usually a bunch of herbs that you don’t have and will never use again), you can simply read a recipe. By deciding the meal you want to cook first, instead of choosing a tutorial on stuff you already have in stock, you will be more motivated.


        // section
        section
            h2
                | Are meal kits healthier and more ethical?
            p
                | It does help that most meal kit companies supply extremely fresh food. They usually have an emphasis on being an alternative to factory farmed, processed. This is mostly true, although there are of course implications that delivery has. The CO2 footprint isn’t as small as it could be, but we are in a time of global health pandemic right now with air pollution decreasing by the day – it’s justifiable to get your groceries delivered. Given that most of northern America and Canada drive to the shops anyway, it could arguably be more efficient for a courier to deliver everything in one go than for everyone to drive to the store independently.
            p
                a.btn.btn_primary.btn_noshadow.mr-3.mob-w-100.mb-3(href="/go/hellofresh" target='_blank' rel="noopener")
                    | Visit hellofresh website
                a.btn.btn_primary-outline.mob-w-100.mb-3(href='https://mealkitscanada.ca/hello-fresh-canada-review/')
                    | Read our Hello Fresh review
           
        // section
        section
            h2
                | Benefits of meal kits during the Coronavirus crisis
            .box.mb-3.p-3
                .iconed-text.align-items-start
                    +icon('coronavirus', 'icon_fill-secondary icon_standart icon_md')
                    .text
                        p
                            strong Spreading the virus
                        p
                            | Think about how many people you come into contact with when grocery shopping. You’re constantly squeezing past people in aisles, workers are stocking the shelves next to you, and you pay at the till where some scans each and every one of your items. If you’re on self-checkout, just think of the germs on the touch screen display.
                        p
                            | Meal kits avoid most of this. You don’t even need to answer the door to the courier, you can leave a note asking them to leave the box on your doorstep and walk away. There’s only the person that packed your food, but it’s likely they were doing it very quickly and with gloves on. This isn’t guaranteed, but there’s 
                            strong no doubt that going to the supermarket is more conducive to spreading the disease as opposed to meal kit delivery.
            .box.mb-3.p-3
                .iconed-text.align-items-start
                    +icon('money', 'icon_fill-secondary icon_standart icon_md')
                    .text
                        p
                            strong Save money &amp; ethics
                        p
                            | Given that there’s an imminent economic crash, as well as many being told not to go to work and earn money, it’s a good time to save money. In fact, we already are by not going out as much. Meal kits can be a great way to save money, as they force you to cook fresh ingredients instead of buying takeaways. What’s more is that you’re not buying an excessive amount.
                        p
                            | This isn’t only about not paying for stuff you don’t need, but about recognising that there’s going to be supply issues. Many vulnerable people cannot get their hands on essentials because they’re panic-bough out of stock. Meal kits help give people what they need, and reduce waste and stockpiling.
            .box.mb-3.p-3
                .iconed-text.align-items-start
                    +icon('infinite', 'icon_fill-secondary icon_standart icon_md')
                    .text
                        p
                            strong A lifetime skill
                        p
                            | Given that we finally have the time, this is a great time to learn one of life’s most important skills. Teach a man to fish, as they say, will prepare you for not only money-saving skills throughout your whole life, but it would also be the single biggest improvement to your health that you can make. Cardiovascular disease is the 
                            a(href="https://www.cdc.gov/heartdisease/facts.htm") biggest killer
                            |&nbsp; in the west, and food is at the heart of it. The years ahead of you will reap compounded results, and it’d be impossible to regret spending your time on.

build/article-corona.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MKC</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#fff">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" media="all" href="assets/css/app.css">
  </head>
  <body>
    <div class="layout">
      <div class="layout__header">
        <!--BEGIN header-->
        <header class="header">
          <div class="container header__container"><a class="logo-link" href="#"><img class="logo" src="/assets/img/logos/logo.png" srcset="/assets/img/logos/logo@2x.png 2x" alt="" /></a>
            <ul class="main-menu">
              <li class="menu-item"><a class="is-current" href="#">Best Meal Kits</a></li>
              <li class="menu-item"><a href="#">Best Food Subscription Boxes</a></li>
              <li class="menu-item"><a href="#"> Meal Kits Delivery by Area</a></li>
              <li class="menu-item"><a href="#">Meal Kits Costs</a></li>
              <li class="menu-item"><a href="#">About Us</a></li>
            </ul>
            <div class="menu-trigger"><span></span></div>
          </div>
        </header>
        <!--END header-->
      </div>
      <main class="layout__main">
        <div class="container simple-article">
          <div class="hero_standart">
            <div class="row">
              <div class="col-12 col-lg-9">
                <h1 class="mb-2">Meal kits during Coronavirus times</h1>
                <div class="no-br">
                  <p> Being stuck in-doors during lockdown has brought on various unintended consequences. Many are getting increasingly bored and anxious being alone with themselves all the time, whilst others are realising that as an introvert, the outside world slowing down has actually soothed their anxiety.</p>
                  <p>What’s apparent though is that with most high street stores and restaurants closing, we’re being forced to rely on ourselves more for our food and entertainment. The Coronavirus pandemic has shined a light on how much most of us have been relying on eating out.</p>
                  <p>These next few weeks or months are now the time to learn skills. There’s not much else to do, and the commercial world has recognised this. Normally costly services are now offering free courses, premium accounts for various productivity apps have become free, and so on.</p>
                  <p>One thing that you can learn, and something that will always be free (ish), is how to cook better. Cooking delicious meals is something we all wish we could do, but many felt they don’t have time for. Well, now is the time. It’s great to look for skills that will boost your income, but what about your costs? Learning to cook is one of the largest life-changing skills that can result in tons of saved money.</p>
                </div>
              </div>
              <div class="col-lg-3 d-none d-lg-block text-center"><img srcset="/assets/img/articles/covid.png, /assets/img/articles/covid@2x.png 1.5x, /assets/img/articles/covid@2x.png 2x" src="/assets/img/articles/covid.png" alt="alt" /></div>
            </div>
          </div><!-- section-->
          <section>
            <h2>Leaning to cook — Where to start?</h2>
            <p>If you’re looking to learn how to cook, then <a href="https://mealkitscanada.ca/">meal kits</a>&nbsp; are a great place to start. Meal kits are essentially smart online grocery stores, where you order the meals you want to cook instead of individual items. The supplier themselves will send you the exact ingredients for the meal – and I mean exact.</p>
            <p>There’s no waste here. If your fish pie needs 2 garlics, you’re only getting 2 garlics. This goes for the herb seasonings too. It’s a super easy way to start cooking better because you can’t mess up the ingredients. Plus, they will send you the recipe. You’ll be amazed at what delicious meals you’re making and how easy it was.</p>
            <p>This is actually better than just clicking on <a href="https://www.youtube.com/watch?v=zQm9Bk2bA_Q">Youtube videos</a>&nbsp; (we have our <a href="https://www.youtube.com/watch?v=1XhpNYvFBjw">own channel too</a>!). Instead of watching someone cook something awesome, then have to go out and buy all the stuff for that one recipe (usually a bunch of herbs that you don’t have and will never use again), you can simply read a recipe. By deciding the meal you want to cook first, instead of choosing a tutorial on stuff you already have in stock, you will be more motivated.</p>
          </section><!-- section-->
          <section>
            <h2>Are meal kits healthier and more ethical?</h2>
            <p>It does help that most meal kit companies supply extremely fresh food. They usually have an emphasis on being an alternative to factory farmed, processed. This is mostly true, although there are of course implications that delivery has. The CO2 footprint isn’t as small as it could be, but we are in a time of global health pandemic right now with air pollution decreasing by the day – it’s justifiable to get your groceries delivered. Given that most of northern America and Canada drive to the shops anyway, it could arguably be more efficient for a courier to deliver everything in one go than for everyone to drive to the store independently.</p>
            <p><a class="btn btn_primary btn_noshadow mr-3 mob-w-100 mb-3" href="/go/hellofresh" target="_blank" rel="noopener">Visit hellofresh website</a><a class="btn btn_primary-outline mob-w-100 mb-3" href="https://mealkitscanada.ca/hello-fresh-canada-review/">Read our Hello Fresh review</a></p>
          </section><!-- section-->
          <section>
            <h2>Benefits of meal kits during the Coronavirus crisis</h2>
            <div class="box mb-3 p-3">
              <div class="iconed-text align-items-start"><svg class="icon icon-coronavirus icon_fill-secondary icon_standart icon_md">
                  <use xlink:href="/assets/img/sprite.svg#icon-coronavirus"></use>
                </svg>
                <div class="text">
                  <p><strong>Spreading the virus</strong></p>
                  <p>Think about how many people you come into contact with when grocery shopping. You’re constantly squeezing past people in aisles, workers are stocking the shelves next to you, and you pay at the till where some scans each and every one of your items. If you’re on self-checkout, just think of the germs on the touch screen display.</p>
                  <p>Meal kits avoid most of this. You don’t even need to answer the door to the courier, you can leave a note asking them to leave the box on your doorstep and walk away. There’s only the person that packed your food, but it’s likely they were doing it very quickly and with gloves on. This isn’t guaranteed, but there’s <strong>no doubt that going to the supermarket is more conducive to spreading the disease as opposed to meal kit delivery.</strong></p>
                </div>
              </div>
            </div>
            <div class="box mb-3 p-3">
              <div class="iconed-text align-items-start"><svg class="icon icon-money icon_fill-secondary icon_standart icon_md">
                  <use xlink:href="/assets/img/sprite.svg#icon-money"></use>
                </svg>
                <div class="text">
                  <p><strong>Save money &amp; ethics</strong></p>
                  <p>Given that there’s an imminent economic crash, as well as many being told not to go to work and earn money, it’s a good time to save money. In fact, we already are by not going out as much. Meal kits can be a great way to save money, as they force you to cook fresh ingredients instead of buying takeaways. What’s more is that you’re not buying an excessive amount.</p>
                  <p>This isn’t only about not paying for stuff you don’t need, but about recognising that there’s going to be supply issues. Many vulnerable people cannot get their hands on essentials because they’re panic-bough out of stock. Meal kits help give people what they need, and reduce waste and stockpiling.</p>
                </div>
              </div>
            </div>
            <div class="box mb-3 p-3">
              <div class="iconed-text align-items-start"><svg class="icon icon-infinite icon_fill-secondary icon_standart icon_md">
                  <use xlink:href="/assets/img/sprite.svg#icon-infinite"></use>
                </svg>
                <div class="text">
                  <p><strong>A lifetime skill</strong></p>
                  <p>Given that we finally have the time, this is a great time to learn one of life’s most important skills. Teach a man to fish, as they say, will prepare you for not only money-saving skills throughout your whole life, but it would also be the single biggest improvement to your health that you can make. Cardiovascular disease is the <a href="https://www.cdc.gov/heartdisease/facts.htm">biggest killer</a>&nbsp; in the west, and food is at the heart of it. The years ahead of you will reap compounded results, and it’d be impossible to regret spending your time on.</p>
                </div>
              </div>
            </div>
          </section>
        </div>
      </main>
      <div class="layout__footer">
        <!--BEGIN footer-->
        <footer class="footer">
          <div class="footer-top">
            <div class="container footer-top__container">
              <div class="footer-top__menu">
                <div class="footer-top__title">Meal Kit Companies We Cover</div>
                <ul>
                  <li><a href="#">Hello Fresh Canada Review</a></li>
                  <li><a href="#">Chef’s Plate Review</a></li>
                  <li><a href="#">Goodfood Canada Review</a></li>
                  <li><a href="#">Fresh City Farms Review</a></li>
                  <li><a href="#">Miss Fresh Meal Kits Review</a></li>
                  <li><a href="#">Prepd Meal Kits Review</a></li>
                  <li><a href="#">Plated Review</a></li>
                  <li><a href="#">Home Chef Canada Review</a></li>
                  <li><a href="#">Blue Apron Canada Review</a></li>
                </ul>
              </div>
              <div class="footer-top__menu">
                <div class="footer-top__title">Region-specific Guides</div>
                <ul>
                  <li><a href="#">Winnipeg, Regina, and Saskatoon Meal Kits Reviews 2020</a></li>
                  <li><a href="#">Halifax and the Maritimes Meal Kits Reviews 2020</a></li>
                  <li><a href="#">Meal Kits Deliveries by Areas in Canada</a></li>
                  <li><a href="#">Calgary and Edmonton Meal Kits Review 2020</a></li>
                  <li><a href="#">Montreal and Quebec Meal Kits Review 2020</a></li>
                  <li><a href="#">Vancouver Meal Kits Reviews 2020</a></li>
                  <li><a href="#">Toronto Meal Kits Review 2020</a></li>
                </ul>
              </div>
              <div class="footer-top__menu">
                <div class="footer-top__title">Additional Health Articles</div>
                <ul>
                  <li><a href="#">The Importance of Fresh Foods Vs. Canned and Frozen Food</a></li>
                  <li><a href="#">Are Meal Kits Greener – Creating Less Waste and Emissions?</a></li>
                  <li><a href="#">Will your health be determined by your genetics?</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-bottom">
            <div class="container footer-bottom__container"><a class="logo-link" href="#"><img class="logo" src="/assets/img/logos/logo.png" srcset="/assets/img/logos/log@2x.png 2x" alt="" /></a>
              <div class="footer__disclaymer"><span class="color-primary">Site Disclaimer:</span>Do not use nutrition information and recommendations on this website if you suffer from a serious condition.<p>Some of the links on this website are referral links. We get paid to refer clients to certain companies (but our rating is ours and you cannot pay to be listed higher).</p>
              </div>
              <div class="footer__socials"><b>Follow Us!</b>
                <div class="socials socials_yellow"><a class="socials__item" href="#"><svg class="icon icon-fb ">
                      <use xlink:href="/assets/img/sprite.svg#icon-fb"></use>
                    </svg></a><a class="socials__item" href="#"><svg class="icon icon-inst ">
                      <use xlink:href="/assets/img/sprite.svg#icon-inst"></use>
                    </svg></a><a class="socials__item" href="#"><svg class="icon icon-tw ">
                      <use xlink:href="/assets/img/sprite.svg#icon-tw"></use>
                    </svg></a></div>
              </div>
            </div>
          </div>
          <div class="footer-copy">
            <div class="container"><small>© 2020 Meal Kits Canada</small></div>
          </div>
        </footer>
        <!--END footer-->
      </div>
    </div><!-- begin modal-->
    <div class="modal modal_video fade" id="video" tabindex="-1" role="dialog" aria-labelledby="videoLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header"><button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
          <div class="modal-body"><iframe width="100%" height="auto" src="https://www.youtube.com/embed/y0J3LoXjpl8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe></div>
        </div>
      </div>
    </div><!-- end modal-->
    <div class="tooltip_templates">
      <div id="tooltip_content">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia ipsam libero, ea sapiente iusto obcaecati aperiam natus eum voluptatem ipsum dolore dicta quasi molestias quos? Veniam distinctio esse expedita ducimus.</p>
      </div>
    </div>
    <!--LOAD SCRIPTS-->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/tooltipster@4.2.8/dist/js/tooltipster.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script type="text/javascript" src="assets/js/new-app.js"></script>
    <script>
      $(document).ready(function()
      {
        // tooltipster
        $('.info').tooltipster(
        {
          contentCloning: true,
          interactive: true,
          theme: 'tooltipster-shadow2',
          animation: 'grow',
          maxWidth: 230
        });
        $('.js-info').tooltipster(
        {
          contentCloning: true,
          interactive: true,
          theme: 'tooltipster-shadow2',
          animation: 'grow',
          maxWidth: 230
        });
        $('.tooltip-title').tooltipster(
        {
          interactive: true,
          theme: 'tooltipster-shadow2',
          animation: 'grow',
          maxWidth: 230
        });
        $('.js-tooltipster').tooltipster(
        {
          interactive: true,
          theme: 'tooltipster-shadow2',
          animation: 'grow',
          maxWidth: 300
        });
      });

    </script>
  </body>
</html>
