build/article-will_walmart_or.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MKC</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#fff">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" media="all" href="assets/css/app.css">
  </head>
  <body>
    <div class="layout">
      <div class="layout__header">
        <!--BEGIN header-->
        <header class="header">
          <div class="container header__container"><a class="logo-link" href="#"><img class="logo" src="/assets/img/logos/logo.png" srcset="/assets/img/logos/logo@2x.png 2x" alt="" /></a>
            <ul class="main-menu">
              <li class="menu-item"><a class="is-current" href="#">Best Meal Kits</a></li>
              <li class="menu-item"><a href="#">Best Food Subscription Boxes</a></li>
              <li class="menu-item"><a href="#"> Meal Kits Delivery by Area</a></li>
              <li class="menu-item"><a href="#">Meal Kits Costs</a></li>
              <li class="menu-item"><a href="#">About Us</a></li>
            </ul>
            <div class="menu-trigger"><span></span></div>
          </div>
        </header>
        <!--END header-->
      </div>
      <main class="layout__main">
        <div class="container simple-article">
          <div class="hero_standart">
            <h1 class="mb-2">Will Walmart or Amazon Start a Meal Kit Service in Canada?</h1>
            <div class="row">
              <div class="col-12 col-lg-8">
                <div class="no-br">
                  <p>If you’ve seen the television spots or podcast advertisements for companies like Hello Fresh and Goodfood, then you might have wondered if heavy hitters like Walmart or Amazon were going to start a<a href="https://mealkitscanada.ca/meal-kit-delivery/"> meal kit delivery service</a>.</p>
                  <p>Walmart and Amazon have started selling meal kits in the USA. However, it’s important to note that the term “meal kits” can mean different things to different people. For us here in Canada, Hello Fresh, Chefs Plate, and Goodfood have essentially defined the meal market as: </p>
                  <ol class="box-list-numbered">
                    <li class="box">Subscribe and enjoy a weekly box mailed to your home.</li>
                    <li class="box">Open box &amp; put the individual meal bags in your fridge.</li>
                    <li class="box">30 minutes before supper, open your meal kit</li>
                    <li class="box">Chop/stir/bake/grill your delicious supper while </li>
                  </ol>
                  <p>See our <a href="https://mealkitscanada.ca/hello-fresh-canada-review/">Hello Fresh Review</a>, <a href="https://mealkitscanada.ca/chefs-plate-review/">Chefs Plate Review</a>, and <a href="https://mealkitscanada.ca/goodfood-review/">Goodfood Review</a>for more details about the <a href="https://mealkitscanada.ca/">best Canadian meal kits</a>.</p>
                </div>
              </div>
              <div class="col-lg-4 d-none d-lg-block text-center"><img srcset="/assets/img/articles/wallmart.png, /assets/img/articles/wallmart@2x.png 1.5x, /assets/img/articles/wallmart@2x.png 2x" src="/assets/img/articles/wallmart.png" alt="alt" /></div>
            </div>
          </div><!-- section-->
          <section>
            <h2>What Does Walmart’s Meal Kit Service Look Like?</h2>
            <p> So far, Wal-Mart meal kits have only popped up in the USA – and don’t involve delivery to your house.  Even within that model, it can get a bit confusing as Wal-Mart has partnered with some existing<a href="https://mealkitscanada.ca/meal-kit-delivery/">meal kit delivery companies</a>such as Home Chef (not available in Canada) in addition to its own meal kits.</p>
            <p>Wal-Mart announced last year that they were going to be testing their meal kit produce in more than 2,000 locations. The idea is that you can simply walk into the store and go to the deli section, or order online and pick it up later that day. Their announcement stated that the global retailer would be focusing on three main niches within the meal kit world:</p>
            <div class="row articles-inline-iconed-text my-4">
              <div class="col-12 col-md-4 mb-3">
                <div class="iconed-text"><svg class="icon icon-dough ">
                    <use xlink:href="/assets/img/sprite.svg#icon-dough"></use>
                  </svg>
                  <div class="text">
                    <p class="mb-0">Pre-portioned meals that require minimal cooking.</p>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-4 mb-3">
                <div class="iconed-text"><svg class="icon icon-chicken-2 ">
                    <use xlink:href="/assets/img/sprite.svg#icon-chicken-2"></use>
                  </svg>
                  <div class="text">
                    <p class="mb-0">Ingredients that pair with the ever-popular classic rotisserie chicken.</p>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-4 mb-3">
                <div class="iconed-text"><svg class="icon icon-soup ">
                    <use xlink:href="/assets/img/sprite.svg#icon-soup"></use>
                  </svg>
                  <div class="text">
                    <p class="mb-0">Ready-made dishes that just need to be heated up.</p>
                  </div>
                </div>
              </div>
            </div>
            <p>A Walmart spokesperson went on the record in saying that, “We continue to expand our meals to go offering and customers can expect to enjoy some new menu options in the coming months.” </p>
            <p>By looking at a wide variety of first-person accounts online, it appears that these options all fall under the “ready-made” option and are basically varieties of the “take home meal” that has been popping up in major grocers for several years now.</p>
            <p>Walmart meal kits are generally slightly cheaper than their meal kit competition in the USA – which makes sense given that there is no delivery cost to account for. I’m actually surprised that they aren’t able to price their meals even lower given the scale that they operate on.</p>
            <p>Overall, I don’t think Walmart Canada’s meal kits are anything special, and are a long way from being a direct comparison to Hello Fresh and Chefs Plate. It looks to me like they’re slightly expanding their rotisserie chicken-style meals, and using the term “meal kit” to drive to drive new customers. Personally, a massive part of the reason I love meal kits is the convenience to get them delivered to my house, and avoid shopping trips altogether! Also, the wide variety of menus are vastly superior to what Walmart USA is putting on its shelves (hence their carrying a comparable company like Home Chef), so I would say it will be many years – if ever – before Walmart catches up to the rest of <a href="">Canada’s meal kits</a>.</p>
            <p>If I were Hello Fresh or Goodfood, I’d be much more worried about…</p>
          </section><!-- section-->
          <section>
            <h2>Amazon Meal Kits – The Real Competition</h2>
            <div class="row">
              <div class="col-12 col-lg-4 mb-3 text-center order-lg-2"><img srcset="/assets/img/articles/amazon.png, /assets/img/articles/amazon@2x.png 1.5x, /assets/img/articles/amazon@2x.png 2x" src="/assets/img/articles/amazon.png" alt="alt" /></div>
              <div class="col-12 col-lg-8">
                <p>If I was in charge of one of Canada’s meal kit delivery companies, I’d be most scared of a company that was the world leader is shipping logistics (getting stuff to your house FAST), and was quickly gaining experience in the world of groceries.</p>
                <p>Meet Amazon – the next big thing in… everything.</p>
                <p>While Amazon Canada does NOT currently stock or ship meal kits, it will likely launch some sort of grocery/meal kit hybrid at some point in the Great White North.</p>
                <p>In the last two years, the online retailer has purchased Whole Foods and has used that brand to launch their foray into meal kits. At first they tested their service in three states, and recently announced that they planned to expand their meal kit offerings to more than a dozen states. Clearly Amazon sees the potential that meal kits have in today’s time-strapped households that are willing to pay for convenience. You can pick up Amazon meal kits in Whole Foods stores and they are also available via AmazonFresh – But again, only in the USA.</p>
                <p>The reason that Amazon is such a scary competitor for Canada’s meal kits is that they have so much information on us as purchasers AND they have such a dominant role as THE company that delivers stuff to our homes. IF Amazon decides to enter the meal kit market wholeheartedly, they will be major competitors. </p>
                <p>I’m just not sure they will decide to go in that direction. Amazon has so many moving parts that meal kits might be relatively “small potatoes” for them. (See what I did there!)</p>
                <p>We will keep this article updated if any new announcements are made, but it appears for the time being that Amazon meal kits and Walmart meal kits are at least a year or two away from coming to Canada. </p>
              </div>
            </div>
          </section>
        </div>
      </main>
      <div class="layout__footer">
        <!--BEGIN footer-->
        <footer class="footer">
          <div class="footer-top">
            <div class="container footer-top__container">
              <div class="footer-top__menu">
                <div class="footer-top__title">Meal Kit Companies We Cover</div>
                <ul>
                  <li><a href="#">Hello Fresh Canada Review</a></li>
                  <li><a href="#">Chef’s Plate Review</a></li>
                  <li><a href="#">Goodfood Canada Review</a></li>
                  <li><a href="#">Fresh City Farms Review</a></li>
                  <li><a href="#">Miss Fresh Meal Kits Review</a></li>
                  <li><a href="#">Prepd Meal Kits Review</a></li>
                  <li><a href="#">Plated Review</a></li>
                  <li><a href="#">Home Chef Canada Review</a></li>
                  <li><a href="#">Blue Apron Canada Review</a></li>
                </ul>
              </div>
              <div class="footer-top__menu">
                <div class="footer-top__title">Region-specific Guides</div>
                <ul>
                  <li><a href="#">Winnipeg, Regina, and Saskatoon Meal Kits Reviews 2020</a></li>
                  <li><a href="#">Halifax and the Maritimes Meal Kits Reviews 2020</a></li>
                  <li><a href="#">Meal Kits Deliveries by Areas in Canada</a></li>
                  <li><a href="#">Calgary and Edmonton Meal Kits Review 2020</a></li>
                  <li><a href="#">Montreal and Quebec Meal Kits Review 2020</a></li>
                  <li><a href="#">Vancouver Meal Kits Reviews 2020</a></li>
                  <li><a href="#">Toronto Meal Kits Review 2020</a></li>
                </ul>
              </div>
              <div class="footer-top__menu">
                <div class="footer-top__title">Additional Health Articles</div>
                <ul>
                  <li><a href="#">The Importance of Fresh Foods Vs. Canned and Frozen Food</a></li>
                  <li><a href="#">Are Meal Kits Greener – Creating Less Waste and Emissions?</a></li>
                  <li><a href="#">Will your health be determined by your genetics?</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-bottom">
            <div class="container footer-bottom__container"><a class="logo-link" href="#"><img class="logo" src="/assets/img/logos/logo.png" srcset="/assets/img/logos/log@2x.png 2x" alt="" /></a>
              <div class="footer__disclaymer"><span class="color-primary">Site Disclaimer:</span>Do not use nutrition information and recommendations on this website if you suffer from a serious condition.<p>Some of the links on this website are referral links. We get paid to refer clients to certain companies (but our rating is ours and you cannot pay to be listed higher).</p>
              </div>
              <div class="footer__socials"><b>Follow Us!</b>
                <div class="socials socials_yellow"><a class="socials__item" href="#"><svg class="icon icon-fb ">
                      <use xlink:href="/assets/img/sprite.svg#icon-fb"></use>
                    </svg></a><a class="socials__item" href="#"><svg class="icon icon-inst ">
                      <use xlink:href="/assets/img/sprite.svg#icon-inst"></use>
                    </svg></a><a class="socials__item" href="#"><svg class="icon icon-tw ">
                      <use xlink:href="/assets/img/sprite.svg#icon-tw"></use>
                    </svg></a></div>
              </div>
            </div>
          </div>
          <div class="footer-copy">
            <div class="container"><small>© 2020 Meal Kits Canada</small></div>
          </div>
        </footer>
        <!--END footer-->
      </div>
    </div><!-- begin modal-->
    <div class="modal modal_video fade" id="video" tabindex="-1" role="dialog" aria-labelledby="videoLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header"><button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
          <div class="modal-body"><iframe width="100%" height="auto" src="https://www.youtube.com/embed/y0J3LoXjpl8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe></div>
        </div>
      </div>
    </div><!-- end modal-->
    <div class="tooltip_templates">
      <div id="tooltip_content">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia ipsam libero, ea sapiente iusto obcaecati aperiam natus eum voluptatem ipsum dolore dicta quasi molestias quos? Veniam distinctio esse expedita ducimus.</p>
      </div>
    </div>
    <!--LOAD SCRIPTS-->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/tooltipster@4.2.8/dist/js/tooltipster.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script type="text/javascript" src="assets/js/new-app.js"></script>
    <script>
      $(document).ready(function()
      {
        // tooltipster
        $('.info').tooltipster(
        {
          contentCloning: true,
          interactive: true,
          theme: 'tooltipster-shadow2',
          animation: 'grow',
          maxWidth: 230
        });
        $('.js-info').tooltipster(
        {
          contentCloning: true,
          interactive: true,
          theme: 'tooltipster-shadow2',
          animation: 'grow',
          maxWidth: 230
        });
        $('.tooltip-title').tooltipster(
        {
          interactive: true,
          theme: 'tooltipster-shadow2',
          animation: 'grow',
          maxWidth: 230
        });
        $('.js-tooltipster').tooltipster(
        {
          interactive: true,
          theme: 'tooltipster-shadow2',
          animation: 'grow',
          maxWidth: 300
        });
      });

    </script>
  </body>
</html>

src/templates/article-will_walmart_or.pug
---
title: Will Walmart or Amazon Start a Meal Kit Service in Canada?
---
extends layouts/_layout
block content
    .container.simple-article
        .hero_standart 
            h1.mb-2 Will Walmart or Amazon Start a Meal Kit Service in Canada?
            .row
                .col-12.col-lg-8
                    .no-br
                        p
                            | If you’ve seen the television spots or podcast advertisements for companies like Hello Fresh and Goodfood, then you might have wondered if heavy hitters like Walmart or Amazon were going to start a
                            a(href='https://mealkitscanada.ca/meal-kit-delivery/')  meal kit delivery service
                            | .
                        p
                            | Walmart and Amazon have started selling meal kits in the USA.  However, it’s important to note that the term “meal kits” can mean different things to different people.  For us here in Canada, Hello Fresh, Chefs Plate, and Goodfood have essentially defined the meal market as: 

                        ol.box-list-numbered
                            li.box
                                | Subscribe and enjoy a weekly box mailed to your home.
                            li.box
                                | Open box &amp; put the individual meal bags in your fridge.
                            li.box
                                | 30 minutes before supper, open your meal kit
                            li.box
                                | Chop/stir/bake/grill your delicious supper while 
                        p
                            |See our 
                            a(href='https://mealkitscanada.ca/hello-fresh-canada-review/')
                                | Hello Fresh Review
                            | , 
                            a(href='https://mealkitscanada.ca/chefs-plate-review/')
                                | Chefs Plate Review
                            | , and 
                            a(href='https://mealkitscanada.ca/goodfood-review/')
                                | Goodfood Review
                            | for more details about the 
                            a(href='https://mealkitscanada.ca/') best Canadian meal kits
                            | .


                        
                .col-lg-4.d-none.d-lg-block.text-center
                    +img('articles/wallmart','png','','alt')



        // section
        section
            h2
                | What Does Walmart’s Meal Kit Service Look Like?
            p
                |  So far, Wal-Mart meal kits have only popped up in the USA – and don’t involve delivery to your house.  Even within that model, it can get a bit confusing as Wal-Mart has partnered with some existing
                a(href='https://mealkitscanada.ca/meal-kit-delivery/')
                    | meal kit delivery companies
                | such as Home Chef (not available in Canada) in addition to its own meal kits.
            p
                | Wal-Mart announced last year that they were going to be testing their meal kit produce in more than 2,000 locations.  The idea is that you can simply walk into the store and go to the deli section, or order online and pick it up later that day.  Their announcement stated that the global retailer would be focusing on three main niches within the meal kit world:

            .row.articles-inline-iconed-text.my-4
                .col-12.col-md-4.mb-3
                    .iconed-text
                        +icon('dough')
                        .text
                            p.mb-0
                                | Pre-portioned meals that require minimal cooking.
                .col-12.col-md-4.mb-3
                    .iconed-text
                        +icon('chicken-2')
                        .text
                            p.mb-0
                                | Ingredients that pair with the ever-popular classic rotisserie chicken.
                .col-12.col-md-4.mb-3
                    .iconed-text
                        +icon('soup')
                        .text
                            p.mb-0
                                | Ready-made dishes that just need to be heated up.


            p
                | A Walmart spokesperson went on the record in saying that, “We continue to expand our meals to go offering and customers can expect to enjoy some new menu options in the coming months.”  
            p
                | By looking at a wide variety of first-person accounts online, it appears that these options all fall under the “ready-made” option and are basically varieties of the “take home meal” that has been popping up in major grocers for several years now.
            p
                | Walmart meal kits are generally slightly cheaper than their meal kit competition in the USA – which makes sense given that there is no delivery cost to account for.  I’m actually surprised that they aren’t able to price their meals even lower given the scale that they operate on.
            p
                | Overall, I don’t think Walmart Canada’s meal kits are anything special, and are a long way from being a direct comparison to Hello Fresh and Chefs Plate.  It looks to me like they’re slightly expanding their rotisserie chicken-style meals, and using the term “meal kit” to drive to drive new customers. Personally, a massive part of the reason I love meal kits is the convenience to get them delivered to my house, and avoid shopping trips altogether!  Also, the wide variety of menus are vastly superior to what Walmart USA is putting on its shelves (hence their carrying a comparable company like Home Chef), so I would say it will be many years – if ever – before Walmart catches up to the rest of 
                a(href="") Canada’s meal kits
                |.
            p
                | If I were Hello Fresh or Goodfood, I’d be much more worried about…


        // section
        section 
            h2
                | Amazon Meal Kits – The Real Competition

            .row
                .col-12.col-lg-4.mb-3.text-center.order-lg-2
                    +img('articles/amazon','png','','alt')
                .col-12.col-lg-8
                    p
                        | If I was in charge of one of Canada’s meal kit delivery companies, I’d be most scared of a company that was the world leader is shipping logistics (getting stuff to your house FAST), and was quickly gaining experience in the world of groceries.
                    p
                        | Meet Amazon – the next big thing in… everything.
                    p
                        | While Amazon Canada does NOT currently stock or ship meal kits, it will likely launch some sort of grocery/meal kit hybrid at some point in the Great White North.
                    p
                        | In the last two years, the online retailer has purchased Whole Foods and has used that brand to launch their foray into meal kits.  At first they tested their service in three states, and recently announced that they planned to expand their meal kit offerings to more than a dozen states.  Clearly Amazon sees the potential that meal kits have in today’s time-strapped households that are willing to pay for convenience. You can pick up Amazon meal kits in Whole Foods stores and they are also available via AmazonFresh – But again, only in the USA.
                    p
                        | The reason that Amazon is such a scary competitor for Canada’s meal kits is that they have so much information on us as purchasers AND they have such a dominant role as THE company that delivers stuff to our homes.  IF Amazon decides to enter the meal kit market wholeheartedly, they will be major competitors.  
                    p
                        | I’m just not sure they will decide to go in that direction.  Amazon has so many moving parts that meal kits might be relatively “small potatoes” for them. (See what I did there!)
                    p
                        | We will keep this article updated if any new announcements are made, but it appears for the time being that Amazon meal kits and Walmart meal kits are at least a year or two away from coming to Canada.  
                
