src/templates/article-freshprep-expand.pug
---
title: Fresh Prep meal kit delivery service expands to Alberta
---
extends layouts/_layout
block content
    .container.simple-article
        .hero_standart
            +icon('vs_cp1')
            +icon('vs_cp2')
            +icon('vs_cp3')
            +icon('vs_cp4')
            +icon('vs_gf1')
            h1.mb-2 Fresh Prep meal kit delivery service expands to Alberta
            .clearfix
                .block-float-right.d-none.d-lg-block.text-center.mb-3(style="width: 400px;")
                    +img('articles/contrib','jpg','','alt')
                    //- img(src=imgPath('articles/food-blogger.svg'), alt="")

                p #[a(href="https://www.freshprep.ca") Fresh Prep] is Vancouver’s homegrown meal kit delivery service and exists to deliver convenient and sustainable solutions to everyday food challenges.
                p Founded in 2015  by childhood friends Becky Brauer, Dhruv Sood and Husein Rahemtulla, Fresh Prep makes cooking easy by delivering pre-cut, pre-portioned ingredients to prepare fresh, quick and healthy meals to your door.
                p The meal delivery service is now expanding to Alberta, where we will continue to deliver meal kits made with love for food and the local community. The weekly menu consists of 10 meals with 5 vegetarian or vegan, and all ingredients come pre-cut and pre-portioned, eliminating many steps of the cooking process - making dinner time easier and quicker. Fresh Prep also offers a catalogue of Add-ons including quick ready to eat meals, salads, healthy snacks, juices and pantry staples.
                p From sourcing quality local goods, to delivering in reusable, recyclable and compostable packaging, we believe it’s possible to make convenient eating healthy and sustainable for the community we live in.
                p Currently, the meal delivery service company employs over 300 people in British Columbia and is constantly hiring. As part of its expansion to Alberta, Fresh Prep is opening a facility in Calgary, creating a boost to the local economy as well as an abundance of jobs and support for local Albertan businesses. Sustainability starts with suppliers; Fresh Prep supports those who use environmentally-friendly practices.


        // section
        section
            h2
                | Why Fresh Prep?
            .box.mb-3.p-4
                .iconed-text.align-items-start
                    +icon('delivery-truck', 'icon_fill-secondary icon_standart icon_md')
                    .text
                        p #[strong Local]
                        p Fresh Prep makes supporting local effortless, with over 75% of ingredients and Add-on items supplied by local companies.
            .box.mb-3.p-4
                .iconed-text.align-items-start
                    +icon('care', 'icon_fill-secondary icon_standart icon_md')
                    .text
                        p #[strong Sustainable]
                        p Ingredients are delivered in reusable, insulated cooler bags. Many recipes are delivered in the Zero Waste meal kit, to allow customers to enjoy a meal kit experience without the single-use plastic and waste.
            .box.mb-3.p-4
                .iconed-text.align-items-start
                    +icon('restraurant', 'icon_fill-secondary icon_standart icon_md')
                    .text
                        p #[strong Convenient]
                        p Fresh Prep makes it easy to eat a variety of delicious meals each week with the convenience of pre-chopped, pre-portioned ingredients, a variety of quick meals, salads, healthy snacks, and pantry staples.


        // section
        section
            h2
                | More than meal kits
            .info-block.mt-0
                .inner
                    p Fresh Prep’s Add-ons menu offers more options for breakfast, lunch, dinner, snacktime and dessert, keeping you fed all day long. Something delicious for everyone at the table, with new items added regularly. Developed in-house by the Fresh Prep culinary team, or carefully curated from local suppliers they love, including:
                    ul
                        li
                            .elem-icon.elem-icon_good
                                | Pie Junkie
                        li
                            .elem-icon.elem-icon_good
                                | Shef’s Fiery Kitchen
                        li
                            .elem-icon.elem-icon_good
                                | Turmeric
                    p Fresh Prep meal kits and Add-ons will be available for delivery in the following Alberta cities:
                    ul
                        li
                            .elem-icon.elem-icon_good
                                | Calgary
                        li
                            .elem-icon.elem-icon_good
                                | Edmonton
                        li
                            .elem-icon.elem-icon_good
                                | Red Deer


            .text-center
                a.btn.btn_primary.btn_lg(href="https://www.freshprep.ca/get-started" target=_blank rel="noindex nofollow")
                    | Back to the list of Meal kits coupons

build/article-freshprep-expand.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MKC</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#fff">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" media="all" href="assets/css/app.css">
  </head>
  <body>
    <div class="layout">
      <div class="layout__header">
        <!--BEGIN header-->
        <header class="header">
          <div class="container header__container"><a class="logo-link" href="#"><img class="logo" src="/assets/img/logos/logo.png" srcset="/assets/img/logos/logo@2x.png 2x" alt="" /></a>
            <ul class="main-menu">
              <li class="menu-item"><a class="is-current" href="#">Best Meal Kits</a></li>
              <li class="menu-item"><a href="#">Best Food Subscription Boxes</a></li>
              <li class="menu-item"><a href="#"> Meal Kits Delivery by Area</a></li>
              <li class="menu-item"><a href="#">Meal Kits Costs</a></li>
              <li class="menu-item"><a href="#">About Us</a></li>
            </ul>
            <div class="menu-trigger"><span></span></div>
          </div>
        </header>
        <!--END header-->
      </div>
      <main class="layout__main">
        <div class="container simple-article">
          <div class="hero_standart"><svg class="icon icon-vs_cp1 ">
              <use xlink:href="/assets/img/sprite.svg#icon-vs_cp1"></use>
            </svg><svg class="icon icon-vs_cp2 ">
              <use xlink:href="/assets/img/sprite.svg#icon-vs_cp2"></use>
            </svg><svg class="icon icon-vs_cp3 ">
              <use xlink:href="/assets/img/sprite.svg#icon-vs_cp3"></use>
            </svg><svg class="icon icon-vs_cp4 ">
              <use xlink:href="/assets/img/sprite.svg#icon-vs_cp4"></use>
            </svg><svg class="icon icon-vs_gf1 ">
              <use xlink:href="/assets/img/sprite.svg#icon-vs_gf1"></use>
            </svg>
            <h1 class="mb-2">Fresh Prep meal kit delivery service expands to Alberta</h1>
            <div class="clearfix">
              <div class="block-float-right d-none d-lg-block text-center mb-3" style="width: 400px;"><img srcset="/assets/img/articles/contrib.jpg, /assets/img/articles/contrib@2x.jpg 1.5x, /assets/img/articles/contrib@2x.jpg 2x" src="/assets/img/articles/contrib.jpg" alt="alt" /></div>
              <p><a href="https://www.freshprep.ca">Fresh Prep</a> is Vancouver’s homegrown meal kit delivery service and exists to deliver convenient and sustainable solutions to everyday food challenges.</p>
              <p>Founded in 2015 by childhood friends Becky Brauer, Dhruv Sood and Husein Rahemtulla, Fresh Prep makes cooking easy by delivering pre-cut, pre-portioned ingredients to prepare fresh, quick and healthy meals to your door.</p>
              <p>The meal delivery service is now expanding to Alberta, where we will continue to deliver meal kits made with love for food and the local community. The weekly menu consists of 10 meals with 5 vegetarian or vegan, and all ingredients come pre-cut and pre-portioned, eliminating many steps of the cooking process - making dinner time easier and quicker. Fresh Prep also offers a catalogue of Add-ons including quick ready to eat meals, salads, healthy snacks, juices and pantry staples.</p>
              <p>From sourcing quality local goods, to delivering in reusable, recyclable and compostable packaging, we believe it’s possible to make convenient eating healthy and sustainable for the community we live in.</p>
              <p>Currently, the meal delivery service company employs over 300 people in British Columbia and is constantly hiring. As part of its expansion to Alberta, Fresh Prep is opening a facility in Calgary, creating a boost to the local economy as well as an abundance of jobs and support for local Albertan businesses. Sustainability starts with suppliers; Fresh Prep supports those who use environmentally-friendly practices.</p>
            </div>
          </div><!-- section-->
          <section>
            <h2>Why Fresh Prep?</h2>
            <div class="box mb-3 p-4">
              <div class="iconed-text align-items-start"><svg class="icon icon-delivery-truck icon_fill-secondary icon_standart icon_md">
                  <use xlink:href="/assets/img/sprite.svg#icon-delivery-truck"></use>
                </svg>
                <div class="text">
                  <p><strong>Local</strong></p>
                  <p>Fresh Prep makes supporting local effortless, with over 75% of ingredients and Add-on items supplied by local companies.</p>
                </div>
              </div>
            </div>
            <div class="box mb-3 p-4">
              <div class="iconed-text align-items-start"><svg class="icon icon-care icon_fill-secondary icon_standart icon_md">
                  <use xlink:href="/assets/img/sprite.svg#icon-care"></use>
                </svg>
                <div class="text">
                  <p><strong>Sustainable</strong></p>
                  <p>Ingredients are delivered in reusable, insulated cooler bags. Many recipes are delivered in the Zero Waste meal kit, to allow customers to enjoy a meal kit experience without the single-use plastic and waste.</p>
                </div>
              </div>
            </div>
            <div class="box mb-3 p-4">
              <div class="iconed-text align-items-start"><svg class="icon icon-restraurant icon_fill-secondary icon_standart icon_md">
                  <use xlink:href="/assets/img/sprite.svg#icon-restraurant"></use>
                </svg>
                <div class="text">
                  <p><strong>Convenient</strong></p>
                  <p>Fresh Prep makes it easy to eat a variety of delicious meals each week with the convenience of pre-chopped, pre-portioned ingredients, a variety of quick meals, salads, healthy snacks, and pantry staples.</p>
                </div>
              </div>
            </div>
          </section><!-- section-->
          <section>
            <h2>More than meal kits</h2>
            <div class="info-block mt-0">
              <div class="inner">
                <p>Fresh Prep’s Add-ons menu offers more options for breakfast, lunch, dinner, snacktime and dessert, keeping you fed all day long. Something delicious for everyone at the table, with new items added regularly. Developed in-house by the Fresh Prep culinary team, or carefully curated from local suppliers they love, including:</p>
                <ul>
                  <li>
                    <div class="elem-icon elem-icon_good">Pie Junkie</div>
                  </li>
                  <li>
                    <div class="elem-icon elem-icon_good">Shef’s Fiery Kitchen</div>
                  </li>
                  <li>
                    <div class="elem-icon elem-icon_good">Turmeric</div>
                  </li>
                </ul>
                <p>Fresh Prep meal kits and Add-ons will be available for delivery in the following Alberta cities:</p>
                <ul>
                  <li>
                    <div class="elem-icon elem-icon_good">Calgary</div>
                  </li>
                  <li>
                    <div class="elem-icon elem-icon_good">Edmonton</div>
                  </li>
                  <li>
                    <div class="elem-icon elem-icon_good">Red Deer</div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="text-center"><a class="btn btn_primary btn_lg" href="https://www.freshprep.ca/get-started" rel="noindex nofollow">Back to the list of Meal kits coupons</a></div>
          </section>
        </div>
      </main>
      <div class="layout__footer">
        <!--BEGIN footer-->
        <footer class="footer">
          <div class="footer-top">
            <div class="container footer-top__container">
              <div class="footer-top__menu">
                <div class="footer-top__title">Meal Kit Companies We Cover</div>
                <ul>
                  <li><a href="#">Hello Fresh Canada Review</a></li>
                  <li><a href="#">Chef’s Plate Review</a></li>
                  <li><a href="#">Goodfood Canada Review</a></li>
                  <li><a href="#">Fresh City Farms Review</a></li>
                  <li><a href="#">Miss Fresh Meal Kits Review</a></li>
                  <li><a href="#">Prepd Meal Kits Review</a></li>
                  <li><a href="#">Plated Review</a></li>
                  <li><a href="#">Home Chef Canada Review</a></li>
                  <li><a href="#">Blue Apron Canada Review</a></li>
                </ul>
              </div>
              <div class="footer-top__menu">
                <div class="footer-top__title">Region-specific Guides</div>
                <ul>
                  <li><a href="#">Winnipeg, Regina, and Saskatoon Meal Kits Reviews 2020</a></li>
                  <li><a href="#">Halifax and the Maritimes Meal Kits Reviews 2020</a></li>
                  <li><a href="#">Meal Kits Deliveries by Areas in Canada</a></li>
                  <li><a href="#">Calgary and Edmonton Meal Kits Review 2020</a></li>
                  <li><a href="#">Montreal and Quebec Meal Kits Review 2020</a></li>
                  <li><a href="#">Vancouver Meal Kits Reviews 2020</a></li>
                  <li><a href="#">Toronto Meal Kits Review 2020</a></li>
                </ul>
              </div>
              <div class="footer-top__menu">
                <div class="footer-top__title">Additional Health Articles</div>
                <ul>
                  <li><a href="#">The Importance of Fresh Foods Vs. Canned and Frozen Food</a></li>
                  <li><a href="#">Are Meal Kits Greener – Creating Less Waste and Emissions?</a></li>
                  <li><a href="#">Will your health be determined by your genetics?</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-bottom">
            <div class="container footer-bottom__container"><a class="logo-link" href="#"><img class="logo" src="/assets/img/logos/logo.png" srcset="/assets/img/logos/log@2x.png 2x" alt="" /></a>
              <div class="footer__disclaymer"><span class="color-primary">Site Disclaimer:</span>Do not use nutrition information and recommendations on this website if you suffer from a serious condition.<p>Some of the links on this website are referral links. We get paid to refer clients to certain companies (but our rating is ours and you cannot pay to be listed higher).</p>
              </div>
              <div class="footer__socials"><b>Follow Us!</b>
                <div class="socials socials_yellow"><a class="socials__item" href="#"><svg class="icon icon-fb ">
                      <use xlink:href="/assets/img/sprite.svg#icon-fb"></use>
                    </svg></a><a class="socials__item" href="#"><svg class="icon icon-inst ">
                      <use xlink:href="/assets/img/sprite.svg#icon-inst"></use>
                    </svg></a><a class="socials__item" href="#"><svg class="icon icon-tw ">
                      <use xlink:href="/assets/img/sprite.svg#icon-tw"></use>
                    </svg></a></div>
              </div>
            </div>
          </div>
          <div class="footer-copy">
            <div class="container"><small>© 2020 Meal Kits Canada</small></div>
          </div>
        </footer>
        <!--END footer-->
      </div>
    </div><!-- begin modal-->
    <div class="modal modal_video fade" id="video" tabindex="-1" role="dialog" aria-labelledby="videoLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header"><button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
          <div class="modal-body"><iframe width="100%" height="auto" src="https://www.youtube.com/embed/y0J3LoXjpl8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe></div>
        </div>
      </div>
    </div><!-- end modal-->
    <div class="tooltip_templates">
      <div id="tooltip_content">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia ipsam libero, ea sapiente iusto obcaecati aperiam natus eum voluptatem ipsum dolore dicta quasi molestias quos? Veniam distinctio esse expedita ducimus.</p>
      </div>
    </div>
    <!--LOAD SCRIPTS-->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/tooltipster@4.2.8/dist/js/tooltipster.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script type="text/javascript" src="assets/js/new-app.js"></script>
    <script>
      $(document).ready(function()
      {
        // tooltipster
        $('.info').tooltipster(
        {
          contentCloning: true,
          interactive: true,
          theme: 'tooltipster-shadow2',
          animation: 'grow',
          maxWidth: 230
        });
        $('.js-info').tooltipster(
        {
          contentCloning: true,
          interactive: true,
          theme: 'tooltipster-shadow2',
          animation: 'grow',
          maxWidth: 230
        });
        $('.tooltip-title').tooltipster(
        {
          interactive: true,
          theme: 'tooltipster-shadow2',
          animation: 'grow',
          maxWidth: 230
        });
        $('.js-tooltipster').tooltipster(
        {
          interactive: true,
          theme: 'tooltipster-shadow2',
          animation: 'grow',
          maxWidth: 300
        });
      });

    </script>
  </body>
</html>
