src/templates/article-will_yout_health.pug
---
title: Will your health be determined by your genetics?
---
extends layouts/_layout
block content
    .container.simple-article
        .hero_standart 
            h1.mb-2 Will your health be determined by your genetics?
            .row
                .col-12.col-lg-8
                    .no-br
                        p
                            | Is your health going to be impacted by your nature (genetic markup) or nurture (your habits) to a larger degree? which this question doesn’t have a definite answer, and it heavily depends on the individual and his circumstances, it’s something worth wondering. After all, if it’s all about nature, then why bother adopting healthy habits? if it’s all about nurture, how can it be explained that many people who keep a strict diet and training regiment are die sooner than some who don’t?

                        p
                            | In this article we will try to address whether health is about genetics or nurture to our best ability.

                        .box.p-4.my-4
                            | Read more: 
                            a(href="http://comparednakits.com/the-truth-about-genetics-and-disease-is-it-nature-or-nurture/") is your health defined by your nature or nurture 
                            | on CompareDNAKits.com


                .col-lg-4.d-none.d-lg-block.text-center
                    +img('articles/will-your-health','png','','alt')

            p
                | BRCA mutations that lead to ovarian and breast cancers are the most known cancer mutation which the largest percentage of the female population testing for defects in them. In general, the prevalence of defects in these genes (BRCA1 and BRCA2)  is 0.1% among the general population, while the percent of women of who will go through breast cancer is 2% of the population. That means, that the vast majority of patients did not have BRCA mutations. Most of them will not have any known defects in other genes as well.
            ul.checks-list.checks-list_inside
                li
                    .elem-icon.elem-icon_good
                        | Some diseases, however, are purely genetic. This 
                        a(href="https://www.healthdirect.gov.au/genetic-disorders") list 
                        | demonstrates there are many birth defects which can occur before birth.
                li
                    .elem-icon.elem-icon_good
                        | Some diseases are a direct result of nurture. Diabetes type 2 is 
                        a(href="https://www.sentara.com/healthwellness/data/blogs/is-diabetes-hereditary-the-nature-vs-nurture-debate.aspx") associated 
                        | with obesity and is a direct result of it.
                li
                    .elem-icon.elem-icon_good
                        | Other diseases, we simply don’t know enough about. Parkinson’s disease is 
                        a(href="https://ghr.nlm.nih.gov/condition/parkinson-disease#inheritance") associated 
                        | with alterations in genes LRKK2 and SCNA, but the truth is that the inheritance pattern is unknown.
            p
                | The fact you have a disposition for a certain disease doesn’t mean that it will eventually turn into a disease, at all. 
                a(href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3821017/") Antioxidants 
                |, whose consumption falls under the “nurture” part of the equations, will fight DNA damage. Additoinally, here’s a concept called DNA methylation which essentially say that small methyl groups in the 
                a(href="https://en.wikipedia.org/wiki/DNA_methylation") DNA molecules 
                | can actively change its sequence – in other words, your DNA changes through the progress of your life – and what’s impacting it? truth, it’s all about nurture through nutrition, exercise, and sleep.



        // section
        section
            h2
                | Which food is best for my genetics?
            p
                |  One of the most important things you can consume is fiber. Most people, even in the richer parts of the globe, suffer from low levels of fiber, in spite of the fact it has been proven to be a direct way to prevent colon cancer and heart diseases. It has also been proved that fiber as a supplement is less effective than consuming it through food. Another important thing you should pay attention to is vitamins and minerals, which have shown direct significance towards reducing the chances autoimmune diseases.

            .row.justify-content-center
                .col-12.col-lg-11
                    .info-block
                        .inner
                            | If you are unable to cook yourself fresh food that contains all the nutritional elements which are important for your body, consider using 
                            a(href="https://mealkitscanada.ca/") meal kits
                            | which are built my nutrition experts.

build/article-will_yout_health.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MKC</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#fff">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" media="all" href="assets/css/app.css">
  </head>
  <body>
    <div class="layout">
      <div class="layout__header">
        <!--BEGIN header-->
        <header class="header">
          <div class="container header__container"><a class="logo-link" href="#"><img class="logo" src="/assets/img/logos/logo.png" srcset="/assets/img/logos/logo@2x.png 2x" alt="" /></a>
            <ul class="main-menu">
              <li class="menu-item"><a class="is-current" href="#">Best Meal Kits</a></li>
              <li class="menu-item"><a href="#">Best Food Subscription Boxes</a></li>
              <li class="menu-item"><a href="#"> Meal Kits Delivery by Area</a></li>
              <li class="menu-item"><a href="#">Meal Kits Costs</a></li>
              <li class="menu-item"><a href="#">About Us</a></li>
            </ul>
            <div class="menu-trigger"><span></span></div>
          </div>
        </header>
        <!--END header-->
      </div>
      <main class="layout__main">
        <div class="container simple-article">
          <div class="hero_standart">
            <h1 class="mb-2">Will your health be determined by your genetics?</h1>
            <div class="row">
              <div class="col-12 col-lg-8">
                <div class="no-br">
                  <p>Is your health going to be impacted by your nature (genetic markup) or nurture (your habits) to a larger degree? which this question doesn’t have a definite answer, and it heavily depends on the individual and his circumstances, it’s something worth wondering. After all, if it’s all about nature, then why bother adopting healthy habits? if it’s all about nurture, how can it be explained that many people who keep a strict diet and training regiment are die sooner than some who don’t?</p>
                  <p>In this article we will try to address whether health is about genetics or nurture to our best ability.</p>
                  <div class="box p-4 my-4">Read more: <a href="http://comparednakits.com/the-truth-about-genetics-and-disease-is-it-nature-or-nurture/">is your health defined by your nature or nurture </a>on CompareDNAKits.com</div>
                </div>
              </div>
              <div class="col-lg-4 d-none d-lg-block text-center"><img srcset="/assets/img/articles/will-your-health.png, /assets/img/articles/will-your-health@2x.png 1.5x, /assets/img/articles/will-your-health@2x.png 2x" src="/assets/img/articles/will-your-health.png" alt="alt" /></div>
            </div>
            <p>BRCA mutations that lead to ovarian and breast cancers are the most known cancer mutation which the largest percentage of the female population testing for defects in them. In general, the prevalence of defects in these genes (BRCA1 and BRCA2) is 0.1% among the general population, while the percent of women of who will go through breast cancer is 2% of the population. That means, that the vast majority of patients did not have BRCA mutations. Most of them will not have any known defects in other genes as well.</p>
            <ul class="checks-list checks-list_inside">
              <li>
                <div class="elem-icon elem-icon_good">Some diseases, however, are purely genetic. This <a href="https://www.healthdirect.gov.au/genetic-disorders">list </a>demonstrates there are many birth defects which can occur before birth.</div>
              </li>
              <li>
                <div class="elem-icon elem-icon_good">Some diseases are a direct result of nurture. Diabetes type 2 is <a href="https://www.sentara.com/healthwellness/data/blogs/is-diabetes-hereditary-the-nature-vs-nurture-debate.aspx">associated </a>with obesity and is a direct result of it.</div>
              </li>
              <li>
                <div class="elem-icon elem-icon_good">Other diseases, we simply don’t know enough about. Parkinson’s disease is <a href="https://ghr.nlm.nih.gov/condition/parkinson-disease#inheritance">associated </a>with alterations in genes LRKK2 and SCNA, but the truth is that the inheritance pattern is unknown.</div>
              </li>
            </ul>
            <p>The fact you have a disposition for a certain disease doesn’t mean that it will eventually turn into a disease, at all. <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3821017/">Antioxidants </a>, whose consumption falls under the “nurture” part of the equations, will fight DNA damage. Additoinally, here’s a concept called DNA methylation which essentially say that small methyl groups in the <a href="https://en.wikipedia.org/wiki/DNA_methylation">DNA molecules </a>can actively change its sequence – in other words, your DNA changes through the progress of your life – and what’s impacting it? truth, it’s all about nurture through nutrition, exercise, and sleep.</p>
          </div><!-- section-->
          <section>
            <h2>Which food is best for my genetics?</h2>
            <p> One of the most important things you can consume is fiber. Most people, even in the richer parts of the globe, suffer from low levels of fiber, in spite of the fact it has been proven to be a direct way to prevent colon cancer and heart diseases. It has also been proved that fiber as a supplement is less effective than consuming it through food. Another important thing you should pay attention to is vitamins and minerals, which have shown direct significance towards reducing the chances autoimmune diseases.</p>
            <div class="row justify-content-center">
              <div class="col-12 col-lg-11">
                <div class="info-block">
                  <div class="inner">If you are unable to cook yourself fresh food that contains all the nutritional elements which are important for your body, consider using <a href="https://mealkitscanada.ca/">meal kits</a>which are built my nutrition experts.</div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </main>
      <div class="layout__footer">
        <!--BEGIN footer-->
        <footer class="footer">
          <div class="footer-top">
            <div class="container footer-top__container">
              <div class="footer-top__menu">
                <div class="footer-top__title">Meal Kit Companies We Cover</div>
                <ul>
                  <li><a href="#">Hello Fresh Canada Review</a></li>
                  <li><a href="#">Chef’s Plate Review</a></li>
                  <li><a href="#">Goodfood Canada Review</a></li>
                  <li><a href="#">Fresh City Farms Review</a></li>
                  <li><a href="#">Miss Fresh Meal Kits Review</a></li>
                  <li><a href="#">Prepd Meal Kits Review</a></li>
                  <li><a href="#">Plated Review</a></li>
                  <li><a href="#">Home Chef Canada Review</a></li>
                  <li><a href="#">Blue Apron Canada Review</a></li>
                </ul>
              </div>
              <div class="footer-top__menu">
                <div class="footer-top__title">Region-specific Guides</div>
                <ul>
                  <li><a href="#">Winnipeg, Regina, and Saskatoon Meal Kits Reviews 2020</a></li>
                  <li><a href="#">Halifax and the Maritimes Meal Kits Reviews 2020</a></li>
                  <li><a href="#">Meal Kits Deliveries by Areas in Canada</a></li>
                  <li><a href="#">Calgary and Edmonton Meal Kits Review 2020</a></li>
                  <li><a href="#">Montreal and Quebec Meal Kits Review 2020</a></li>
                  <li><a href="#">Vancouver Meal Kits Reviews 2020</a></li>
                  <li><a href="#">Toronto Meal Kits Review 2020</a></li>
                </ul>
              </div>
              <div class="footer-top__menu">
                <div class="footer-top__title">Additional Health Articles</div>
                <ul>
                  <li><a href="#">The Importance of Fresh Foods Vs. Canned and Frozen Food</a></li>
                  <li><a href="#">Are Meal Kits Greener – Creating Less Waste and Emissions?</a></li>
                  <li><a href="#">Will your health be determined by your genetics?</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-bottom">
            <div class="container footer-bottom__container"><a class="logo-link" href="#"><img class="logo" src="/assets/img/logos/logo.png" srcset="/assets/img/logos/log@2x.png 2x" alt="" /></a>
              <div class="footer__disclaymer"><span class="color-primary">Site Disclaimer:</span>Do not use nutrition information and recommendations on this website if you suffer from a serious condition.<p>Some of the links on this website are referral links. We get paid to refer clients to certain companies (but our rating is ours and you cannot pay to be listed higher).</p>
              </div>
              <div class="footer__socials"><b>Follow Us!</b>
                <div class="socials socials_yellow"><a class="socials__item" href="#"><svg class="icon icon-fb ">
                      <use xlink:href="/assets/img/sprite.svg#icon-fb"></use>
                    </svg></a><a class="socials__item" href="#"><svg class="icon icon-inst ">
                      <use xlink:href="/assets/img/sprite.svg#icon-inst"></use>
                    </svg></a><a class="socials__item" href="#"><svg class="icon icon-tw ">
                      <use xlink:href="/assets/img/sprite.svg#icon-tw"></use>
                    </svg></a></div>
              </div>
            </div>
          </div>
          <div class="footer-copy">
            <div class="container"><small>© 2020 Meal Kits Canada</small></div>
          </div>
        </footer>
        <!--END footer-->
      </div>
    </div><!-- begin modal-->
    <div class="modal modal_video fade" id="video" tabindex="-1" role="dialog" aria-labelledby="videoLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header"><button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
          <div class="modal-body"><iframe width="100%" height="auto" src="https://www.youtube.com/embed/y0J3LoXjpl8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe></div>
        </div>
      </div>
    </div><!-- end modal-->
    <div class="tooltip_templates">
      <div id="tooltip_content">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia ipsam libero, ea sapiente iusto obcaecati aperiam natus eum voluptatem ipsum dolore dicta quasi molestias quos? Veniam distinctio esse expedita ducimus.</p>
      </div>
    </div>
    <!--LOAD SCRIPTS-->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/tooltipster@4.2.8/dist/js/tooltipster.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script type="text/javascript" src="assets/js/new-app.js"></script>
    <script>
      $(document).ready(function()
      {
        // tooltipster
        $('.info').tooltipster(
        {
          contentCloning: true,
          interactive: true,
          theme: 'tooltipster-shadow2',
          animation: 'grow',
          maxWidth: 230
        });
        $('.js-info').tooltipster(
        {
          contentCloning: true,
          interactive: true,
          theme: 'tooltipster-shadow2',
          animation: 'grow',
          maxWidth: 230
        });
        $('.tooltip-title').tooltipster(
        {
          interactive: true,
          theme: 'tooltipster-shadow2',
          animation: 'grow',
          maxWidth: 230
        });
        $('.js-tooltipster').tooltipster(
        {
          interactive: true,
          theme: 'tooltipster-shadow2',
          animation: 'grow',
          maxWidth: 300
        });
      });

    </script>
  </body>
</html>
