build/article-will_are_meal_greener.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MKC</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#fff">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" media="all" href="assets/css/app.css">
  </head>
  <body>
    <div class="layout">
      <div class="layout__header">
        <!--BEGIN header-->
        <header class="header">
          <div class="container header__container"><a class="logo-link" href="#"><img class="logo" src="/assets/img/logos/logo.png" srcset="/assets/img/logos/logo@2x.png 2x" alt="" /></a>
            <ul class="main-menu">
              <li class="menu-item"><a class="is-current" href="#">Best Meal Kits</a></li>
              <li class="menu-item"><a href="#">Best Food Subscription Boxes</a></li>
              <li class="menu-item"><a href="#"> Meal Kits Delivery by Area</a></li>
              <li class="menu-item"><a href="#">Meal Kits Costs</a></li>
              <li class="menu-item"><a href="#">About Us</a></li>
            </ul>
            <div class="menu-trigger"><span></span></div>
          </div>
        </header>
        <!--END header-->
      </div>
      <main class="layout__main">
        <div class="container simple-article">
          <div class="hero_standart">
            <h1 class="mb-2">Are Meal Kits Greener – Creating Less Waste and Emissions?</h1>
            <div class="row">
              <div class="col-12 col-lg-8">
                <div class="no-br">
                  <p>The Environmental Impact of Meal Kits</p>
                  <p>If you have ever purchased a meal kit, you likely did so for the health and convenience advantages meal kits provide. Compared to frozen meals or fast food, meal kits represent a much healthier, whole-foods option. Plus, having a box of ingredients delivered directly to your door definitely beats fighting the crowds at the grocery store.</p>
                  <p>However, did you know that meal kits are also better for the environment?</p>
                  <p>That’s right! According to a study from researchers at the University of Michigan, meal kits represent a significant decrease in environmental impacts compared to grocery shopping (in both the USA and Canada).</p>
                </div>
              </div>
              <div class="col-lg-4 d-none d-lg-block text-center"><img srcset="/assets/img/articles/are-meal-kits-greener.png, /assets/img/articles/are-meal-kits-greener@2x.png 1.5x, /assets/img/articles/are-meal-kits-greener@2x.png 2x" src="/assets/img/articles/are-meal-kits-greener.png" alt="alt" /></div>
            </div>
          </div><!-- section-->
          <section>
            <h2>The Study</h2>
            <p> According to Brent Heard and his colleges at the University of Michigan, many consumers are concerned about the amount of packaging used in meal kits. Compared to buying groceries in bulk at your local store, meal kits contain much more packaging. Within a meal kit, you are given a recipe-specific amount of each ingredient. While there is more packaging in meal kits, the researchers wanted to analyze the entire process used to create these kits.</p>
            <p>By comparing it to the process of buying groceries, the researchers found that this increase in packaging is largely offset by reductions in greenhouse gas emissions and decreased amounts of food waste generated by meal kits.</p>
            <p>Let’s look at each item in detail:</p>
            <div class="row">
              <div class="col-12 col-lg-6 mb-3">
                <div class="box box_h100 p-3"><svg class="icon icon-smoke icon_md icon_fill-secondary">
                    <use xlink:href="/assets/img/sprite.svg#icon-smoke"></use>
                  </svg>
                  <p class="mt-3"><strong>Greenhouse Gas Emissions</strong></p>
                  <p>When it comes to environmental impacts, greenhouse gas emissions are of utmost concern. Greenhouse gasses are currently flooding the atmosphere, raising the temperature of the globe significantly. While the production of plastic waste is still a concern, the researchers found a significant decrease in the release of greenhouse gases using meal kits.</p>
                  <p>While this may come as a surprise, an analysis of the supply chain accounts for most of this difference. For instance, in one meal that was analyzed a decrease of over 30% was found using meal kits over the grocery store. Meal kits typically have drastically lower greenhouse emissions, because they skip an entire step in transportation.</p>
                  <p>Grocery stores must get their produce from a distributor, which typically are transported in large refrigeration trucks. Meal kits, on the other hand, and delivered directly to your house from the distributor, and can use a more environmentally-friendly refrigeration pack to keep your box cold. Plus, you don’t have to drive to or from the grocery store, further reducing emissions. In all, this makes meal kits a much greener and environmentally conscious option!</p>
                </div>
              </div>
              <div class="col-12 col-lg-6 mb-3">
                <div class="box box_h100 p-3"><svg class="icon icon-waste icon_md icon_fill-secondary">
                    <use xlink:href="/assets/img/sprite.svg#icon-waste"></use>
                  </svg>
                  <p class="mt-3"><strong>Food Waste</strong></p>
                  <p>Part of individually packing ingredients means a decrease in food waste. At the grocery store, you often have to buy more of an ingredient than will be used in any given recipe. This means that the rest of the ingredient often goes to waste. By considering this factor, the researchers were able to show that meal kits offer significantly less food waste compared to buying food at a grocery store.</p>
                  <p>&nbsp;</p>
                  <p>Further, the researchers found that food waste in grocery stores is much higher than that found in meal kit processing plants. Grocery stores must display fresh vegetables in an open-air setting, a feature which often causes food to go bad over time. Meal kit preparation facilities can better store and refrigerate food before processing, leading to less waste. Further, because of subscriptions to their plans, meal kit facilities can better anticipate the amount of food they need, leading to significantly less waste.</p>
                </div>
              </div>
            </div>
          </section><!-- section-->
          <section>
            <h2>Other Meal Kit Advantages</h2>
            <div class="row">
              <div class="col-12 col-lg-4 mb-3 text-center order-lg-2"><img srcset="/assets/img/articles/bag.png, /assets/img/articles/bag@2x.png 1.5x, /assets/img/articles/bag@2x.png 2x" src="/assets/img/articles/bag.png" alt="alt" /></div>
              <div class="col-12 col-lg-8">
                <p>Besides being healthier for the environment, <a href="https://mealkitscanada.ca/">the best meal kits</a> are often better for your personal health. Compared to buying processed food, food from restaurants, or frozen foods, meal kits often contain fresh, whole-food ingredients. Science has shown that <a href="https://mealkitscanada.ca/the-importance-of-fresh-foods-vs-canned-and-frozen-food/">nutrients are significantly damaged by commercial food-processing techniques</a>. Meal kits offer a simple and effective way to get fresh ingredients without having to go to the grocery store.</p>
                <p>Plus, even if you are a bad cook, meal kits come with easy-to-follow instructions for preparing each meal. Not only can anyone follow these recipes, but each meal kit also comes with all the ingredients you need. This includes small packages of seasonings and other items that you would typically have to buy in bulk at the store. For instance, if smoked paprika is not something you use on a regular basis, a meal kit will provide the perfect amount so none goes to waste. This is a great choice for consumers tired of their seasonings going stale on the shelf.</p>
              </div>
            </div>
          </section><!-- section-->
          <section>
            <h2>Not Convinced?</h2>
            <p>Try it for yourself! There are <a href="https://mealkitscanada.ca/meal-kit-delivery/">deliveries all over Canada</a>! Compared to meal planning, grocery shopping, and trying to use bulk ingredients up, meal kits are an easy choice. There are now dozens of meal kit providers, offering various services. Some are suited to vegan diets, while others specialize in providing local foods at an affordable price. Try one out today to lower your environmental impact and get healthy, fresh ingredients!</p>
          </section>
        </div>
      </main>
      <div class="layout__footer">
        <!--BEGIN footer-->
        <footer class="footer">
          <div class="footer-top">
            <div class="container footer-top__container">
              <div class="footer-top__menu">
                <div class="footer-top__title">Meal Kit Companies We Cover</div>
                <ul>
                  <li><a href="#">Hello Fresh Canada Review</a></li>
                  <li><a href="#">Chef’s Plate Review</a></li>
                  <li><a href="#">Goodfood Canada Review</a></li>
                  <li><a href="#">Fresh City Farms Review</a></li>
                  <li><a href="#">Miss Fresh Meal Kits Review</a></li>
                  <li><a href="#">Prepd Meal Kits Review</a></li>
                  <li><a href="#">Plated Review</a></li>
                  <li><a href="#">Home Chef Canada Review</a></li>
                  <li><a href="#">Blue Apron Canada Review</a></li>
                </ul>
              </div>
              <div class="footer-top__menu">
                <div class="footer-top__title">Region-specific Guides</div>
                <ul>
                  <li><a href="#">Winnipeg, Regina, and Saskatoon Meal Kits Reviews 2020</a></li>
                  <li><a href="#">Halifax and the Maritimes Meal Kits Reviews 2020</a></li>
                  <li><a href="#">Meal Kits Deliveries by Areas in Canada</a></li>
                  <li><a href="#">Calgary and Edmonton Meal Kits Review 2020</a></li>
                  <li><a href="#">Montreal and Quebec Meal Kits Review 2020</a></li>
                  <li><a href="#">Vancouver Meal Kits Reviews 2020</a></li>
                  <li><a href="#">Toronto Meal Kits Review 2020</a></li>
                </ul>
              </div>
              <div class="footer-top__menu">
                <div class="footer-top__title">Additional Health Articles</div>
                <ul>
                  <li><a href="#">The Importance of Fresh Foods Vs. Canned and Frozen Food</a></li>
                  <li><a href="#">Are Meal Kits Greener – Creating Less Waste and Emissions?</a></li>
                  <li><a href="#">Will your health be determined by your genetics?</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-bottom">
            <div class="container footer-bottom__container"><a class="logo-link" href="#"><img class="logo" src="/assets/img/logos/logo.png" srcset="/assets/img/logos/log@2x.png 2x" alt="" /></a>
              <div class="footer__disclaymer"><span class="color-primary">Site Disclaimer:</span>Do not use nutrition information and recommendations on this website if you suffer from a serious condition.<p>Some of the links on this website are referral links. We get paid to refer clients to certain companies (but our rating is ours and you cannot pay to be listed higher).</p>
              </div>
              <div class="footer__socials"><b>Follow Us!</b>
                <div class="socials socials_yellow"><a class="socials__item" href="#"><svg class="icon icon-fb ">
                      <use xlink:href="/assets/img/sprite.svg#icon-fb"></use>
                    </svg></a><a class="socials__item" href="#"><svg class="icon icon-inst ">
                      <use xlink:href="/assets/img/sprite.svg#icon-inst"></use>
                    </svg></a><a class="socials__item" href="#"><svg class="icon icon-tw ">
                      <use xlink:href="/assets/img/sprite.svg#icon-tw"></use>
                    </svg></a></div>
              </div>
            </div>
          </div>
          <div class="footer-copy">
            <div class="container"><small>© 2020 Meal Kits Canada</small></div>
          </div>
        </footer>
        <!--END footer-->
      </div>
    </div><!-- begin modal-->
    <div class="modal modal_video fade" id="video" tabindex="-1" role="dialog" aria-labelledby="videoLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header"><button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
          <div class="modal-body"><iframe width="100%" height="auto" src="https://www.youtube.com/embed/y0J3LoXjpl8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe></div>
        </div>
      </div>
    </div><!-- end modal-->
    <div class="tooltip_templates">
      <div id="tooltip_content">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia ipsam libero, ea sapiente iusto obcaecati aperiam natus eum voluptatem ipsum dolore dicta quasi molestias quos? Veniam distinctio esse expedita ducimus.</p>
      </div>
    </div>
    <!--LOAD SCRIPTS-->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/tooltipster@4.2.8/dist/js/tooltipster.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script type="text/javascript" src="assets/js/new-app.js"></script>
    <script>
      $(document).ready(function()
      {
        // tooltipster
        $('.info').tooltipster(
        {
          contentCloning: true,
          interactive: true,
          theme: 'tooltipster-shadow2',
          animation: 'grow',
          maxWidth: 230
        });
        $('.js-info').tooltipster(
        {
          contentCloning: true,
          interactive: true,
          theme: 'tooltipster-shadow2',
          animation: 'grow',
          maxWidth: 230
        });
        $('.tooltip-title').tooltipster(
        {
          interactive: true,
          theme: 'tooltipster-shadow2',
          animation: 'grow',
          maxWidth: 230
        });
        $('.js-tooltipster').tooltipster(
        {
          interactive: true,
          theme: 'tooltipster-shadow2',
          animation: 'grow',
          maxWidth: 300
        });
      });

    </script>
  </body>
</html>

src/templates/article-will_are_meal_greener.pug
---
title: Are Meal Kits Greener – Creating Less Waste and Emissions?
---
extends layouts/_layout
block content
    .container.simple-article
        .hero_standart 
            h1.mb-2 Are Meal Kits Greener – Creating Less Waste and Emissions?
            .row
                .col-12.col-lg-8
                    .no-br
                        p
                            | The Environmental Impact of Meal Kits
                        p
                            | If you have ever purchased a meal kit, you likely did so for the health and convenience advantages meal kits provide. Compared to frozen meals or fast food, meal kits represent a much healthier, whole-foods option. Plus, having a box of ingredients delivered directly to your door definitely beats fighting the crowds at the grocery store.
                        p
                            | However, did you know that meal kits are also better for the environment?
                        p
                            | That’s right! According to a study from researchers at the University of Michigan, meal kits represent a significant decrease in environmental impacts compared to grocery shopping (in both the USA and Canada).

                .col-lg-4.d-none.d-lg-block.text-center
                    +img('articles/are-meal-kits-greener','png','','alt')

            
        // section
        section
            h2
                | The Study
            p
                |  According to Brent Heard and his colleges at the University of Michigan, many consumers are concerned about the amount of packaging used in meal kits. Compared to buying groceries in bulk at your local store, meal kits contain much more packaging. Within a meal kit, you are given a recipe-specific amount of each ingredient. While there is more packaging in meal kits, the researchers wanted to analyze the entire process used to create these kits.
            p
                | By comparing it to the process of buying groceries, the researchers found that this increase in packaging is largely offset by reductions in greenhouse gas emissions and decreased amounts of food waste generated by meal kits.
            p
                | Let’s look at each item in detail:

            .row
                .col-12.col-lg-6.mb-3
                    .box.box_h100.p-3
                        +icon('smoke','icon_md icon_fill-secondary')
                        p.mt-3
                            strong
                                | Greenhouse Gas Emissions
                        p
                            | When it comes to environmental impacts, greenhouse gas emissions are of utmost concern. Greenhouse gasses are currently flooding the atmosphere, raising the temperature of the globe significantly. While the production of plastic waste is still a concern, the researchers found a significant decrease in the release of greenhouse gases using meal kits.
                        p
                            | While this may come as a surprise, an analysis of the supply chain accounts for most of this difference. For instance, in one meal that was analyzed a decrease of over 30% was found using meal kits over the grocery store. Meal kits typically have drastically lower greenhouse emissions, because they skip an entire step in transportation.
                        p
                            | Grocery stores must get their produce from a distributor, which typically are transported in large refrigeration trucks. Meal kits, on the other hand, and delivered directly to your house from the distributor, and can use a more environmentally-friendly refrigeration pack to keep your box cold. Plus, you don’t have to drive to or from the grocery store, further reducing emissions. In all, this makes meal kits a much greener and environmentally conscious option!
                .col-12.col-lg-6.mb-3
                    .box.box_h100.p-3
                        +icon('waste','icon_md icon_fill-secondary')
                        p.mt-3
                            strong
                                | Food Waste
                        p
                            | Part of individually packing ingredients means a decrease in food waste. At the grocery store, you often have to buy more of an ingredient than will be used in any given recipe. This means that the rest of the ingredient often goes to waste. By considering this factor, the researchers were able to show that meal kits offer significantly less food waste compared to buying food at a grocery store.
                        p &nbsp;
                        p
                            | Further, the researchers found that food waste in grocery stores is much higher than that found in meal kit processing plants. Grocery stores must display fresh vegetables in an open-air setting, a feature which often causes food to go bad over time. Meal kit preparation facilities can better store and refrigerate food before processing, leading to less waste. Further, because of subscriptions to their plans, meal kit facilities can better anticipate the amount of food they need, leading to significantly less waste.
                        
        // section
        section
            h2
                | Other Meal Kit Advantages
            .row
                .col-12.col-lg-4.mb-3.text-center.order-lg-2
                    +img('articles/bag','png','','alt')
                .col-12.col-lg-8
                    p
                        | Besides being healthier for the environment, 
                        a(href='https://mealkitscanada.ca/') the best meal kits
                        |  are often better for your personal health. Compared to buying processed food, food from restaurants, or frozen foods, meal kits often contain fresh, whole-food ingredients. Science has shown that 
                        a(href='https://mealkitscanada.ca/the-importance-of-fresh-foods-vs-canned-and-frozen-food/') nutrients are significantly damaged by commercial food-processing techniques
                        | . Meal kits offer a simple and effective way to get fresh ingredients without having to go to the grocery store.

                    p
                        | Plus, even if you are a bad cook, meal kits come with easy-to-follow instructions for preparing each meal. Not only can anyone follow these recipes, but each meal kit also comes with all the ingredients you need. This includes small packages of seasonings and other items that you would typically have to buy in bulk at the store. For instance, if smoked paprika is not something you use on a regular basis, a meal kit will provide the perfect amount so none goes to waste. This is a great choice for consumers tired of their seasonings going stale on the shelf.


        // section
        section
            h2
                | Not Convinced?
            p
                | Try it for yourself! There are 
                a(href="https://mealkitscanada.ca/meal-kit-delivery/") deliveries all over Canada
                |! Compared to meal planning, grocery shopping, and trying to use bulk ingredients up, meal kits are an easy choice. There are now dozens of meal kit providers, offering various services. Some are suited to vegan diets, while others specialize in providing local foods at an affordable price. Try one out today to lower your environmental impact and get healthy, fresh ingredients!
