build/dinnertime.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MKC</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#fff">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" media="all" href="assets/css/app.css">
  </head>
  <body>
    <div class="layout">
      <div class="layout__header">
        <!--BEGIN header-->
        <header class="header">
          <div class="container header__container"><a class="logo-link" href="#"><img class="logo" src="/assets/img/logos/logo.png" srcset="/assets/img/logos/logo@2x.png 2x" alt="" /></a>
            <ul class="main-menu">
              <li class="menu-item"><a class="is-current" href="#">Best Meal Kits</a></li>
              <li class="menu-item"><a href="#">Best Food Subscription Boxes</a></li>
              <li class="menu-item"><a href="#"> Meal Kits Delivery by Area</a></li>
              <li class="menu-item"><a href="#">Meal Kits Costs</a></li>
              <li class="menu-item"><a href="#">About Us</a></li>
            </ul>
            <div class="menu-trigger"><span></span></div>
          </div>
        </header>
        <!--END header-->
      </div>
      <main class="layout__main">
        <div class="container">
          <div class="hero_standart">
            <div class="row align-items-center">
              <div class="col-12 col-lg-8">
                <h1 class="mb-2">DinnrTime – The Great Social Startup that Never Made it</h1>
                <div class="no-br">
                  <p>DinnrTime was an online marketplace, active between 2014 and 2016, that brought together a trusted community of food lovers who are open to making new friends, exploring new dishes and experiencing different cultures. The concept was to give ordinary people access healthy, affordable alternatives to fast food and packaged dinners, including local and organic options, allowing customers to indulge in the convenience and comfort of a home-cooked meal without having to do the grocery shopping, prepping, cooking and cleaning.</p>
                  <p>In fact, DinnrTime was a smart startup that has identified the real desire and necessary in access to fresh and healthy food – the same thing nowadays&nbsp;<a href="https://mealkitscanada.ca/">meal kit companies</a> and&nbsp;<a href="https://mealkitscanada.ca/meal-kit-delivery/">prep meal deliveries</a> provide.</p>
                  <p>The featured cook on DinnrTime’s website (dinnrtime.com) was&nbsp;<a href="http://pattyjaviergomez.pressfolios.com/">Patty Javier Gomez</a> a well versed blogger and cook who continues contributing to the community (and is available for freelance writing!).</p>
                </div>
              </div>
              <div class="col-lg-4 d-none d-lg-block text-center"><img srcset="/assets/img/articles/dinnertime.jpg, /assets/img/articles/dinnertime@2x.jpg 1.5x, /assets/img/articles/dinnertime@2x.jpg 2x" src="/assets/img/articles/dinnertime.jpg" alt="alt" /></div>
            </div>
          </div><!-- section-->
          <section>
            <h2>Here is what DinnrTime wrote about Patty</h2>
            <p>Patty is passionate about cooking nutritious food. As a Registered Holistic Nutritionist, she puts great care into the healthy and delicious meals she prepares. Patty is one of the very first Dinnrtime Chefs and has already begun sharing her inspired creations with food lovers in her neighbourhood.</p>
          </section><!-- section-->
          <section>
            <h2>The concept of DinnrTime&nbsp;<small class="color-gray">Taken from a failed&nbsp;<a href="https://www.indiegogo.com/projects/dinnrtime-meal-sharing-community#/">IndieGoGo campaign</a></small></h2>
            <p>The concept for DinnrTime was borne from a dilemma that we, and many other people, experience on a daily basis. After long days of work, sometimes you just don’t feel like cooking. Unfortunately, the most affordable and convenient options- fast food and mass produced frozen dinners- also happen to be the most unhealthy. At the same time, talented Home Chefs in smaller households are often forced to cook more than they need and are unable to reap the benefit of buying ingredients in larger quantities. The DinnrTime platform introduces the meal-sharing economy, so that everyone can eat healthier and more affordable home-cooked meals while reducing food waste. Our Values: DinnrTime.com is a local, social enterprise dedicated to making healthy, home-cooked meals more accessible, bringing communities together, reducing food waste, and reducing cost of living expenses.</p>
          </section><!-- section-->
          <section>
            <h2>How did DinnrTime Fail</h2>
            <p>The business model was pretty straightforward, a small commission taken out of each introduction between a customer and a home chef. Very fair and clear for both sides. So how come a smart startup in a growing business of fresh food delivery, in the pre-<a href="https://mealkitscanada.ca/hello-fresh-canada-review/">HelloFresh</a> era, failed? it may be that the market was not prepared for a revolutionary idea at this point in time, lacking resources or management, or personal issues that distracted the entrepreneurs.</p>
          </section>
        </div>
      </main>
      <div class="layout__footer">
        <!--BEGIN footer-->
        <footer class="footer">
          <div class="footer-top">
            <div class="container footer-top__container">
              <div class="footer-top__menu">
                <div class="footer-top__title">Meal Kit Companies We Cover</div>
                <ul>
                  <li><a href="#">Hello Fresh Canada Review</a></li>
                  <li><a href="#">Chef’s Plate Review</a></li>
                  <li><a href="#">Goodfood Canada Review</a></li>
                  <li><a href="#">Fresh City Farms Review</a></li>
                  <li><a href="#">Miss Fresh Meal Kits Review</a></li>
                  <li><a href="#">Prepd Meal Kits Review</a></li>
                  <li><a href="#">Plated Review</a></li>
                  <li><a href="#">Home Chef Canada Review</a></li>
                  <li><a href="#">Blue Apron Canada Review</a></li>
                </ul>
              </div>
              <div class="footer-top__menu">
                <div class="footer-top__title">Region-specific Guides</div>
                <ul>
                  <li><a href="#">Winnipeg, Regina, and Saskatoon Meal Kits Reviews 2020</a></li>
                  <li><a href="#">Halifax and the Maritimes Meal Kits Reviews 2020</a></li>
                  <li><a href="#">Meal Kits Deliveries by Areas in Canada</a></li>
                  <li><a href="#">Calgary and Edmonton Meal Kits Review 2020</a></li>
                  <li><a href="#">Montreal and Quebec Meal Kits Review 2020</a></li>
                  <li><a href="#">Vancouver Meal Kits Reviews 2020</a></li>
                  <li><a href="#">Toronto Meal Kits Review 2020</a></li>
                </ul>
              </div>
              <div class="footer-top__menu">
                <div class="footer-top__title">Additional Health Articles</div>
                <ul>
                  <li><a href="#">The Importance of Fresh Foods Vs. Canned and Frozen Food</a></li>
                  <li><a href="#">Are Meal Kits Greener – Creating Less Waste and Emissions?</a></li>
                  <li><a href="#">Will your health be determined by your genetics?</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-bottom">
            <div class="container footer-bottom__container"><a class="logo-link" href="#"><img class="logo" src="/assets/img/logos/logo.png" srcset="/assets/img/logos/log@2x.png 2x" alt="" /></a>
              <div class="footer__disclaymer"><span class="color-primary">Site Disclaimer:</span>Do not use nutrition information and recommendations on this website if you suffer from a serious condition.<p>Some of the links on this website are referral links. We get paid to refer clients to certain companies (but our rating is ours and you cannot pay to be listed higher).</p>
              </div>
              <div class="footer__socials"><b>Follow Us!</b>
                <div class="socials socials_yellow"><a class="socials__item" href="#"><svg class="icon icon-fb ">
                      <use xlink:href="/assets/img/sprite.svg#icon-fb"></use>
                    </svg></a><a class="socials__item" href="#"><svg class="icon icon-inst ">
                      <use xlink:href="/assets/img/sprite.svg#icon-inst"></use>
                    </svg></a><a class="socials__item" href="#"><svg class="icon icon-tw ">
                      <use xlink:href="/assets/img/sprite.svg#icon-tw"></use>
                    </svg></a></div>
              </div>
            </div>
          </div>
          <div class="footer-copy">
            <div class="container"><small>© 2020 Meal Kits Canada</small></div>
          </div>
        </footer>
        <!--END footer-->
      </div>
    </div><!-- begin modal-->
    <div class="modal modal_video fade" id="video" tabindex="-1" role="dialog" aria-labelledby="videoLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header"><button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
          <div class="modal-body"><iframe width="100%" height="auto" src="https://www.youtube.com/embed/y0J3LoXjpl8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe></div>
        </div>
      </div>
    </div><!-- end modal-->
    <div class="tooltip_templates">
      <div id="tooltip_content">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia ipsam libero, ea sapiente iusto obcaecati aperiam natus eum voluptatem ipsum dolore dicta quasi molestias quos? Veniam distinctio esse expedita ducimus.</p>
      </div>
    </div>
    <!--LOAD SCRIPTS-->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/tooltipster@4.2.8/dist/js/tooltipster.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script type="text/javascript" src="assets/js/new-app.js"></script>
    <script>
      $(document).ready(function()
      {
        // tooltipster
        $('.info').tooltipster(
        {
          contentCloning: true,
          interactive: true,
          theme: 'tooltipster-shadow2',
          animation: 'grow',
          maxWidth: 230
        });
        $('.js-info').tooltipster(
        {
          contentCloning: true,
          interactive: true,
          theme: 'tooltipster-shadow2',
          animation: 'grow',
          maxWidth: 230
        });
        $('.tooltip-title').tooltipster(
        {
          interactive: true,
          theme: 'tooltipster-shadow2',
          animation: 'grow',
          maxWidth: 230
        });
        $('.js-tooltipster').tooltipster(
        {
          interactive: true,
          theme: 'tooltipster-shadow2',
          animation: 'grow',
          maxWidth: 300
        });
      });

    </script>
  </body>
</html>

src/templates/dinnertime.pug
---
title: Dinnertime
---
extends layouts/_layout
block content
    .container
        .hero_standart
            .row.align-items-center
                .col-12.col-lg-8
                    h1.mb-2 DinnrTime – The Great Social Startup that Never Made it
                    .no-br
                        p
                            | DinnrTime was an online marketplace, active between 2014 and 2016, that brought together a trusted community of food lovers who are open to making new friends, exploring new dishes and experiencing different cultures. The concept was to give ordinary people access healthy, affordable alternatives to fast food and packaged dinners, including local and organic options, allowing customers to indulge in the convenience and comfort of a home-cooked meal without having to do the grocery shopping, prepping, cooking and cleaning.
                        p
                            | In fact, DinnrTime was a smart startup that has identified the real desire and necessary in access to fresh and healthy food – the same thing nowadays&nbsp;
                            a(href='https://mealkitscanada.ca/') meal kit companies
                            |  and&nbsp;
                            a(href='https://mealkitscanada.ca/meal-kit-delivery/') prep meal deliveries
                            |  provide.
                        p
                            | The featured cook on DinnrTime’s website (dinnrtime.com) was&nbsp;
                            a(href='http://pattyjaviergomez.pressfolios.com/') Patty Javier Gomez
                            |  a well versed blogger and cook who continues contributing to the community (and is available for freelance writing!).

                .col-lg-4.d-none.d-lg-block.text-center
                    +img('articles/dinnertime','jpg','','alt')


        // section
        section
            h2
                | Here is what DinnrTime  wrote about Patty
            p
                | Patty is passionate about cooking nutritious food. As a Registered Holistic Nutritionist, she puts great care into the healthy and delicious meals she prepares. Patty is one of the very first Dinnrtime Chefs and has already begun sharing her inspired creations with food lovers in her neighbourhood.


        // section
        section
            h2
                | The concept of DinnrTime&nbsp;
                small.color-gray Taken from a failed&nbsp;
                    a(href="https://www.indiegogo.com/projects/dinnrtime-meal-sharing-community#/")
                        | IndieGoGo campaign
            p
                | The concept for DinnrTime was borne from a dilemma that we, and many other people, experience on a daily basis. After long days of work, sometimes you just don’t feel like cooking. Unfortunately, the most affordable and convenient options- fast food and mass produced frozen dinners- also happen to be the most unhealthy. At the same time, talented Home Chefs in smaller households are often forced to cook more than they need and are unable to reap the benefit of buying ingredients in larger quantities. The DinnrTime platform introduces the meal-sharing economy, so that everyone can eat healthier and more affordable home-cooked meals while reducing food waste. Our Values: DinnrTime.com is a local, social enterprise dedicated to making healthy, home-cooked meals more accessible, bringing communities together, reducing food waste, and reducing cost of living expenses.


        // section
        section
            h2
                | How did DinnrTime Fail
            p
                | The business model was pretty straightforward, a small commission taken out of each introduction between a customer and a home chef. Very fair and clear for both sides. So how come a smart startup in a growing business of fresh food delivery, in the pre-
                a(href='https://mealkitscanada.ca/hello-fresh-canada-review/') HelloFresh
                |  era, failed? it may be that the market was not prepared for a revolutionary idea at this point in time, lacking resources or management, or personal issues that distracted the entrepreneurs.
