build/elems.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MKC</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#fff">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" media="all" href="assets/css/app.css">
  </head>
  <body>
    <div class="layout">
      <div class="layout__header">
        <!--BEGIN header-->
        <header class="header">
          <div class="container header__container"><a class="logo-link" href="#"><img class="logo" src="/assets/img/logos/logo.png" srcset="/assets/img/logos/logo@2x.png 2x" alt="" /></a>
            <ul class="main-menu">
              <li class="menu-item"><a class="is-current" href="#">Best Meal Kits</a></li>
              <li class="menu-item"><a href="#">Best Food Subscription Boxes</a></li>
              <li class="menu-item"><a href="#"> Meal Kits Delivery by Area</a></li>
              <li class="menu-item"><a href="#">Meal Kits Costs</a></li>
              <li class="menu-item"><a href="#">About Us</a></li>
            </ul>
            <div class="menu-trigger"><span></span></div>
          </div>
        </header>
        <!--END header-->
      </div>
      <main class="layout__main">
        <div class="container">
          <section>
            <h2>Plans table</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore quidem mollitia, molestias nobis explicabo odio optio esse ea quasi veniam obcaecati minus dolorum quam tenetur fuga illo vitae! Dolor, aperiam.</p>
            <div class="plan-tables">
              <div class="plan-tables__item pti">
                <div class="pti__head pti__head_left"><a class="company-logo__wrapper" href="#">
                    <figure class="company-logo"><img srcset="/assets/img/logos/logo_chefs-plate.png, /assets/img/logos/logo_chefs-plate@2x.png 1.5x, /assets/img/logos/logo_chefs-plate@2x.png 2x" src="/assets/img/logos/logo_chefs-plate.png" alt="alt" /></figure>
                  </a>
                  <div class="rating"><span>MKC rating</span><strong class="color-secondary">98.2%</strong></div><a class="pti__company-link pti__company-link_desktop" href="#">Hello Fresh Review</a>
                </div>
                <div class="pti__head pti__head_right">
                  <div class="pti__promo pti__promo_description"><strong><span>Promotion&nbsp;</span><span class="color-primary">$65 off</span></strong></div>
                  <div class="pti__promo pti__promo_code"><span>Promo code:&nbsp;</span><strong>AFF65</strong></div>
                </div>
                <div class="pti__col pti__col_1">
                  <div class="pti__plan">
                    <div class="plan-name">Quick &amp; Easy Plan</div>
                    <div class="plan-description">Select up to four quick and easy recipes out of 22 meals each week</div>
                  </div>
                </div>
                <div class="pti__col pti__col_2">
                  <table class="pti__table">
                    <tr>
                      <th>Recipes per week</th>
                      <td>
                        <div class="icons-line"><svg class="icon icon-recipe ">
                            <use xlink:href="/assets/img/sprite.svg#icon-recipe"></use>
                          </svg><svg class="icon icon-recipe ">
                            <use xlink:href="/assets/img/sprite.svg#icon-recipe"></use>
                          </svg><svg class="icon icon-recipe ">
                            <use xlink:href="/assets/img/sprite.svg#icon-recipe"></use>
                          </svg></div>
                      </td>
                    </tr>
                    <tr>
                      <th>Number of people</th>
                      <td>
                        <div class="icons-line"><svg class="icon icon-man ">
                            <use xlink:href="/assets/img/sprite.svg#icon-man"></use>
                          </svg><svg class="icon icon-man ">
                            <use xlink:href="/assets/img/sprite.svg#icon-man"></use>
                          </svg></div>
                      </td>
                    </tr>
                    <tr>
                      <th>Dishes in menu</th>
                      <td>22</td>
                    </tr>
                  </table>
                </div>
                <div class="pti__col pti__col_3">
                  <table class="pti__table">
                    <tr>
                      <th>Price / serving</th>
                      <td>$11.49</td>
                    </tr>
                    <tr>
                      <th>Shipping</th>
                      <td>$9.99</td>
                    </tr>
                    <tr>
                      <th>Price / weekly</th>
                      <td>$78.93</td>
                    </tr>
                  </table>
                </div>
                <div class="pti__col pti__col_4"><a class="pti__company-link pti__company-link_mobile" href="#">Hello Fresh Review</a><a class="btn btn_primary btn_lg" href="#">Visit Site</a></div>
              </div>
              <div class="plan-tables__item pti">
                <div class="pti__head pti__head_left"><a class="company-logo__wrapper" href="#">
                    <figure class="company-logo"><img srcset="/assets/img/logos/logo_chefs-plate.png, /assets/img/logos/logo_chefs-plate@2x.png 1.5x, /assets/img/logos/logo_chefs-plate@2x.png 2x" src="/assets/img/logos/logo_chefs-plate.png" alt="alt" /></figure>
                  </a>
                  <div class="rating"><span>MKC rating</span><strong class="color-secondary">98.2%</strong></div><a class="pti__company-link pti__company-link_desktop" href="#">Hello Fresh Review</a>
                </div>
                <div class="pti__head pti__head_right">
                  <div class="pti__promo pti__promo_description"><strong><span>Promotion&nbsp;</span><span class="color-primary">$65 off</span></strong></div>
                  <div class="pti__promo pti__promo_code"><span>Promo code:&nbsp;</span><strong>AFF65</strong></div>
                </div>
                <div class="pti__col pti__col_1">
                  <div class="pti__plan">
                    <div class="plan-name">Quick &amp; Easy Plan</div>
                    <div class="plan-description">Select up to four quick and easy recipes out of 22 meals each week</div>
                  </div>
                </div>
                <div class="pti__col pti__col_2">
                  <table class="pti__table">
                    <tr>
                      <th>Recipes per week</th>
                      <td>
                        <div class="icons-line"><svg class="icon icon-recipe ">
                            <use xlink:href="/assets/img/sprite.svg#icon-recipe"></use>
                          </svg><svg class="icon icon-recipe ">
                            <use xlink:href="/assets/img/sprite.svg#icon-recipe"></use>
                          </svg><svg class="icon icon-recipe ">
                            <use xlink:href="/assets/img/sprite.svg#icon-recipe"></use>
                          </svg></div>
                      </td>
                    </tr>
                    <tr>
                      <th>Number of people</th>
                      <td>
                        <div class="icons-line"><svg class="icon icon-man ">
                            <use xlink:href="/assets/img/sprite.svg#icon-man"></use>
                          </svg><svg class="icon icon-man ">
                            <use xlink:href="/assets/img/sprite.svg#icon-man"></use>
                          </svg></div>
                      </td>
                    </tr>
                    <tr>
                      <th>Dishes in menu</th>
                      <td>22</td>
                    </tr>
                  </table>
                </div>
                <div class="pti__col pti__col_3">
                  <table class="pti__table">
                    <tr>
                      <th>Price / serving</th>
                      <td>$11.49</td>
                    </tr>
                    <tr>
                      <th>Shipping</th>
                      <td>$9.99</td>
                    </tr>
                    <tr>
                      <th>Price / weekly</th>
                      <td>$78.93</td>
                    </tr>
                  </table>
                </div>
                <div class="pti__col pti__col_4"><a class="pti__company-link pti__company-link_mobile" href="#">Hello Fresh Review</a><a class="btn btn_primary btn_lg" href="#">Visit Site</a></div>
              </div>
            </div>
          </section>
        </div>
      </main>
      <div class="layout__footer">
        <!--BEGIN footer-->
        <footer class="footer">
          <div class="footer-top">
            <div class="container footer-top__container">
              <div class="footer-top__menu">
                <div class="footer-top__title">Meal Kit Companies We Cover</div>
                <ul>
                  <li><a href="#">Hello Fresh Canada Review</a></li>
                  <li><a href="#">Chef’s Plate Review</a></li>
                  <li><a href="#">Goodfood Canada Review</a></li>
                  <li><a href="#">Fresh City Farms Review</a></li>
                  <li><a href="#">Miss Fresh Meal Kits Review</a></li>
                  <li><a href="#">Prepd Meal Kits Review</a></li>
                  <li><a href="#">Plated Review</a></li>
                  <li><a href="#">Home Chef Canada Review</a></li>
                  <li><a href="#">Blue Apron Canada Review</a></li>
                </ul>
              </div>
              <div class="footer-top__menu">
                <div class="footer-top__title">Region-specific Guides</div>
                <ul>
                  <li><a href="#">Winnipeg, Regina, and Saskatoon Meal Kits Reviews 2020</a></li>
                  <li><a href="#">Halifax and the Maritimes Meal Kits Reviews 2020</a></li>
                  <li><a href="#">Meal Kits Deliveries by Areas in Canada</a></li>
                  <li><a href="#">Calgary and Edmonton Meal Kits Review 2020</a></li>
                  <li><a href="#">Montreal and Quebec Meal Kits Review 2020</a></li>
                  <li><a href="#">Vancouver Meal Kits Reviews 2020</a></li>
                  <li><a href="#">Toronto Meal Kits Review 2020</a></li>
                </ul>
              </div>
              <div class="footer-top__menu">
                <div class="footer-top__title">Additional Health Articles</div>
                <ul>
                  <li><a href="#">The Importance of Fresh Foods Vs. Canned and Frozen Food</a></li>
                  <li><a href="#">Are Meal Kits Greener – Creating Less Waste and Emissions?</a></li>
                  <li><a href="#">Will your health be determined by your genetics?</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-bottom">
            <div class="container footer-bottom__container"><a class="logo-link" href="#"><img class="logo" src="/assets/img/logos/logo.png" srcset="/assets/img/logos/log@2x.png 2x" alt="" /></a>
              <div class="footer__disclaymer"><span class="color-primary">Site Disclaimer:</span>Do not use nutrition information and recommendations on this website if you suffer from a serious condition.<p>Some of the links on this website are referral links. We get paid to refer clients to certain companies (but our rating is ours and you cannot pay to be listed higher).</p>
              </div>
              <div class="footer__socials"><b>Follow Us!</b>
                <div class="socials socials_yellow"><a class="socials__item" href="#"><svg class="icon icon-fb ">
                      <use xlink:href="/assets/img/sprite.svg#icon-fb"></use>
                    </svg></a><a class="socials__item" href="#"><svg class="icon icon-inst ">
                      <use xlink:href="/assets/img/sprite.svg#icon-inst"></use>
                    </svg></a><a class="socials__item" href="#"><svg class="icon icon-tw ">
                      <use xlink:href="/assets/img/sprite.svg#icon-tw"></use>
                    </svg></a></div>
              </div>
            </div>
          </div>
          <div class="footer-copy">
            <div class="container"><small>© 2020 Meal Kits Canada</small></div>
          </div>
        </footer>
        <!--END footer-->
      </div>
    </div><!-- begin modal-->
    <div class="modal modal_video fade" id="video" tabindex="-1" role="dialog" aria-labelledby="videoLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header"><button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
          <div class="modal-body"><iframe width="100%" height="auto" src="https://www.youtube.com/embed/y0J3LoXjpl8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe></div>
        </div>
      </div>
    </div><!-- end modal-->
    <div class="tooltip_templates">
      <div id="tooltip_content">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia ipsam libero, ea sapiente iusto obcaecati aperiam natus eum voluptatem ipsum dolore dicta quasi molestias quos? Veniam distinctio esse expedita ducimus.</p>
      </div>
    </div>
    <!--LOAD SCRIPTS-->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/tooltipster@4.2.8/dist/js/tooltipster.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script type="text/javascript" src="assets/js/new-app.js"></script>
    <script>
      $(document).ready(function()
      {
        // tooltipster
        $('.info').tooltipster(
        {
          contentCloning: true,
          interactive: true,
          theme: 'tooltipster-shadow2',
          animation: 'grow',
          maxWidth: 230
        });
        $('.js-info').tooltipster(
        {
          contentCloning: true,
          interactive: true,
          theme: 'tooltipster-shadow2',
          animation: 'grow',
          maxWidth: 230
        });
        $('.tooltip-title').tooltipster(
        {
          interactive: true,
          theme: 'tooltipster-shadow2',
          animation: 'grow',
          maxWidth: 230
        });
        $('.js-tooltipster').tooltipster(
        {
          interactive: true,
          theme: 'tooltipster-shadow2',
          animation: 'grow',
          maxWidth: 300
        });
      });

    </script>
  </body>
</html>

src/templates/elems.pug
---
title: Elems
---
extends layouts/_layout
block content
    .container
        section
            h2
                | Plans table
            p
                | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore quidem mollitia, molestias nobis explicabo odio optio esse ea quasi veniam obcaecati minus dolorum quam tenetur fuga illo vitae! Dolor, aperiam.

            .plan-tables
                .plan-tables__item.pti
                    .pti__head.pti__head_left
                        a.company-logo__wrapper(href="#")
                            figure.company-logo
                                +img('logos/logo_chefs-plate','png','','alt')
                        .rating
                            span MKC rating
                            strong.color-secondary 98.2%
                        a.pti__company-link.pti__company-link_desktop(href="#") Hello Fresh Review
                    .pti__head.pti__head_right
                        .pti__promo.pti__promo_description
                            strong
                                span Promotion&nbsp;
                                span.color-primary $65 off
                        .pti__promo.pti__promo_code
                            span
                                | Promo code:&nbsp;
                            strong AFF65
                    .pti__col.pti__col_1
                        .pti__plan
                            .plan-name
                                | Quick &amp; Easy Plan
                            .plan-description
                                | Select up to four quick and easy recipes out of 22 meals each week
                    .pti__col.pti__col_2
                        table.pti__table
                            tr
                                th
                                    | Recipes per week
                                td
                                    .icons-line
                                        +icon('recipe')
                                        +icon('recipe')
                                        +icon('recipe')
                            tr
                                th
                                    | Number of people
                                td
                                    .icons-line
                                        +icon('man')
                                        +icon('man')
                            tr
                                th
                                    | Dishes in menu
                                td
                                    | 22
                    .pti__col.pti__col_3
                        table.pti__table
                            tr
                                th
                                    | Price / serving
                                td
                                    | $11.49
                            tr
                                th
                                    | Shipping
                                td
                                    | $9.99
                            tr
                                th
                                    | Price / weekly
                                td
                                    | $78.93
                    .pti__col.pti__col_4
                        a.pti__company-link.pti__company-link_mobile(href="#") Hello Fresh Review
                        a.btn.btn_primary.btn_lg(href="#")
                            | Visit Site
                .plan-tables__item.pti
                    .pti__head.pti__head_left
                        a.company-logo__wrapper(href="#")
                            figure.company-logo
                                +img('logos/logo_chefs-plate','png','','alt')
                        .rating
                            span MKC rating
                            strong.color-secondary 98.2%
                        a.pti__company-link.pti__company-link_desktop(href="#") Hello Fresh Review
                    .pti__head.pti__head_right
                        .pti__promo.pti__promo_description
                            strong
                                span Promotion&nbsp;
                                span.color-primary $65 off
                        .pti__promo.pti__promo_code
                            span
                                | Promo code:&nbsp;
                            strong AFF65
                    .pti__col.pti__col_1
                        .pti__plan
                            .plan-name
                                | Quick &amp; Easy Plan
                            .plan-description
                                | Select up to four quick and easy recipes out of 22 meals each week
                    .pti__col.pti__col_2
                        table.pti__table
                            tr
                                th
                                    | Recipes per week
                                td
                                    .icons-line
                                        +icon('recipe')
                                        +icon('recipe')
                                        +icon('recipe')
                            tr
                                th
                                    | Number of people
                                td
                                    .icons-line
                                        +icon('man')
                                        +icon('man')
                            tr
                                th
                                    | Dishes in menu
                                td
                                    | 22
                    .pti__col.pti__col_3
                        table.pti__table
                            tr
                                th
                                    | Price / serving
                                td
                                    | $11.49
                            tr
                                th
                                    | Shipping
                                td
                                    | $9.99
                            tr
                                th
                                    | Price / weekly
                                td
                                    | $78.93
                    .pti__col.pti__col_4
                        a.pti__company-link.pti__company-link_mobile(href="#") Hello Fresh Review
                        a.btn.btn_primary.btn_lg(href="#")
                            | Visit Site
