build/homechef-review.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MKC</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#fff">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" media="all" href="assets/css/app.css">
  </head>
  <body>
    <div class="layout">
      <div class="layout__header">
        <!--BEGIN header-->
        <header class="header">
          <div class="container header__container"><a class="logo-link" href="#"><img class="logo" src="/assets/img/logos/logo.png" srcset="/assets/img/logos/logo@2x.png 2x" alt="" /></a>
            <ul class="main-menu">
              <li class="menu-item"><a class="is-current" href="#">Best Meal Kits</a></li>
              <li class="menu-item"><a href="#">Best Food Subscription Boxes</a></li>
              <li class="menu-item"><a href="#"> Meal Kits Delivery by Area</a></li>
              <li class="menu-item"><a href="#">Meal Kits Costs</a></li>
              <li class="menu-item"><a href="#">About Us</a></li>
            </ul>
            <div class="menu-trigger"><span></span></div>
          </div>
        </header>
        <!--END header-->
      </div>
      <main class="layout__main">
        <div class="container">
          <div class="hero_standart">
            <div class="row">
              <div class="col-12 col-lg-8">
                <div class="hero-subtitle">Home Chef Canada Review 2020</div>
                <h1 class="mb-2">Is Home Chef Coming to Canada?</h1>
                <div class="no-br">
                  <p>With Canadian meal kit companies such a Hello Fresh expanding rapidly in the Great White North many of our readers have asked us, “When is Home Chef coming to Canada?”</p>
                  <p>The truth is that as far as we aware, the big American meal kit companies such as Home Chef, Blue Apron, and Plated, don’t have any current plans to expand northward. We will continue to follow our Google Alerts on the big names and update this article immediately. Obviously as consumers of meal kits, we’d be extremely happy to see more competition in the market, as that just gives us more options and keeps companies working hard to offer the possible product, and the lowest possible price.</p>
                  <p>For those who aren’t familiar (and aren’t US-based podcast listeners) Home Chef is one of the three largest USA-based meal kit providers. The company is the brainchild of Pat Vihtelic, who was building his lifetime passion for cooking. It’s kind of a cool entrepreneurial story, as Pat not only created the recipes and picked the food, but also created the website, and even delivered the meal kits from a rented U-Haul in the beginning days of Home Chef.</p>
                </div>
              </div>
              <div class="col-lg-4 d-none d-lg-block">
                <div class="logo-country box mb-2"><img class="logo-country__flag" srcset="/assets/img/countries/usa.jpg, /assets/img/countries/usa@2x.jpg 1.5x, /assets/img/countries/usa@2x.jpg 2x" src="/assets/img/countries/usa.jpg" alt="alt" /><img class="logo-country__logo" srcset="/assets/img/logos/logo_home-chef-bigger.jpg, /assets/img/logos/logo_home-chef-bigger@2x.jpg 1.5x, /assets/img/logos/logo_home-chef-bigger@2x.jpg 2x" src="/assets/img/logos/logo_home-chef-bigger.jpg" alt="alt" /></div>
                <div class="box py-3 px-4"><i class="lh-2"> “Kroger continues to redefine the customer experience and provide new ways to shop for, prep and cook meals through exciting brick-and-mortar and digital experiences.” </i></div>
              </div>
            </div>
          </div><!-- section-->
          <section class="top-rating__wrapper">
            <h2>Top 7 Best Companies June, 18th, 2020</h2>
            <div class="top-rating">
              <!-- begin item-->
              <div class="top-rating__item">
                <!-- begin column-->
                <div class="top-rating__column">
                  <div class="top-rating__label">#1</div><a href="/go/hellofresh" target="_blank" rel="noopener">
                    <figure class="company-logo top-rating__logo"><img srcset="/assets/img/logos/logo_hello-fresh.png, /assets/img/logos/logo_hello-fresh@2x.png 1.5x, /assets/img/logos/logo_hello-fresh@2x.png 2x" src="/assets/img/logos/logo_hello-fresh.png" alt="alt" /></figure>
                  </a>
                  <div class="top-rating__stars"><span>Overall rating&nbsp;</span><span class="num color-secondary">98.2%</span>
                    <div class="stars ">
                      <ul class="stars__list">
                        <li class="stars__item"><img src="/assets/img/icons/star.svg" alt="" /></li>
                        <li class="stars__item"><img src="/assets/img/icons/star.svg" alt="" /></li>
                        <li class="stars__item"><img src="/assets/img/icons/star.svg" alt="" /></li>
                        <li class="stars__item"><img src="/assets/img/icons/star.svg" alt="" /></li>
                        <li class="stars__item"><img src="/assets/img/icons/star-half.svg" alt="" /></li>
                      </ul>
                    </div>
                  </div><a class="blue-link" href="https://mealkitscanada.ca/hello-fresh-canada-review/">Hello Fresh Review</a>
                </div><!-- begin column-->
                <div class="top-rating__column">
                  <div class="top-rating__title">Plans for</div>
                  <ul class="top-rating__list top-rating__list_1">
                    <li>
                      <div class="elem-icon elem-icon_good">Singles</div>
                    </li>
                    <li>
                      <div class="elem-icon elem-icon_good">Vegetarians</div>
                    </li>
                    <li>
                      <div class="elem-icon elem-icon_good">Novice cooks</div>
                    </li>
                    <li>
                      <div class="elem-icon elem-icon_good">Picky eaters</div>
                    </li>
                  </ul>
                </div><!-- begin column-->
                <div class="top-rating__column">
                  <div class="top-rating__title">Price range/ week</div>
                  <div class="strike color-gray">$78 - $165</div>
                  <div>$39 – $125</div>
                </div><!-- begin column-->
                <div class="top-rating__column">
                  <div class="top-rating__title">Pros and cons</div>
                  <ul class="top-rating__list top-rating__list_2 top-rating__list_pros">
                    <li>Large variety of meals</li>
                    <li>Wide delivery service area</li>
                    <li>Easily skip weeks as needed</li>
                  </ul>
                  <ul class="top-rating__list top-rating__list_cons">
                    <li>Individual packaging – environmental concern</li>
                  </ul>
                </div><!-- begin column-->
                <div class="top-rating__column"><a class="btn btn_primary btn_lg top-rating__btn top-rating__buttons-item-1" href="/go/hellofresh" target="_blank" rel="noopener">Visit website</a>
                  <div class="ab top-rating__coupon">
                    <div class="review-coupon__save">
                      <div class="review-coupon__top"><strong><span class="text-title">Promotion&nbsp;</span><span class="color-primary">80%</span><span class="color-primary">off</span></strong></div>
                      <div class="review-coupon__code"><span class="color-gray">Promo code:&nbsp;</span><span class="code">MKC80</span></div>
                    </div>
                  </div>
                </div>
              </div><!-- end item-->
              <!-- begin item-->
              <div class="top-rating__item">
                <!-- begin column-->
                <div class="top-rating__column">
                  <div class="top-rating__label">#2</div><a href="/go/chefsplate" target="_blank" rel="noopener">
                    <figure class="company-logo top-rating__logo"><img srcset="/assets/img/logos/logo_chefs-plate.png, /assets/img/logos/logo_chefs-plate@2x.png 1.5x, /assets/img/logos/logo_chefs-plate@2x.png 2x" src="/assets/img/logos/logo_chefs-plate.png" alt="alt" /></figure>
                  </a>
                  <div class="top-rating__stars"><span>Overall rating&nbsp;</span><span class="num color-secondary">96.2%</span>
                    <div class="stars ">
                      <ul class="stars__list">
                        <li class="stars__item"><img src="/assets/img/icons/star.svg" alt="" /></li>
                        <li class="stars__item"><img src="/assets/img/icons/star.svg" alt="" /></li>
                        <li class="stars__item"><img src="/assets/img/icons/star.svg" alt="" /></li>
                        <li class="stars__item"><img src="/assets/img/icons/star.svg" alt="" /></li>
                        <li class="stars__item"><img src="/assets/img/icons/star-half.svg" alt="" /></li>
                      </ul>
                    </div>
                  </div><a class="blue-link" href="https://mealkitscanada.ca/chefs-plate-review/">Chefs Plate Review</a>
                </div><!-- begin column-->
                <div class="top-rating__column">
                  <div class="top-rating__title">Plans for</div>
                  <ul class="top-rating__list top-rating__list_1">
                    <li>
                      <div class="elem-icon elem-icon_good">Singles</div>
                    </li>
                    <li>
                      <div class="elem-icon elem-icon_good">Vegetarians</div>
                    </li>
                    <li>
                      <div class="elem-icon elem-icon_good">Novice cooks</div>
                    </li>
                    <li>
                      <div class="elem-icon elem-icon_bad">Picky eaters</div>
                    </li>
                  </ul>
                </div><!-- begin column-->
                <div class="top-rating__column">
                  <div class="top-rating__title">Price range/ week</div>
                  <div class="strike color-gray">$46 – $144</div>
                  <div>$11 – $109</div>
                </div><!-- begin column-->
                <div class="top-rating__column">
                  <div class="top-rating__title">Pros and cons</div>
                  <ul class="top-rating__list top-rating__list_2 top-rating__list_pros">
                    <li>Lowest priced meal kit</li>
                    <li>Wide variety of meals</li>
                    <li>Super easy meal organization</li>
                  </ul>
                  <ul class="top-rating__list top-rating__list_cons">
                    <li>Portion size and veggie / meat balance</li>
                  </ul>
                </div><!-- begin column-->
                <div class="top-rating__column"><a class="btn btn_primary btn_lg top-rating__btn top-rating__buttons-item-1" href="/go/chefsplate" target="_blank" rel="noopener">Visit website</a>
                  <div class="ab top-rating__coupon">
                    <div class="review-coupon__save">
                      <div class="review-coupon__top"><strong><span class="text-title">Promotion&nbsp;</span><span class="color-primary">50%</span><span class="color-primary">off</span></strong></div>
                      <div class="review-coupon__code"><span class="color-gray">Promo code:&nbsp;</span><span class="code">MKC2X50</span></div>
                    </div>
                  </div>
                </div>
              </div><!-- end item-->
            </div>
            <p>Pat was so successful that the massive Kroger grocery chain recently purchased the company for upwards of $250 Million! With plans to put Home Chef meal kits in their 2,700+ supermarket locations, Kroger Co. is not messing around! Robert Clarck, the Senior Vice President of Merchandising at Krogers stated, Clearly the company has the capital behind it to stretch its wings a bit and aggressively pursue market share. Perhaps that means one day making a move into the Canadian market?</p>
            <p>Clearly the company has the capital behind it to stretch its wings a bit and aggressively pursue market share. Perhaps that means one day making a move into the Canadian market?</p>
          </section><!-- section-->
          <section>
            <h2>Home Chef in Canada vs Chefs Plate, Goodfood and Hello Fresh</h2>
            <div class="row">
              <div class="col-12 col-lg-7 order-md-2 order-lg-2">
                <p>Until Home Chef Canada becomes a reality, feel free to check out our in-depth looks at Canada’s largest meal kit companies. Our Hello Fresh Review, Chefs Plate Review, and Goodfood Review cover the “Big 3” of national chains. We also compare regional entities such as Saskatchewan’s Zesty Kits and Toronto’s Fresh City Farms.</p>
                <p>It’s tough to directly meal kit delivery companies like Chefs Plate or Goodfood to Home Chef because they don’t compete head-to-head in any markets. The one Canadian option that does directly compete with Home Chef is Hello Fresh. After reading several firsthand reviews about comparing their offerings in the USA. The following points might be worth mentioning (keeping in mind that Home Chef might offer a very different product to Canadians if they ever came north of the border).</p>
                <ul class="checks-list checks-list_inside">
                  <li>
                    <div class="elem-icon elem-icon_good">Home Chef offers more choices each week. Their fifteen recipes are seven more than Hello Fresh consistently offers.</div>
                  </li>
                  <li>
                    <div class="elem-icon elem-icon_good">All the websites gave these two companies the highest marks out of all the meal kits that they tested when it came to overall food quality of their ingredients. Taste and freshness were excellent for both. Hello Fresh had a slight edge when it came to making “no added hormones” and “antibiotic-free” claims. </div>
                  </li>
                  <li>
                    <div class="elem-icon elem-icon_good">Both Home Chef and Hello Fresh have easy to use apps and websites that make the customer experience super easy.</div>
                  </li>
                  <li>
                    <div class="elem-icon elem-icon_good">One area that Home Chef appears to excel in is their “add-on” ability. This is likely due to their partnership with Krogers. Items like a smoothie or a 5-minute lunch are options that Hello Fresh just doesn’t have on their menu.</div>
                  </li>
                  <li>
                    <div class="elem-icon elem-icon_good">Hello Fresh is slightly cheaper.</div>
                  </li>
                </ul>
              </div>
              <div class="col-12 col-lg-5 order-md-1 order-lg-2 text-center mb-3"><img srcset="/assets/img/versus/libra4.png, /assets/img/versus/libra4@2x.png 1.5x, /assets/img/versus/libra4@2x.png 2x" src="/assets/img/versus/libra4.png" alt="alt" /></div>
            </div>
            <p>There’s only so much that one can glean from this comparison of how meal kits stack up in another country, as the logistics of delivering fresh food in a densely-populated country like the USA are radically different from our wide-open Canadian landscape. All the same, it’s good to know that Hello Fresh (by far the largest Canadian meal kit provider) can go toe-to-toe with any of the bigshots from down south.</p>
            <p>Anecdotally, I always find it interesting that the American meal kit options aren’t even cheaper than the plans we see in Canada. If you think about the purchasing power difference between the Canadian Dollar and the American Dollar, as well as the sheer economy of scale, one would think the USA companies would be able to cut prices even more.</p>
            <p>Stay tuned to Meal Kits Canada, as we’ll be the first ones with the news if Home Chef comes to Canada (or any other American-based competitors decide to enter the Canadian meal kit delivery market)!</p>
          </section><!-- section-->
          <section>
            <h2> Title for table</h2>
            <div class="row">
              <div class="col-12 col-lg-5">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio facilis repellat eaque nihil dolores, consectetur nam delectus tempora numquam temporibus eos impedit rerum voluptate praesentium, non sint corporis exercitationem ex.</p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio facilis repellat eaque nihil dolores, consectetur nam delectus tempora numquam temporibus eos impedit rerum voluptate praesentium, non sint corporis exercitationem ex.</p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio facilis repellat eaque nihil dolores, consectetur nam delectus tempora numquam temporibus eos impedit rerum voluptate praesentium, non sint corporis exercitationem ex.</p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio facilis repellat eaque nihil dolores, consectetur nam delectus tempora numquam temporibus eos impedit rerum voluptate praesentium, non sint corporis exercitationem ex.</p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio facilis repellat eaque nihil dolores, consectetur nam delectus tempora numquam temporibus eos impedit rerum voluptate praesentium, non sint corporis exercitationem ex.</p>
              </div>
              <div class="col-12 col-lg-7">
                <div class="company-table">
                  <!--table 1-->
                  <div class="company-table__card box table-responsive">
                    <table class="table_two-col">
                      <tr>
                        <th>Price per serving</th>
                        <td>
                          <div class="color-primary">$7 - $9</div>
                        </td>
                      </tr>
                      <tr>
                        <th>Weekly Total</th>
                        <td>
                          <div class="color-primary">$35.96 -$323.64</div>
                        </td>
                      </tr>
                      <tr>
                        <th>Shipping</th>
                        <td>
                          <div class="color-primary">$7 - $14</div>
                        </td>
                      </tr>
                      <tr>
                        <th>Number of plans</th>
                        <td>No different plans</td>
                      </tr>
                      <tr>
                        <th>Veggie options?</th>
                        <td><svg class="icon icon-check ">
                            <use xlink:href="/assets/img/sprite.svg#icon-check"></use>
                          </svg></td>
                      </tr>
                    </table>
                  </div>
                  <!--end table 1-->
                  <!--table 2-->
                  <div class="company-table__card box table-responsive">
                    <table class="table_two-col">
                      <tr>
                        <th>Number of meals to choose from each week</th>
                        <td><img class="company-table__icon" src="/assets/img/icons/bread-and-meal.svg" alt="">22</td>
                      </tr>
                      <tr>
                        <th>Recipes per week</th>
                        <td><img class="company-table__icon" src="/assets/img/icons/recipe-book.svg" alt="">2-6</td>
                      </tr>
                      <tr>
                        <th>Number of people</th>
                        <td><img class="company-table__icon" src="/assets/img/icons/users.svg" alt="">2-6</td>
                      </tr>
                      <tr>
                        <th>Сooking time (min)</th>
                        <td><img class="company-table__icon" src="/assets/img/icons/clock.svg" alt="">10 - 60 min</td>
                      </tr>
                    </table>
                  </div>
                  <!--end table 2-->
                  <!--table 3-->
                  <div class="company-table__card box table-responsive">
                    <table class="table_two-col">
                      <tr>
                        <th>Established</th>
                        <td>2013</td>
                      </tr>
                      <tr>
                        <th>BBB Rating</th>
                        <td>A+</td>
                      </tr>
                      <tr>
                        <th>Google Rating</th>
                        <td>3.4</td>
                      </tr>
                      <tr>
                        <th>Downloadable App</th>
                        <td>Yes</td>
                      </tr>
                    </table>
                  </div>
                  <!--end table 3-->
                </div>
              </div>
            </div>
          </section>
        </div>
      </main>
      <div class="layout__footer">
        <!--BEGIN footer-->
        <footer class="footer">
          <div class="footer-top">
            <div class="container footer-top__container">
              <div class="footer-top__menu">
                <div class="footer-top__title">Meal Kit Companies We Cover</div>
                <ul>
                  <li><a href="#">Hello Fresh Canada Review</a></li>
                  <li><a href="#">Chef’s Plate Review</a></li>
                  <li><a href="#">Goodfood Canada Review</a></li>
                  <li><a href="#">Fresh City Farms Review</a></li>
                  <li><a href="#">Miss Fresh Meal Kits Review</a></li>
                  <li><a href="#">Prepd Meal Kits Review</a></li>
                  <li><a href="#">Plated Review</a></li>
                  <li><a href="#">Home Chef Canada Review</a></li>
                  <li><a href="#">Blue Apron Canada Review</a></li>
                </ul>
              </div>
              <div class="footer-top__menu">
                <div class="footer-top__title">Region-specific Guides</div>
                <ul>
                  <li><a href="#">Winnipeg, Regina, and Saskatoon Meal Kits Reviews 2020</a></li>
                  <li><a href="#">Halifax and the Maritimes Meal Kits Reviews 2020</a></li>
                  <li><a href="#">Meal Kits Deliveries by Areas in Canada</a></li>
                  <li><a href="#">Calgary and Edmonton Meal Kits Review 2020</a></li>
                  <li><a href="#">Montreal and Quebec Meal Kits Review 2020</a></li>
                  <li><a href="#">Vancouver Meal Kits Reviews 2020</a></li>
                  <li><a href="#">Toronto Meal Kits Review 2020</a></li>
                </ul>
              </div>
              <div class="footer-top__menu">
                <div class="footer-top__title">Additional Health Articles</div>
                <ul>
                  <li><a href="#">The Importance of Fresh Foods Vs. Canned and Frozen Food</a></li>
                  <li><a href="#">Are Meal Kits Greener – Creating Less Waste and Emissions?</a></li>
                  <li><a href="#">Will your health be determined by your genetics?</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-bottom">
            <div class="container footer-bottom__container"><a class="logo-link" href="#"><img class="logo" src="/assets/img/logos/logo.png" srcset="/assets/img/logos/log@2x.png 2x" alt="" /></a>
              <div class="footer__disclaymer"><span class="color-primary">Site Disclaimer:</span>Do not use nutrition information and recommendations on this website if you suffer from a serious condition.<p>Some of the links on this website are referral links. We get paid to refer clients to certain companies (but our rating is ours and you cannot pay to be listed higher).</p>
              </div>
              <div class="footer__socials"><b>Follow Us!</b>
                <div class="socials socials_yellow"><a class="socials__item" href="#"><svg class="icon icon-fb ">
                      <use xlink:href="/assets/img/sprite.svg#icon-fb"></use>
                    </svg></a><a class="socials__item" href="#"><svg class="icon icon-inst ">
                      <use xlink:href="/assets/img/sprite.svg#icon-inst"></use>
                    </svg></a><a class="socials__item" href="#"><svg class="icon icon-tw ">
                      <use xlink:href="/assets/img/sprite.svg#icon-tw"></use>
                    </svg></a></div>
              </div>
            </div>
          </div>
          <div class="footer-copy">
            <div class="container"><small>© 2020 Meal Kits Canada</small></div>
          </div>
        </footer>
        <!--END footer-->
      </div>
    </div><!-- begin modal-->
    <div class="modal modal_video fade" id="video" tabindex="-1" role="dialog" aria-labelledby="videoLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header"><button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
          <div class="modal-body"><iframe width="100%" height="auto" src="https://www.youtube.com/embed/y0J3LoXjpl8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe></div>
        </div>
      </div>
    </div><!-- end modal-->
    <div class="tooltip_templates">
      <div id="tooltip_content">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia ipsam libero, ea sapiente iusto obcaecati aperiam natus eum voluptatem ipsum dolore dicta quasi molestias quos? Veniam distinctio esse expedita ducimus.</p>
      </div>
    </div>
    <!--LOAD SCRIPTS-->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/tooltipster@4.2.8/dist/js/tooltipster.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script type="text/javascript" src="assets/js/new-app.js"></script>
    <script>
      $(document).ready(function()
      {
        // tooltipster
        $('.info').tooltipster(
        {
          contentCloning: true,
          interactive: true,
          theme: 'tooltipster-shadow2',
          animation: 'grow',
          maxWidth: 230
        });
        $('.js-info').tooltipster(
        {
          contentCloning: true,
          interactive: true,
          theme: 'tooltipster-shadow2',
          animation: 'grow',
          maxWidth: 230
        });
        $('.tooltip-title').tooltipster(
        {
          interactive: true,
          theme: 'tooltipster-shadow2',
          animation: 'grow',
          maxWidth: 230
        });
        $('.js-tooltipster').tooltipster(
        {
          interactive: true,
          theme: 'tooltipster-shadow2',
          animation: 'grow',
          maxWidth: 300
        });
      });

    </script>
  </body>
</html>

src/templates/homechef-review.pug
---
title: Home
---
extends layouts/_layout
block content
    .container
        .hero_standart
            .row
                .col-12.col-lg-8
                    .hero-subtitle
                        | Home Chef Canada Review 2020
                    h1.mb-2 Is Home Chef Coming to Canada?
                    .no-br
                        p
                            | With Canadian meal kit companies such a Hello Fresh expanding rapidly in the Great White North many of our readers have asked us, “When is Home Chef coming to Canada?”
                        p
                            | The truth is that as far as we aware, the big American meal kit companies such as Home Chef, Blue Apron, and Plated, don’t have any current plans to expand northward.  We will continue to follow our Google Alerts on the big names and update this article immediately. Obviously as consumers of meal kits, we’d be extremely happy to see more competition in the market, as that just gives us more options and keeps companies working hard to offer the possible product, and the lowest possible price.
                        p
                            | For those who aren’t familiar (and aren’t US-based podcast listeners) Home Chef is one of the three largest USA-based meal kit providers.  The company is the brainchild of Pat Vihtelic, who was building his lifetime passion for cooking. It’s kind of a cool entrepreneurial story, as Pat not only created the recipes and picked the food, but also created the website, and even delivered the meal kits from a rented U-Haul in the beginning days of Home Chef.

                .col-lg-4.d-none.d-lg-block
                    .logo-country.box.mb-2
                        +img('countries/usa','jpg','logo-country__flag','alt')
                        +img('logos/logo_home-chef-bigger','jpg','logo-country__logo','alt')
                    .box.py-3.px-4
                        i.lh-2
                            |  “Kroger continues to redefine the customer experience and provide new ways to shop for, prep and cook meals through exciting brick-and-mortar and digital experiences.” 


        // section
        section.top-rating__wrapper
            h2
                | Top 7 Best Companies June, 18th, 2020

            +top-rating(2)

            p
                | Pat was so successful that the massive Kroger grocery chain recently purchased the company for upwards of $250 Million!  With plans to put Home Chef meal kits in their 2,700+ supermarket locations, Kroger Co. is not messing around!  Robert Clarck, the Senior Vice President of Merchandising at Krogers stated, Clearly the company has the capital behind it to stretch its wings a bit and aggressively pursue market share.  Perhaps that means one day making a move into the Canadian market?
            p
                | Clearly the company has the capital behind it to stretch its wings a bit and aggressively pursue market share.  Perhaps that means one day making a move into the Canadian market?

        // section
        section
            h2
                | Home Chef in Canada vs Chefs Plate, Goodfood and Hello Fresh
            .row
                .col-12.col-lg-7.order-md-2.order-lg-2
                    p
                        | Until Home Chef Canada becomes a reality, feel free to check out our in-depth looks at Canada’s largest meal kit companies.  Our Hello Fresh Review, Chefs Plate Review, and Goodfood Review cover the “Big 3” of national chains.  We also compare regional entities such as Saskatchewan’s Zesty Kits and Toronto’s Fresh City Farms.
                    p
                        | It’s tough to directly meal kit delivery companies like Chefs Plate or Goodfood to Home Chef because they don’t compete head-to-head in any markets.  The one Canadian option that does directly compete with Home Chef is Hello Fresh. After reading several firsthand reviews about comparing their offerings in the USA.  The following points might be worth mentioning (keeping in mind that Home Chef might offer a very different product to Canadians if they ever came north of the border).
                    ul.checks-list.checks-list_inside
                        li
                            .elem-icon.elem-icon_good
                                | Home Chef offers more choices each week.  Their fifteen recipes are seven more than Hello Fresh consistently offers.
                        li
                            .elem-icon.elem-icon_good
                                | All the websites gave these two companies the highest marks out of all the meal kits that they tested when it came to overall food quality of their ingredients.  Taste and freshness were excellent for both. Hello Fresh had a slight edge when it came to making “no added hormones” and “antibiotic-free” claims.  
                        li
                            .elem-icon.elem-icon_good
                                | Both Home Chef and Hello Fresh have easy to use apps and websites that make the customer experience super easy.
                        li
                            .elem-icon.elem-icon_good
                                | One area that Home Chef appears to excel in is their “add-on” ability.  This is likely due to their partnership with Krogers. Items like a smoothie or a 5-minute lunch are options that Hello Fresh just doesn’t have on their menu.
                        li
                            .elem-icon.elem-icon_good
                                | Hello Fresh is slightly cheaper.


                .col-12.col-lg-5.order-md-1.order-lg-2.text-center.mb-3
                    +img('versus/libra4','png','','alt')


            p
                | There’s only so much that one can glean from this comparison of how meal kits stack up in another country, as the logistics of delivering fresh food in a densely-populated country like the USA are radically different from our wide-open Canadian landscape.  All the same, it’s good to know that Hello Fresh (by far the largest Canadian meal kit provider) can go toe-to-toe with any of the bigshots from down south.
            p
                | Anecdotally, I always find it interesting that the American meal kit options aren’t even cheaper than the plans we see in Canada.  If you think about the purchasing power difference between the Canadian Dollar and the American Dollar, as well as the sheer economy of scale, one would think the USA companies would be able to cut prices even more.
            p
                | Stay tuned to Meal Kits Canada, as we’ll be the first ones with the news if Home Chef comes to Canada (or any other American-based competitors decide to enter the Canadian meal kit delivery market)!


        // section
        section
            h2
                |  Title for table
            .row
                .col-12.col-lg-5
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio facilis repellat eaque nihil dolores, consectetur nam delectus tempora numquam temporibus eos impedit rerum voluptate praesentium, non sint corporis exercitationem ex.
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio facilis repellat eaque nihil dolores, consectetur nam delectus tempora numquam temporibus eos impedit rerum voluptate praesentium, non sint corporis exercitationem ex.
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio facilis repellat eaque nihil dolores, consectetur nam delectus tempora numquam temporibus eos impedit rerum voluptate praesentium, non sint corporis exercitationem ex.
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio facilis repellat eaque nihil dolores, consectetur nam delectus tempora numquam temporibus eos impedit rerum voluptate praesentium, non sint corporis exercitationem ex.
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio facilis repellat eaque nihil dolores, consectetur nam delectus tempora numquam temporibus eos impedit rerum voluptate praesentium, non sint corporis exercitationem ex.
                .col-12.col-lg-7
                    .company-table
                        //table 1
                        .company-table__card.box.table-responsive
                            table.table_two-col
                                tr
                                    th
                                        | Price per serving
                                    td
                                        .color-primary
                                            | $7 - $9
                                tr
                                    th
                                        | Weekly Total
                                    td
                                        .color-primary
                                            | $35.96 -$323.64
                                tr
                                    th
                                        | Shipping
                                    td
                                        .color-primary
                                            | $7 - $14
                                tr
                                    th
                                        | Number of plans
                                    td
                                        | No different plans
                                tr
                                    th
                                        | Veggie options?
                                    td
                                        +icon('check')
                        //end table 1

                        //table 2
                        .company-table__card.box.table-responsive
                            table.table_two-col
                                tr
                                    th
                                        | Number of meals to choose from each week
                                    td
                                        img.company-table__icon(src=imgPath('icons/bread-and-meal.svg'), alt="")
                                        | 22
                                tr
                                    th
                                        | Recipes per week
                                    td
                                        img.company-table__icon(src=imgPath('icons/recipe-book.svg'), alt="")
                                        | 2-6
                                tr
                                    th
                                        | Number of people
                                    td
                                        img.company-table__icon(src=imgPath('icons/users.svg'), alt="")
                                        | 2-6
                                tr
                                    th
                                        | Сooking time (min)
                                    td
                                        img.company-table__icon(src=imgPath('icons/clock.svg'), alt="")
                                        | 10 - 60 min
                        //end table 2

                        //table 3
                        .company-table__card.box.table-responsive
                            table.table_two-col
                                tr
                                    th
                                        | Established
                                    td
                                        | 2013
                                tr
                                    th
                                        | BBB Rating
                                    td
                                        | A+
                                tr
                                    th
                                        | Google Rating
                                    td
                                        | 3.4
                                tr
                                    th
                                        | Downloadable App
                                    td
                                        | Yes
                        //end table 3
