build/inspired-cooking.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MKC</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#fff">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" media="all" href="assets/css/app.css">
  </head>
  <body>
    <div class="layout">
      <div class="layout__header">
        <!--BEGIN header-->
        <header class="header">
          <div class="container header__container"><a class="logo-link" href="#"><img class="logo" src="/assets/img/logos/logo.png" srcset="/assets/img/logos/logo@2x.png 2x" alt="" /></a>
            <ul class="main-menu">
              <li class="menu-item"><a class="is-current" href="#">Best Meal Kits</a></li>
              <li class="menu-item"><a href="#">Best Food Subscription Boxes</a></li>
              <li class="menu-item"><a href="#"> Meal Kits Delivery by Area</a></li>
              <li class="menu-item"><a href="#">Meal Kits Costs</a></li>
              <li class="menu-item"><a href="#">About Us</a></li>
            </ul>
            <div class="menu-trigger"><span></span></div>
          </div>
        </header>
        <!--END header-->
      </div>
      <main class="layout__main">
        <div class="container">
          <div class="hero_standart">
            <div class="row align-items-center">
              <div class="col-12 col-lg-8">
                <h1 class="mb-2">InspiredCooking: My Favorite <br class="d-none d-md-block" />Cookbook & Story</h1>
                <div class="no-br">
                  <p>DinnrTime was an online marketplace, active between 2014 and 2016, that brought together a trusted community of food lovers who are open to making new friends, exploring new dishes and experiencing different cultures. The concept was to give ordinary people access healthy, affordable alternatives to fast food and packaged dinners, including local and organic options, allowing customers to indulge in the convenience and comfort of a home-cooked meal without having to do the grocery shopping, prepping, cooking and cleaning.</p>
                  <div class="info-block info-block_quotes info-block_inline-flex ml-md-4 mr-md-4 my-3">
                    <div class="inner">
                      <p class="mb-0">The best cookbook of its kind … The best edited cookbook of the year … One of our Top 10 cookbooks of 2016.” — Best of Food & Wine with Anthony Gismondi and Kasey Wilson</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 d-none d-lg-block text-center position-relative"><img srcset="/assets/img/articles/julia-pelish.jpg, /assets/img/articles/julia-pelish@2x.jpg 1.5x, /assets/img/articles/julia-pelish@2x.jpg 2x" src="/assets/img/articles/julia-pelish.jpg" alt="alt" />
                <div class="img-white-info">
                  <div class="ttu">Julia Pelish - Brijbassi</div>
                  <div>Love, Laughter and Light</div>
                </div>
              </div>
            </div>
          </div><!-- section-->
          <section>
            <h2>The inspiration story of ADRIAN BRIJBASSI &amp; JULIA PELISH</h2>
            <div class="row">
              <div class="col col-12 col-md-8 col-xl-9">
                <p>For people who are struggling with the horrible disease, food becomes somewhat of an obstacle. Through treatments, one’s appetite is decreasing or increasing drastically (very individual). Most people who undergo cancer treatments lose every bit of interest in food, but to some who adore food – this may be a source of great comfort.</p>
                <p>Known journalist Adrian Brijbassi started writing InspireCooking together with his wife and colleague Julia Pelish Brijbassi shortly after she was diagnosed with brain cancer. Julia, who was a journalist and photographer herself, wanted to create a cookbook that has two major principles – be healthy and raise money for an important cause – fighting cancer.</p>
                <p>Chefs from across the country were extremely receptive and participated in this superb project sharing some of their favourite (healthy) meals:</p>
              </div>
              <div class="col col-12 col-md-4 col-xl-3">
                <div class="info-block info-block_quotes mt-lg-1">
                  <div class="inner">
                    <p class="mb-0">“Inspired Cooking isn’t just a cookbook — it’s also a collection of heartfelt real life stories of people’s lives and loves and what happens when cancer strikes.”</p>
                    <p class="mb-0 text-right"><i>(CBC)</i></p>
                  </div>
                </div>
              </div>
            </div>
            <h5 class="mb-3"><strong>CHEFS Featured on InspiredCooking:</strong></h5>
            <ul class="white-boxes-list">
              <li>CHRIS AERNI</li>
              <li>ANGUS AN</li>
              <li>JASON BANGERTER</li>
              <li>WARREN BARR</li>
              <li>VICTOR BARRY</li>
              <li>NED BELL</li>
              <li>ANDREA CARLSON</li>
              <li>JEREMY CHARLES</li>
              <li>PATRICE DEMERS</li>
              <li>CONNIE DESOUSA</li>
              <li>JOHN JACKSON</li>
              <li>ROB GENTILE</li>
              <li>STEFAN HARTMANN</li>
              <li>JACKIE KAI ELLIS</li>
              <li>DALE MACKAY</li>
              <li>ROGER MOOKING</li>
              <li>ROY OH</li>
              <li>ANTONIO PARK</li>
              <li>MICHAEL SMITH</li>
              <li>VIKRAM VIJ</li>
              <li>JAMES WALT</li>
            </ul>
            <p>Sadly, Julia Pelish Brijbassi died in March 2016, before the book was complete.</p>
            <p>Adrian Brijbassi, her husband and co-author, hopes this book will help raise awareness to healthy eating to prevent disease, as well as raise awareness and funding to fight the disease.</p>
            <p>The couples’ chosen organization for donations is&nbsp;<strong><a href="https://www.inspirehealth.ca/">https://www.inspirehealth.ca/</a>,</strong>&nbsp;a not-for-profit supportive cancer care organization approved by the BC Ministry of Health.</p>
            <p><strong>We at&nbsp;<a href="https://mealkitscanada.ca/">Meal Kits Canada</a> will make a contribution in Julia’s name to honour her inspirational story.</strong></p>
          </section><!-- section-->
          <section>
            <h2>Partners and methodology:</h2>
            <p>InspireHealth and Vacay.ca have teamed with Fresh Air Publishing to create a cookbook focused on providing healthy recipes and expert nutritional resources for all Canadians. We have selected 20 of the leading chefs from across Canada to relate their stories about the importance of nutrition in their lives and their work. The cookbook will be on retail shelves such as Chapters and Indigo and online retailers such as Amazon by late 2016. Proceeds will be used to fund InspireHealth’s initiative of providing top level supportive cancer care for Canadians.</p>
            <h5 class="mb-3"><strong>The all star team behind the book</strong></h5>
            <div class="row">
              <div class="col col-1-5 mb-3">
                <div class="box p-3 h-100">
                  <h6><strong class="ttu">JULIA PELISH</strong></h6>
                  <p class="mb-0">Vacay.ca’s co-founder and one of Canada’s leading travel photographers, Julia conceived the idea of Inspired Cooking and was an InspireHealth member.</p>
                </div>
              </div>
              <div class="col col-1-5 mb-3">
                <div class="box p-3 h-100">
                  <h6><strong class="ttu">ADRIAN BRIJBASSI</strong></h6>
                  <p class="mb-0">Adrian has won several awards, including NATJA gold prizes and created the Top 50 Restaurants in Canada Guide.</p>
                </div>
              </div>
              <div class="col col-1-5 mb-3">
                <div class="box p-3 h-100">
                  <h6><strong class="ttu">PETTI FONG</strong></h6>
                  <p class="mb-0">A SATW award winner, Petti works for CBC Vancouver and is an expert in cutting-edge video technology.</p>
                </div>
              </div>
              <div class="col col-1-5 mb-3">
                <div class="box p-3 h-100">
                  <h6><strong class="ttu">RENÉE SUEN</strong></h6>
                  <p class="mb-0">Renée is food and culinary travel writer based in Toronto who contributes to Toronto Life, Sing Tao’s EliteGen, Toronto Star and Globe &amp; Mail.</p>
                </div>
              </div>
              <div class="col col-1-5 mb-3">
                <div class="box p-3 h-100">
                  <h6><strong class="ttu">ROD CHARLES</strong></h6>
                  <p class="mb-0">Rod is a Managing Partner at Vacay.ca and the former travel editor of the Huffington Post.</p>
                </div>
              </div>
            </div>
          </section>
        </div>
      </main>
      <div class="layout__footer">
        <!--BEGIN footer-->
        <footer class="footer">
          <div class="footer-top">
            <div class="container footer-top__container">
              <div class="footer-top__menu">
                <div class="footer-top__title">Meal Kit Companies We Cover</div>
                <ul>
                  <li><a href="#">Hello Fresh Canada Review</a></li>
                  <li><a href="#">Chef’s Plate Review</a></li>
                  <li><a href="#">Goodfood Canada Review</a></li>
                  <li><a href="#">Fresh City Farms Review</a></li>
                  <li><a href="#">Miss Fresh Meal Kits Review</a></li>
                  <li><a href="#">Prepd Meal Kits Review</a></li>
                  <li><a href="#">Plated Review</a></li>
                  <li><a href="#">Home Chef Canada Review</a></li>
                  <li><a href="#">Blue Apron Canada Review</a></li>
                </ul>
              </div>
              <div class="footer-top__menu">
                <div class="footer-top__title">Region-specific Guides</div>
                <ul>
                  <li><a href="#">Winnipeg, Regina, and Saskatoon Meal Kits Reviews 2020</a></li>
                  <li><a href="#">Halifax and the Maritimes Meal Kits Reviews 2020</a></li>
                  <li><a href="#">Meal Kits Deliveries by Areas in Canada</a></li>
                  <li><a href="#">Calgary and Edmonton Meal Kits Review 2020</a></li>
                  <li><a href="#">Montreal and Quebec Meal Kits Review 2020</a></li>
                  <li><a href="#">Vancouver Meal Kits Reviews 2020</a></li>
                  <li><a href="#">Toronto Meal Kits Review 2020</a></li>
                </ul>
              </div>
              <div class="footer-top__menu">
                <div class="footer-top__title">Additional Health Articles</div>
                <ul>
                  <li><a href="#">The Importance of Fresh Foods Vs. Canned and Frozen Food</a></li>
                  <li><a href="#">Are Meal Kits Greener – Creating Less Waste and Emissions?</a></li>
                  <li><a href="#">Will your health be determined by your genetics?</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-bottom">
            <div class="container footer-bottom__container"><a class="logo-link" href="#"><img class="logo" src="/assets/img/logos/logo.png" srcset="/assets/img/logos/log@2x.png 2x" alt="" /></a>
              <div class="footer__disclaymer"><span class="color-primary">Site Disclaimer:</span>Do not use nutrition information and recommendations on this website if you suffer from a serious condition.<p>Some of the links on this website are referral links. We get paid to refer clients to certain companies (but our rating is ours and you cannot pay to be listed higher).</p>
              </div>
              <div class="footer__socials"><b>Follow Us!</b>
                <div class="socials socials_yellow"><a class="socials__item" href="#"><svg class="icon icon-fb ">
                      <use xlink:href="/assets/img/sprite.svg#icon-fb"></use>
                    </svg></a><a class="socials__item" href="#"><svg class="icon icon-inst ">
                      <use xlink:href="/assets/img/sprite.svg#icon-inst"></use>
                    </svg></a><a class="socials__item" href="#"><svg class="icon icon-tw ">
                      <use xlink:href="/assets/img/sprite.svg#icon-tw"></use>
                    </svg></a></div>
              </div>
            </div>
          </div>
          <div class="footer-copy">
            <div class="container"><small>© 2020 Meal Kits Canada</small></div>
          </div>
        </footer>
        <!--END footer-->
      </div>
    </div><!-- begin modal-->
    <div class="modal modal_video fade" id="video" tabindex="-1" role="dialog" aria-labelledby="videoLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header"><button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
          <div class="modal-body"><iframe width="100%" height="auto" src="https://www.youtube.com/embed/y0J3LoXjpl8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe></div>
        </div>
      </div>
    </div><!-- end modal-->
    <div class="tooltip_templates">
      <div id="tooltip_content">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia ipsam libero, ea sapiente iusto obcaecati aperiam natus eum voluptatem ipsum dolore dicta quasi molestias quos? Veniam distinctio esse expedita ducimus.</p>
      </div>
    </div>
    <!--LOAD SCRIPTS-->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/tooltipster@4.2.8/dist/js/tooltipster.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script type="text/javascript" src="assets/js/new-app.js"></script>
    <script>
      $(document).ready(function()
      {
        // tooltipster
        $('.info').tooltipster(
        {
          contentCloning: true,
          interactive: true,
          theme: 'tooltipster-shadow2',
          animation: 'grow',
          maxWidth: 230
        });
        $('.js-info').tooltipster(
        {
          contentCloning: true,
          interactive: true,
          theme: 'tooltipster-shadow2',
          animation: 'grow',
          maxWidth: 230
        });
        $('.tooltip-title').tooltipster(
        {
          interactive: true,
          theme: 'tooltipster-shadow2',
          animation: 'grow',
          maxWidth: 230
        });
        $('.js-tooltipster').tooltipster(
        {
          interactive: true,
          theme: 'tooltipster-shadow2',
          animation: 'grow',
          maxWidth: 300
        });
      });

    </script>
  </body>
</html>

src/templates/inspired-cooking.pug
---
title: InspiredCooking My Favorite Cookbook & Story
---
extends layouts/_layout
block content
    .container
        .hero_standart
            .row.align-items-center
                .col-12.col-lg-8
                    h1.mb-2 InspiredCooking: My Favorite <br class="d-none d-md-block"/>Cookbook & Story
                    .no-br
                        p
                            | DinnrTime was an online marketplace, active between 2014 and 2016, that brought together a trusted community of food lovers who are open to making new friends, exploring new dishes and experiencing different cultures. The concept was to give ordinary people access healthy, affordable alternatives to fast food and packaged dinners, including local and organic options, allowing customers to indulge in the convenience and comfort of a home-cooked meal without having to do the grocery shopping, prepping, cooking and cleaning.

                        .info-block.info-block_quotes.info-block_inline-flex.ml-md-4.mr-md-4.my-3
                            .inner
                                p.mb-0
                                    | The best cookbook of its kind … The best edited cookbook of the year … One of our Top 10 cookbooks of 2016.” — Best of Food & Wine with Anthony Gismondi and Kasey Wilson

                .col-lg-4.d-none.d-lg-block.text-center.position-relative
                    +img('articles/julia-pelish','jpg','','alt')
                    .img-white-info
                        .ttu Julia Pelish - Brijbassi
                        div Love, Laughter and Light


        // section
        section
            h2
                | The inspiration story of ADRIAN BRIJBASSI &amp; JULIA PELISH
            .row
                .col.col-12.col-md-8.col-xl-9
                    p
                        | For people who are struggling with the horrible disease, food becomes somewhat of an obstacle. Through treatments, one’s appetite is decreasing or increasing drastically (very individual). Most people who undergo cancer treatments lose every bit of interest in food, but to some who adore food – this may be a source of great comfort.
                    p
                        | Known journalist  Adrian Brijbassi started writing InspireCooking together with his wife and colleague Julia Pelish Brijbassi shortly after she was diagnosed with brain cancer. Julia, who was a journalist and photographer herself, wanted to create a cookbook that has two major principles – be healthy and raise money for an important cause – fighting cancer.
                    p
                        | Chefs from across the country were extremely receptive and participated in this superb project sharing some of their favourite (healthy) meals:
                .col.col-12.col-md-4.col-xl-3
                    .info-block.info-block_quotes.mt-lg-1
                        .inner
                            p.mb-0
                                | “Inspired Cooking isn’t just a cookbook — it’s also a collection of heartfelt real life stories of people’s lives and loves and what happens when cancer strikes.”
                            p.mb-0.text-right
                                i (CBC)

            h5.mb-3
                strong CHEFS Featured on InspiredCooking:
            ul.white-boxes-list
                li CHRIS AERNI
                li ANGUS AN
                li JASON BANGERTER
                li WARREN BARR
                li VICTOR BARRY
                li NED BELL
                li ANDREA CARLSON
                li JEREMY CHARLES
                li PATRICE DEMERS
                li CONNIE DESOUSA
                li JOHN JACKSON
                li ROB GENTILE
                li STEFAN HARTMANN
                li JACKIE KAI ELLIS
                li DALE MACKAY
                li ROGER MOOKING
                li ROY OH
                li ANTONIO PARK
                li MICHAEL SMITH
                li VIKRAM VIJ
                li JAMES WALT

            p
                | Sadly, Julia Pelish Brijbassi died in March 2016, before the book was complete.
            p
                | Adrian Brijbassi, her husband and co-author, hopes this book will help raise awareness to healthy eating to prevent disease, as well as raise awareness and funding to fight the disease.
            p
                | The couples’ chosen organization for donations is&nbsp;
                strong
                    a(href='https://www.inspirehealth.ca/') https://www.inspirehealth.ca/
                    | ,
                | &nbsp;a not-for-profit supportive cancer care organization approved by the BC Ministry of Health.
            p
                strong
                    | We at&nbsp;
                    a(href='https://mealkitscanada.ca/') Meal Kits Canada
                    |  will make a contribution in Julia’s name to honour her inspirational story.


        // section
        section
            h2
                | Partners and methodology:
            p
                | InspireHealth and Vacay.ca have teamed with Fresh Air Publishing to create a cookbook focused on providing healthy recipes and expert nutritional resources for all Canadians. We have selected 20 of the leading chefs from across Canada to relate their stories about the importance of nutrition in their lives and their work. The cookbook will be on retail shelves such as Chapters and Indigo and online retailers such as Amazon by late 2016. Proceeds will be used to fund InspireHealth’s initiative of providing top level supportive cancer care for Canadians.
            h5.mb-3
                strong The all star team behind the book
            .row
                .col.col-1-5.mb-3
                    .box.p-3.h-100
                        h6
                            strong.ttu JULIA PELISH
                        p.mb-0
                            | Vacay.ca’s co-founder and one of Canada’s leading travel photographers, Julia conceived the idea of Inspired Cooking and was an InspireHealth member.
                .col.col-1-5.mb-3
                    .box.p-3.h-100
                        h6
                            strong.ttu ADRIAN BRIJBASSI
                        p.mb-0
                            | Adrian has won several awards, including NATJA gold prizes and created the Top 50 Restaurants in Canada Guide.
                .col.col-1-5.mb-3
                    .box.p-3.h-100
                        h6
                            strong.ttu PETTI FONG
                        p.mb-0
                            | A SATW award winner, Petti works for CBC Vancouver and is an expert in cutting-edge video technology.
                .col.col-1-5.mb-3
                    .box.p-3.h-100
                        h6
                            strong.ttu RENÉE SUEN
                        p.mb-0
                            | Renée is food and culinary travel writer based in Toronto who contributes to Toronto Life, Sing Tao’s EliteGen, Toronto Star and Globe &amp; Mail.
                .col.col-1-5.mb-3
                    .box.p-3.h-100
                        h6
                            strong.ttu ROD CHARLES
                        p.mb-0
                            | Rod is a Managing Partner at Vacay.ca and the former travel editor of the Huffington Post.
