build/meal-kit-discounts.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MKC</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#fff">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" media="all" href="assets/css/app.css">
  </head>
  <body>
    <div class="layout">
      <div class="layout__header">
        <!--BEGIN header-->
        <header class="header">
          <div class="container header__container"><a class="logo-link" href="#"><img class="logo" src="/assets/img/logos/logo.png" srcset="/assets/img/logos/logo@2x.png 2x" alt="" /></a>
            <ul class="main-menu">
              <li class="menu-item"><a class="is-current" href="#">Best Meal Kits</a></li>
              <li class="menu-item"><a href="#">Best Food Subscription Boxes</a></li>
              <li class="menu-item"><a href="#"> Meal Kits Delivery by Area</a></li>
              <li class="menu-item"><a href="#">Meal Kits Costs</a></li>
              <li class="menu-item"><a href="#">About Us</a></li>
            </ul>
            <div class="menu-trigger"><span></span></div>
          </div>
        </header>
        <!--END header-->
      </div>
      <main class="layout__main">
        <div class="container">
          <div class="hero_standart mb-lg-0">
            <div class="row align-items-center">
              <div class="col-12 col-lg-8">
                <h1 class="mb-2">Meal kit discounts / coupons</h1>
                <div class="h4 bigger">Hello Fresh Coupon, Chefs Plate Promo Code, and Zesty Kits Coupon at Meal Kits Canada</div>
                <div class="no-br">
                  <p>“A penny saved is a penny earned,” said my Grandma. A wise woman, she taught me to save money for a rainy day and showed me various ways to do it. One of the easiest and painless ways to save money that, in addition, costs you nothing, is using coupons while shopping.</p>
                  <p>Retail stores are not the only ones to offer coupons to their customers. Many meal kit companies in Canada have promo codes, coupons, discounts, bonus offers, and freebies that new customers can use to try a new service and see how they like it. A&nbsp;<a href="/go/hellofresh" target="_blank" rel="noopener ">Hello Fresh</a>&nbsp;coupon, Zesty Kits coupon, and Chefs Plate promo code for Canada is available to you right here, on&nbsp;<a href="https://mealkitscanada.ca/">MealKitsCanada</a>. Use them and save money!</p>
                </div>
              </div>
              <div class="col-lg-4 d-none d-lg-block text-center hero-discount-img"><img srcset="/assets/img/discount/qr-coupon.png, /assets/img/discount/qr-coupon@2x.png 1.5x, /assets/img/discount/qr-coupon@2x.png 2x" src="/assets/img/discount/qr-coupon.png" alt="alt" /></div>
            </div>
          </div><!-- section-->
          <section>
            <div class="table-responsive" id="coupons">
              <table class="table_discount">
                <thead>
                  <tr>
                    <th class="first-column" rowspan="2">
                      <div class="text">Company</div>
                    </th>
                    <th class="first-out-column" rowspan="2">Provinces <br />Served</th>
                    <th class="second-column" colspan="2" rowspan="2">
                      <div class="triplet">
                        <div class="th-title">Regular price per week</div>
                        <div class="duplet">
                          <div class="half">Min</div>
                          <div class="half">Max</div>
                        </div>
                      </div>
                    </th>
                    <th class="third-column" colspan="4" rowspan="2">
                      <div class="qvintet">
                        <div class="th-title">Promotion</div>
                        <div class="quartet">
                          <div class="part">Amount</div>
                          <div class="part">Unit</div>
                          <div class="part">Duration</div>
                          <div class="part">Value $CAD</div>
                        </div>
                      </div>
                    </th>
                    <th colspan="2" rowspan="2">Promo code</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="first-column"><a href="/go/hellofresh" target="_blank" rel="noopener">
                        <figure class="company-logo"><img src="/assets/img/logos/1_logo_hello-fresh_2021_4_1_hello-fresh.svg" alt=""></figure>
                      </a>
                      <div style="margin-left: 30px;"><a class="blue-link" href="/hello-fresh-canada-review/">HelloFresh Review</a></div>
                    </td>
                    <td><span class="count-states">10</span>
                      <div class="info" data-tooltip-content="#tooltip_content-0"></div>
                    </td>
                    <td colspan="2">
                      <div class="duplet">
                        <div class="half"><span class="cur">$&nbsp;&nbsp;</span><span>78</span></div>
                        <div class="half"><span class="cur">$&nbsp;&nbsp;</span><span>165</span></div>
                      </div>
                    </td>
                    <td colspan="4">
                      <div class="quartet">
                        <div class="part"><span>80</span></div>
                        <div class="part"><span>$</span></div>
                        <div class="part"><span>3 weeks</span></div>
                        <div class="part"><span>$ 80.00</span></div>
                      </div>
                    </td>
                    <td colspan="2">
                      <div class="duplet">
                        <div class="half"><span><strong class="color-primary">MKC80</strong></span></div>
                        <div class="half"><a class="btn btn_primary btn_noshadow mob-w-100" href="/go/hellofresh" target="_blank" rel="noopener">Claim now</a></div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="first-column">
                      <figure class="company-logo"><img srcset="/assets/img/logos/logo_eat-you-cake.png, /assets/img/logos/logo_eat-you-cake@2x.png 1.5x, /assets/img/logos/logo_eat-you-cake@2x.png 2x" src="/assets/img/logos/logo_eat-you-cake.png" alt="alt" /></figure>
                      <div style="margin-left: 30px;"><a class="blue-link" href="/hello-fresh-canada-review/"></a></div>
                    </td>
                    <td><span class="count-states">1</span>
                      <div class="info" data-tooltip-content="#tooltip_content-1"></div>
                    </td>
                    <td colspan="2">
                      <div class="duplet">
                        <div class="half"><span class="cur">$&nbsp;&nbsp;</span><span>150</span></div>
                        <div class="half"><span class="cur">$&nbsp;&nbsp;</span><span>245</span></div>
                      </div>
                    </td>
                    <td colspan="4">
                      <div class="quartet">
                        <div class="part"><span>15</span></div>
                        <div class="part"><span>%</span></div>
                        <div class="part"><span>1 week</span></div>
                        <div class="part"><span>$ 29.63</span></div>
                      </div>
                    </td>
                    <td colspan="2">
                      <div class="duplet">
                        <div class="half"><span><span>automatic</span></span></div>
                        <div class="half"></div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="first-column">
                      <figure class="company-logo"><img srcset="/assets/img/logos/logo_good-food.png, /assets/img/logos/logo_good-food@2x.png 1.5x, /assets/img/logos/logo_good-food@2x.png 2x" src="/assets/img/logos/logo_good-food.png" alt="alt" /></figure>
                      <div style="margin-left: 30px;"><a class="blue-link" href="/hello-fresh-canada-review/">Good Food Review</a></div>
                    </td>
                    <td><span class="count-states">9</span>
                      <div class="info" data-tooltip-content="#tooltip_content-2"></div>
                    </td>
                    <td colspan="2">
                      <div class="duplet">
                        <div class="half"><span class="cur">$&nbsp;&nbsp;</span><span>56</span></div>
                        <div class="half"><span class="cur">$&nbsp;&nbsp;</span><span>196</span></div>
                      </div>
                    </td>
                    <td colspan="4">
                      <div class="quartet">
                        <div class="part"><span>3</span></div>
                        <div class="part"><span>meals</span></div>
                        <div class="part"><span>1 week</span></div>
                        <div class="part"><span>$ 27.89</span></div>
                      </div>
                    </td>
                    <td colspan="2">
                      <div class="duplet">
                        <div class="half"><span><span class="ttu">SWD5-092020</span></span></div>
                        <div class="half"></div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="first-column">
                      <figure class="company-logo"><img srcset="/assets/img/logos/logo_cook-it.png, /assets/img/logos/logo_cook-it@2x.png 1.5x, /assets/img/logos/logo_cook-it@2x.png 2x" src="/assets/img/logos/logo_cook-it.png" alt="alt" /></figure>
                      <div style="margin-left: 30px;"><a class="blue-link" href="/hello-fresh-canada-review/">Cook It Review</a></div>
                    </td>
                    <td><span class="count-states">3</span>
                      <div class="info" data-tooltip-content="#tooltip_content-3"></div>
                    </td>
                    <td colspan="2">
                      <div class="duplet">
                        <div class="half"><span class="cur">$&nbsp;&nbsp;</span><span>62</span></div>
                        <div class="half"><span class="cur">$&nbsp;&nbsp;</span><span>149</span></div>
                      </div>
                    </td>
                    <td colspan="4">
                      <div class="quartet">
                        <div class="part"><span>15</span></div>
                        <div class="part"><span>%</span></div>
                        <div class="part"><span>1 week</span></div>
                        <div class="part"><span>$ 15.83</span></div>
                      </div>
                    </td>
                    <td colspan="2">
                      <div class="duplet">
                        <div class="half"><span><span>automatic</span></span></div>
                        <div class="half"></div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="first-column">
                      <figure class="company-logo"><img srcset="/assets/img/logos/logo_fresh-sity.png, /assets/img/logos/logo_fresh-sity@2x.png 1.5x, /assets/img/logos/logo_fresh-sity@2x.png 2x" src="/assets/img/logos/logo_fresh-sity.png" alt="alt" /></figure>
                      <div style="margin-left: 30px;"><a class="blue-link" href="/hello-fresh-canada-review/">Fresh City Farms Review</a></div>
                    </td>
                    <td><span class="count-states">1</span>
                      <div class="info" data-tooltip-content="#tooltip_content-4"></div>
                    </td>
                    <td colspan="2">
                      <div class="duplet">
                        <div class="half"><span class="cur">$&nbsp;&nbsp;</span><span>39</span></div>
                        <div class="half"><span class="cur">$&nbsp;&nbsp;</span><span>49</span></div>
                      </div>
                    </td>
                    <td colspan="4">
                      <div class="quartet">
                        <div class="part"><span>0</span></div>
                        <div class="part"><span><span class="color-gray">n/a<span></span></div>
                        <div class="part"><span><span class="color-gray">n/a<span></span></div>
                        <div class="part"><span>$ 0.00</span></div>
                      </div>
                    </td>
                    <td colspan="2">
                      <div class="duplet">
                        <div class="half"><span><span class="color-gray">n/a<span></span></div>
                        <div class="half"></div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="tooltip_templates">
              <div class="elem" id="tooltip_content-0">
                <div class="review__category-inner">
                  <p>AB, BC, MB, NB, NL, NS, ON, PE, QC, SK</p>
                </div>
              </div>
              <div class="elem" id="tooltip_content-1">
                <div class="review__category-inner">
                  <p>BC</p>
                </div>
              </div>
              <div class="elem" id="tooltip_content-2">
                <div class="review__category-inner">
                  <p>AB, BC, QC, MB, NB, NS, ON, PE, SK</p>
                </div>
              </div>
              <div class="elem" id="tooltip_content-3">
                <div class="review__category-inner">
                  <p>QC, ON, NS</p>
                </div>
              </div>
              <div class="elem" id="tooltip_content-4">
                <div class="review__category-inner">
                  <p>ON</p>
                </div>
              </div>
              <div class="elem" id="tooltip_content-zesty">
                <div class="review__category-inner">
                  <div class="span color-primary">+free&nbsp;</div>baking kit and local snacks
                </div>
              </div>
            </div>
          </section><!-- section-->
          <section>
            <h2>Smart Retail Shopping</h2>
            <p>Nowadays, almost every retail store, regardless if it is brick-and-mortar or online, offers some kind of discount. Many supermarkets offer savings cards, and I have these cards for each store where I shop. Even when I travel and go grocery shopping in a new place, the first thing I do in the store is to go to the Customer Service desk and ask for a savings card. Now I have quite a collection of savings cards. My Grandma would be very proud of me!</p>
            <p>Another way to save money that retailers always have available to their customers is coupons. Brick-and-mortar stores publish their coupons in newspapers for old school penny savers who still receive their papers in their mailbox or driveway and then clip coupons from the Sunday edition. Some retailers just mail their coupons to potential customers. For the younger generations, many stores now have coupons available on their websites or in apps. All you need to do is to show the coupon barcode at the cash register.</p>
            <p>For online stores and services, it is even easier to save. All you need to do is google a coupon, and ninety times out of a hundred, you will be able to find it. Many retail companies will send you their deals via email. So make sure when you request them you use a separate email address for online deals only, as they will overload your mailbox quickly!</p>
          </section><!-- section-->
          <section>
            <h2>Meal Kit Discounts and Coupons in Canada</h2>
            <p>There are over a dozen meal kit companies in Canada. Some of them are global, like HelloFresh, ChefsPlate, and GoodFood that deliver meal kits all over Canada. Others are small local companies like Zesty Kits that only works in Saskatchewan and serves a handful of customers. Regardless of their size, all meal kit companies are interested in acquiring more clients. What is the easiest way to attract new customers? Give them freebies, of course!</p>
            <p>Of course, the biggest offers are available where more people live, see the graph below, but small companies that operate in rural areas also have sweet deals to attract new customers.</p>
            <div class="box"><img class="full-img" src="/assets/img/discount/discount-graph.svg" alt=""></div>
          </section><!-- section-->
          <section>
            <h2>Hello Fresh Coupons in Canada</h2>
            <p>Founded in Germany, HelloFresh has quickly spread out in Europe, North America, and Australia. Today, it is the biggest company in the Canadian market. It delivers meal kits to every province in Canada, currently serving more than 90,000 clients and looking for more. For new customers in Canada, there are multiple Hello Fresh promo codes and coupons available online, and sometimes in the regular mail.</p>
            <p>At Meal Kits Canada you can get $80 off the first three boxes of Hello Fresh meal kits with coupon code MKC80! This generous deal is available for new customers only, which is a common practice. Meal kit companies hardly ever offer deals to existing customers, but they can vary how many meals per week they want to order. Many extras, such as breakfast and snack items, are also available. Don’t forget to use your HelloFresh coupon when you order for the first time!</p>
          </section><!-- section-->
          <section>
            <h2>Chefs Plate Promo Codes in Canada</h2>
            <p><a href="https://mealkitscanada.ca/chefs-plate-review/">Chefs Plate</a>&nbsp;is another big meal kit company in Canada. It was established in 2014 in Toronto and purchased by HelloFresh a few years later when HelloFresh came to the Canadian market. Even though Chefs Plate is considered to be one of the&nbsp;<a href="https://mealkitscanada.ca/costs-and-cheapest-meal-kit/">lowest cost meal kits</a>&nbsp;in Canada, new customers can still save some money on it. Chefs Plate coupon code MKC2X50 will save you 50% on the first two meal kits. The regular meal prices at Chefs Plate start as low as $5 per serving, so don’t miss out on a really good deal!</p>
          </section><!-- section-->
          <section>
            <h2>Zesty Kits Coupon Code</h2>
            <p>Unlike HelloFresh and Chefs Plate, which deliver their meal kits all over Canada, Zesty Kits is a small, local company that currently serves about 200 households in Saskatchewan. Naturally, it has big plans to extend into the nearby provinces first, later to the whole country, and even go worldwide. In case you live in Saskatchewan and would like to support a local business, Zesty Kits coupon code MKC will save you $20 off your first kit, plus you will get a complimentary baking kit and Saskatchewan-made snacks with your second kit delivered right to your door. This offer is too good to miss!</p>
            <div class="text-center"><a class="btn btn_yellow btn_lg" href="#coupons">Back to the list of Meal kits coupons</a></div>
          </section><!-- section-->
          <section>
            <h2>Final Words About Meal Kit Discounts and Coupons in Canada</h2>
            <p>Even though meal kits are not the cheapest option to buy food, you can still save money on them. Almost every meal kit delivery company in Canada offers some discount on the first few kits; this could be free weeks, half-priced kits, or additional items and gifts for new customers.</p>
            <p>At Meal Kits Canada you can get discounts on Hello Fresh, Chefs Plate, and Zesty Kits. The Hello Fresh coupon code is <b>MKC80</b>, and will save you $80 on your first three kits. The Chefs Plate coupon code is <b>MKC2X50</b>, which will save you 50% on the first two kits. The Zesty Kits coupon code <b>MKC</b> will not only save you $20 on your first kit but will also add some extra snacks and a baking kit to your second order! Use the coupon codes to try these kits and decide which one you like best.</p>
            <p>&nbsp;</p>
          </section>
        </div>
      </main>
      <div class="layout__footer">
        <!--BEGIN footer-->
        <footer class="footer">
          <div class="footer-top">
            <div class="container footer-top__container">
              <div class="footer-top__menu">
                <div class="footer-top__title">Meal Kit Companies We Cover</div>
                <ul>
                  <li><a href="#">Hello Fresh Canada Review</a></li>
                  <li><a href="#">Chef’s Plate Review</a></li>
                  <li><a href="#">Goodfood Canada Review</a></li>
                  <li><a href="#">Fresh City Farms Review</a></li>
                  <li><a href="#">Miss Fresh Meal Kits Review</a></li>
                  <li><a href="#">Prepd Meal Kits Review</a></li>
                  <li><a href="#">Plated Review</a></li>
                  <li><a href="#">Home Chef Canada Review</a></li>
                  <li><a href="#">Blue Apron Canada Review</a></li>
                </ul>
              </div>
              <div class="footer-top__menu">
                <div class="footer-top__title">Region-specific Guides</div>
                <ul>
                  <li><a href="#">Winnipeg, Regina, and Saskatoon Meal Kits Reviews 2020</a></li>
                  <li><a href="#">Halifax and the Maritimes Meal Kits Reviews 2020</a></li>
                  <li><a href="#">Meal Kits Deliveries by Areas in Canada</a></li>
                  <li><a href="#">Calgary and Edmonton Meal Kits Review 2020</a></li>
                  <li><a href="#">Montreal and Quebec Meal Kits Review 2020</a></li>
                  <li><a href="#">Vancouver Meal Kits Reviews 2020</a></li>
                  <li><a href="#">Toronto Meal Kits Review 2020</a></li>
                </ul>
              </div>
              <div class="footer-top__menu">
                <div class="footer-top__title">Additional Health Articles</div>
                <ul>
                  <li><a href="#">The Importance of Fresh Foods Vs. Canned and Frozen Food</a></li>
                  <li><a href="#">Are Meal Kits Greener – Creating Less Waste and Emissions?</a></li>
                  <li><a href="#">Will your health be determined by your genetics?</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-bottom">
            <div class="container footer-bottom__container"><a class="logo-link" href="#"><img class="logo" src="/assets/img/logos/logo.png" srcset="/assets/img/logos/log@2x.png 2x" alt="" /></a>
              <div class="footer__disclaymer"><span class="color-primary">Site Disclaimer:</span>Do not use nutrition information and recommendations on this website if you suffer from a serious condition.<p>Some of the links on this website are referral links. We get paid to refer clients to certain companies (but our rating is ours and you cannot pay to be listed higher).</p>
              </div>
              <div class="footer__socials"><b>Follow Us!</b>
                <div class="socials socials_yellow"><a class="socials__item" href="#"><svg class="icon icon-fb ">
                      <use xlink:href="/assets/img/sprite.svg#icon-fb"></use>
                    </svg></a><a class="socials__item" href="#"><svg class="icon icon-inst ">
                      <use xlink:href="/assets/img/sprite.svg#icon-inst"></use>
                    </svg></a><a class="socials__item" href="#"><svg class="icon icon-tw ">
                      <use xlink:href="/assets/img/sprite.svg#icon-tw"></use>
                    </svg></a></div>
              </div>
            </div>
          </div>
          <div class="footer-copy">
            <div class="container"><small>© 2020 Meal Kits Canada</small></div>
          </div>
        </footer>
        <!--END footer-->
      </div>
    </div><!-- begin modal-->
    <div class="modal modal_video fade" id="video" tabindex="-1" role="dialog" aria-labelledby="videoLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header"><button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
          <div class="modal-body"><iframe width="100%" height="auto" src="https://www.youtube.com/embed/y0J3LoXjpl8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe></div>
        </div>
      </div>
    </div><!-- end modal-->
    <div class="tooltip_templates">
      <div id="tooltip_content">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia ipsam libero, ea sapiente iusto obcaecati aperiam natus eum voluptatem ipsum dolore dicta quasi molestias quos? Veniam distinctio esse expedita ducimus.</p>
      </div>
    </div>
    <!--LOAD SCRIPTS-->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/tooltipster@4.2.8/dist/js/tooltipster.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script type="text/javascript" src="assets/js/new-app.js"></script>
    <script>
      $(document).ready(function()
      {
        // tooltipster
        $('.info').tooltipster(
        {
          contentCloning: true,
          interactive: true,
          theme: 'tooltipster-shadow2',
          animation: 'grow',
          maxWidth: 230
        });
        $('.js-info').tooltipster(
        {
          contentCloning: true,
          interactive: true,
          theme: 'tooltipster-shadow2',
          animation: 'grow',
          maxWidth: 230
        });
        $('.tooltip-title').tooltipster(
        {
          interactive: true,
          theme: 'tooltipster-shadow2',
          animation: 'grow',
          maxWidth: 230
        });
        $('.js-tooltipster').tooltipster(
        {
          interactive: true,
          theme: 'tooltipster-shadow2',
          animation: 'grow',
          maxWidth: 300
        });
      });

    </script>
  </body>
</html>

src/templates/meal-kit-discounts.pug
---
title: Meal kit discount
---
extends layouts/_layout
block content

    .container
        .hero_standart.mb-lg-0
            .row.align-items-center
                .col-12.col-lg-8
                    h1.mb-2 Meal kit discounts / coupons
                    .h4.bigger
                        | Hello Fresh Coupon, Chefs Plate Promo Code, and Zesty Kits Coupon at Meal Kits Canada
                    .no-br
                        p
                            | “A penny saved is a penny earned,” said my Grandma. A wise woman, she taught me to save money for a rainy day and showed me various ways to do it. One of the easiest and painless ways to save money that, in addition, costs you nothing, is using coupons while shopping.
                        p
                            | Retail stores are not the only ones to offer coupons to their customers. Many meal kit companies in Canada have promo codes, coupons, discounts, bonus offers, and freebies that new customers can use to try a new service and see how they like it. A&nbsp;
                            a(href='/go/hellofresh', target='_blank', rel='noopener ') Hello Fresh
                            | &nbsp;coupon, Zesty Kits coupon, and Chefs Plate promo code for Canada is available to you right here, on&nbsp;
                            a(href="https://mealkitscanada.ca/") MealKitsCanada
                            |. Use them and save money!

                .col-lg-4.d-none.d-lg-block.text-center.hero-discount-img
                    +img('discount/qr-coupon','png','','alt')

        include partials/coupon-table




        // section
        section
            h2
                | Smart Retail Shopping
            p
                | Nowadays, almost every retail store, regardless if it is brick-and-mortar or online, offers some kind of discount. Many supermarkets offer savings cards, and I have these cards for each store where I shop. Even when I travel and go grocery shopping in a new place, the first thing I do in the store is to go to the Customer Service desk and ask for a savings card. Now I have quite a collection of savings cards. My Grandma would be very proud of me!
            p
                | Another way to save money that retailers always have available to their customers is coupons. Brick-and-mortar stores publish their coupons in newspapers for old school penny savers who still receive their papers in their mailbox or driveway and then clip coupons from the Sunday edition. Some retailers just mail their coupons to potential customers. For the younger generations, many stores now have coupons available on their websites or in apps. All you need to do is to show the coupon barcode at the cash register.
            p
                | For online stores and services, it is even easier to save. All you need to do is google a coupon, and ninety times out of a hundred, you will be able to find it. Many retail companies will send you their deals via email. So make sure when you request them you use a separate email address for online deals only, as they will overload your mailbox quickly!


        // section
        section
            h2
                | Meal Kit Discounts and Coupons in Canada
            p
                | There are over a dozen meal kit companies in Canada. Some of them are global, like HelloFresh, ChefsPlate, and GoodFood that deliver meal kits all over Canada. Others are small local companies like Zesty Kits that only works in Saskatchewan and serves a handful of customers. Regardless of their size, all meal kit companies are interested in acquiring more clients. What is the easiest way to attract new customers? Give them freebies, of course!
            p
                | Of course, the biggest offers are available where more people live, see the graph below, but small companies that operate in rural areas also have sweet deals to attract new customers.

            .box
                img.full-img(src=imgPath('discount/discount-graph.svg'), alt="")

        // section
        section
            h2
                | Hello Fresh Coupons in Canada
            p
                | Founded in Germany, HelloFresh has quickly spread out in Europe, North America, and Australia. Today, it is the biggest company in the Canadian market. It delivers meal kits to every province in Canada, currently serving more than 90,000 clients and looking for more. For new customers in Canada, there are multiple Hello Fresh promo codes and coupons available online, and sometimes in the regular mail.
            p
                | At Meal Kits Canada you can get $80 off the first three boxes of Hello Fresh meal kits with coupon code MKC80! This generous deal is available for new customers only, which is a common practice. Meal kit companies hardly ever offer deals to existing customers, but they can vary how many meals per week they want to order. Many extras, such as breakfast and snack items, are also available. Don’t forget to use your HelloFresh coupon when you order for the first time!

        // section
        section
            h2
                | Chefs Plate Promo Codes in Canada
            p
                a(href="https://mealkitscanada.ca/chefs-plate-review/") Chefs Plate
                | &nbsp;is another big meal kit company in Canada. It was established in 2014 in Toronto and purchased by HelloFresh a few years later when HelloFresh came to the Canadian market. Even though Chefs Plate is considered to be one of the&nbsp;
                a(href="https://mealkitscanada.ca/costs-and-cheapest-meal-kit/") lowest cost meal kits
                | &nbsp;in Canada, new customers can still save some money on it. Chefs Plate coupon code MKC2X50 will save you 50% on the first two meal kits. The regular meal prices at Chefs Plate start as low as $5 per serving, so don’t miss out on a really good deal!

        // section
        section
            h2
                | Zesty Kits Coupon Code
            p
                | Unlike HelloFresh and Chefs Plate, which deliver their meal kits all over Canada, Zesty Kits is a small, local company that currently serves about 200 households in Saskatchewan. Naturally, it has big plans to extend into the nearby provinces first, later to the whole country, and even go worldwide. In case you live in Saskatchewan and would like to support a local business, Zesty Kits coupon code MKC will save you $20 off your first kit, plus you will get a complimentary baking kit and Saskatchewan-made snacks with your second kit delivered right to your door. This offer is too good to miss!
            .text-center
                a.btn.btn_yellow.btn_lg(href="#coupons")
                    | Back to the list of Meal kits coupons

        // section
        section
            h2
                | Final Words About Meal Kit Discounts and Coupons in Canada
            p
                | Even though meal kits are not the cheapest option to buy food, you can still save money on them. Almost every meal kit delivery company in Canada offers some discount on the first few kits; this could be free weeks, half-priced kits, or additional items and gifts for new customers.
            p
                | At Meal Kits Canada you can get discounts on Hello Fresh, Chefs Plate, and Zesty Kits. The Hello Fresh coupon code is <b>MKC80</b>, and will save you $80 on your first three kits. The Chefs Plate coupon code is <b>MKC2X50</b>, which will save you 50% on the first two kits. The Zesty Kits coupon code <b>MKC</b> will not only save you $20 on your first kit but will also add some extra snacks and a baking kit to your second order! Use the coupon codes to try these kits and decide which one you like best.
            p
                | &nbsp;
