build/mkc-by-area.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MKC</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#fff">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" media="all" href="assets/css/app.css">
  </head>
  <body>
    <div class="layout">
      <div class="layout__header">
        <!--BEGIN header-->
        <header class="header">
          <div class="container header__container"><a class="logo-link" href="#"><img class="logo" src="/assets/img/logos/logo.png" srcset="/assets/img/logos/logo@2x.png 2x" alt="" /></a>
            <ul class="main-menu">
              <li class="menu-item"><a class="is-current" href="#">Best Meal Kits</a></li>
              <li class="menu-item"><a href="#">Best Food Subscription Boxes</a></li>
              <li class="menu-item"><a href="#"> Meal Kits Delivery by Area</a></li>
              <li class="menu-item"><a href="#">Meal Kits Costs</a></li>
              <li class="menu-item"><a href="#">About Us</a></li>
            </ul>
            <div class="menu-trigger"><span></span></div>
          </div>
        </header>
        <!--END header-->
      </div>
      <main class="layout__main">
        <div class="container">
          <div class="hero_standart">
            <div class="row align-items-center">
              <div class="col-12 col-lg-8">
                <h1 class="mb-2">Meal Kits Deliveries by Areas in Canada</h1>
                <div class="no-br">
                  <p>When looking at meal kit delivery options across a country as large as Canada, it is difficult to provide an exact analysis of specific neighborhoods. It does not help that Canada’s meal prep services do not provide maps of their delivery areas, and instead ask you to input your specific postal code to see if they work in your area.</p>
                  <p>Below is an updated map of where each of Canada's meal kit delivery areas encompasses, what we are doing is fleshing out exactly what companies operate in what cities.  Now, if you live in a bedroom community or exurb of these cities, it's still unlikely that most of the meal prep delivery companies will deliver to your area (check out our&nbsp;<a href="https://mealkitscanada.ca/hello-fresh-canada-review/">Hello Fresh review</a> to look into your best option if don't live right inside an urban centre).</p>
                </div>
              </div>
              <div class="col-lg-4 d-none d-lg-block text-center"><img src="/assets/img/maps/mkc-by-areas.svg" alt=""></div>
            </div>
          </div>
          <section class="section-eat-map">[eat_map]</section><!-- section-->
          <section>
            <h2>Prepared meal delivery service is available for you.</h2>
            <div class="row">
              <div class="col-12 col-lg-6">
                <p>We were curious to know the eating habits of fellow Canadians and how the meal prep companies take them into consideration. After analyzing the questionnaires, we found some interesting results.</p>
                <p>The average household in Canada is two to three people, and 70% of household members prefer to eat some meals—usually dinners—together. An average Canadian spends 91 minutes on eating two meals a day. Almost 70% of Canadian residents are buying or willing to buy their groceries online. On average, it takes them 31 minutes to shop for their groceries and 42 minutes to cook dinner.</p>
                <p>Meal prep companies eliminate grocery shopping time and reduce cooking time to 20 or 30 minutes, depending on the recipe. That’s about 45 minutes of free time for those Canadians who prefer to use meal prep services in their area!</p>
                <p>Those Canadians who already use meal prep services agree that meal kits save time (65%) and expose them to new cuisines, recipes, and flavors (73%). Even the 9.4% of Canadians who don’t eat meat agree that meal prep companies expand their horizons in terms of new food experiences. Almost every meal prep delivery company in Canada offers either separate meals for vegetarians or the whole meal prep plan that consists of vegetarian recipes only.</p>
                <p>Overall, we can say that meal prep companies respond well to the needs and interests of Canadians. They help save time on cooking and grocery shopping, and at the same time provide great culinary experiences for both meat-eaters and vegetarians.</p>
              </div>
              <div class="col-12 col-lg-6">
                <style>
                  @media (max-width: 767px) {
                    .table_two-col.table_two-col_m520 {
                      min-width: 520px;
                    }

                  }

                </style>
                <h4>Canadians' eating habits and opinions, 2019 - 2020</h4>
                <div class="box mb-4">
                  <div class="table-responsive">
                    <table class="table_two-col table_two-col_m520">
                      <tr>
                        <th>Average household size</th>
                        <td>2.5 persons</td>
                      </tr>
                      <tr>
                        <th>Eating some meals with a partner</th>
                        <td>70%</td>
                      </tr>
                      <tr>
                        <th>Average meals per day</th>
                        <td>2</td>
                      </tr>
                      <tr>
                        <th>Average time spent grocery shopping</th>
                        <td>31 minutes</td>
                      </tr>
                      <tr>
                        <th>Average time spent preaparing a dinner</th>
                        <td>42 minutes</td>
                      </tr>
                      <tr>
                        <th>Average time spent on eating</th>
                        <td>91 minutes</td>
                      </tr>
                      <tr>
                        <th>Vegetarians and vegans</th>
                        <td>9.4%</td>
                      </tr>
                      <tr>
                        <th>Influenced by nutrition info when buying food</th>
                        <td>58%</td>
                      </tr>
                      <tr>
                        <th>Buying or willing to buy groceries online</th>
                        <td>69%</td>
                      </tr>
                      <tr>
                        <th>Agree that meal kits save time</th>
                        <td>65%</td>
                      </tr>
                      <tr>
                        <th>Agree meal kits expose to new cuisines</th>
                        <td>73%</td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section>
            <h2>Our Meal Prep Delivery Guides by City</h2>
            <p>At the same time that we're working on developing our meal prep delivery map, we’re also working on developing city-specific guides. As of 2020, three food prep delivery services dominate the overall market—&nbsp;<a href="https://mealkitscanada.ca/hello-fresh-canada-review/">Hello Fresh</a>,&nbsp;<a href="https://mealkitscanada.ca/chefs-plate-review/">Chefs Plate</a>, and&nbsp;<a href="https://mealkitscanada.ca/goodfood-review/">Goodfood</a>. We call them "The Big 3" which In addition, they are also available coast-to-coast. (Metro grocery-owned&nbsp;<a href="https://mealkitscanada.ca/miss-fresh-review/">Miss Fresh</a>&nbsp;is also available in most Canadian urban markets.)</p>
            <p>Along with these larger companies, regional contenders have popped up across Canada. The more we continue to learn about and test these meal prep delivery companies in Canada, the greater MealKitsCanada will continue to become as we update it. If you are particularly fond of one of these smaller regional competitors—or if you own one—<a href="https://mealkitscanada.ca/about/">drop us a line</a>, and we can chat!</p>
            <div class="row area__inner">
              <!-- box_area 1-->
              <div class="col-12 col-md-6 col-lg-4 mb-4">
                <div class="box box_area">
                  <div class="box_area__header">
                    <div class="iconed-text"><img src="/assets/img/index/img-servarea-1.svg" alt="">
                      <div class="text"><strong>Toronto Meal Kits Review 2020</strong></div>
                    </div>
                  </div>
                  <div class="box_area__body">
                    <p>Hello Fresh, Goodfood, Chefs Plate, and Fresh City Farms, in addition to several regional companies!</p>
                  </div>
                  <div class="box_area__footer"><a class="btn btn_primary" href="https://mealkitscanada.ca/toronto-meal-kits-review/">Toronto Meal Kits</a></div>
                </div>
              </div><!-- box_area 2-->
              <div class="col-12 col-md-6 col-lg-4 mb-4">
                <div class="box box_area">
                  <div class="box_area__header">
                    <div class="iconed-text"><img src="/assets/img/index/img-servarea-2.svg" alt="">
                      <div class="text"><strong>Calgary and Edmonton Meal Kits Review 2020</strong></div>
                    </div>
                  </div>
                  <div class="box_area__body">
                    <p>The “Big 3” + two smaller local meal kit delivery firms: Rooted and Spud</p>
                  </div>
                  <div class="box_area__footer"><a class="btn btn_primary" href="https://mealkitscanada.ca/meal-kits-in-calgary-and-edmonton/">Calgary and Edmonton Meal Kits</a></div>
                </div>
              </div><!-- box_area 3-->
              <div class="col-12 col-md-6 col-lg-4 mb-4">
                <div class="box box_area">
                  <div class="box_area__header">
                    <div class="iconed-text"><img src="/assets/img/index/img-servarea-3.svg" alt="">
                      <div class="text"><strong>Montreal and Quebec Meal Kits Review 2020</strong></div>
                    </div>
                  </div>
                  <div class="box_area__body">
                    <p>All meal kits companies in Canada are available</p>
                  </div>
                  <div class="box_area__footer"><a class="btn btn_primary" href="https://mealkitscanada.ca/montreal-and-quebec-meal-kits-review/">Montreal and Quebec Meal Kits</a></div>
                </div>
              </div><!-- box_area 4-->
              <div class="col-12 col-md-6 col-lg-4 mb-4">
                <div class="box box_area">
                  <div class="box_area__header">
                    <div class="iconed-text"><img src="/assets/img/index/img-servarea-4.svg" alt="">
                      <div class="text"><strong>Vancouver Meal Kits Reviews 2020</strong></div>
                    </div>
                  </div>
                  <div class="box_area__body">
                    <p>Eat Your Cake, Fresh Prep, FUUD, 2 Guys With Knives and The Good Stuff.</p>
                  </div>
                  <div class="box_area__footer"><a class="btn btn_primary" href="https://mealkitscanada.ca/vancouver-meal-kits-review/">Vancouver Meal Kits</a></div>
                </div>
              </div><!-- box_area 5-->
              <div class="col-12 col-md-6 col-lg-4 mb-4">
                <div class="box box_area">
                  <div class="box_area__header">
                    <div class="iconed-text"><img src="/assets/img/index/img-servarea-5.svg" alt="">
                      <div class="text"><strong>Halifax and the Maritimes Meal Kits Reviews 2020</strong></div>
                    </div>
                  </div>
                  <div class="box_area__body">
                    <p>Offering the Big 3 with no local competitors.</p>
                  </div>
                  <div class="box_area__footer"><a class="btn btn_primary" href="https://mealkitscanada.ca/meal-kits-in-halifax-and-the-maritimes-review/">Halifax and the Maritimes Meal Kits</a></div>
                </div>
              </div><!-- box_area 6-->
              <div class="col-12 col-md-6 col-lg-4 mb-4">
                <div class="box box_area">
                  <div class="box_area__header">
                    <div class="iconed-text"><img src="/assets/img/index/img-servarea-6.svg" alt="">
                      <div class="text"><strong>Winnipeg, Regina, and Saskatoon Meal Kits Reviews 2020</strong></div>
                    </div>
                  </div>
                  <div class="box_area__body">
                    <p>To top 3 companies are available together with&nbsp;<a href="https://mealkitscanada.ca/zestykits-canada-review/">ZestyKits</a> &nbsp;available partially in the region.</p>
                  </div>
                  <div class="box_area__footer"><a class="btn btn_primary" href="https://mealkitscanada.ca/meal-kits-in-winnipeg-regina-and-saskatoon/">Winnipeg, Regina, Saskatoon Meal Kits</a></div>
                </div>
              </div>
            </div>
          </section>
          <section>
            <h2>Summary</h2>
            <p>Overall, the vast majority of Canadians now have access to at least one meal prep delivery service. If you’re fortunate enough to live in Toronto, you have access to 7+, while the majority of Canadian urban centers now offer at least one local-based alternative in addition to The Big 3 nation-wide options. With meal kits predicted to massively increase in popularity over the next few years given their success in Europe and the USA, there is little doubt that increased competition will push prepared meal delivery companies to refine their services and offer them to as many Canadians as possible. Keep returning to our meal kit delivery guide for the latest updates as the industry continues to expand.</p>
          </section>
        </div>
      </main>
      <div class="layout__footer">
        <!--BEGIN footer-->
        <footer class="footer">
          <div class="footer-top">
            <div class="container footer-top__container">
              <div class="footer-top__menu">
                <div class="footer-top__title">Meal Kit Companies We Cover</div>
                <ul>
                  <li><a href="#">Hello Fresh Canada Review</a></li>
                  <li><a href="#">Chef’s Plate Review</a></li>
                  <li><a href="#">Goodfood Canada Review</a></li>
                  <li><a href="#">Fresh City Farms Review</a></li>
                  <li><a href="#">Miss Fresh Meal Kits Review</a></li>
                  <li><a href="#">Prepd Meal Kits Review</a></li>
                  <li><a href="#">Plated Review</a></li>
                  <li><a href="#">Home Chef Canada Review</a></li>
                  <li><a href="#">Blue Apron Canada Review</a></li>
                </ul>
              </div>
              <div class="footer-top__menu">
                <div class="footer-top__title">Region-specific Guides</div>
                <ul>
                  <li><a href="#">Winnipeg, Regina, and Saskatoon Meal Kits Reviews 2020</a></li>
                  <li><a href="#">Halifax and the Maritimes Meal Kits Reviews 2020</a></li>
                  <li><a href="#">Meal Kits Deliveries by Areas in Canada</a></li>
                  <li><a href="#">Calgary and Edmonton Meal Kits Review 2020</a></li>
                  <li><a href="#">Montreal and Quebec Meal Kits Review 2020</a></li>
                  <li><a href="#">Vancouver Meal Kits Reviews 2020</a></li>
                  <li><a href="#">Toronto Meal Kits Review 2020</a></li>
                </ul>
              </div>
              <div class="footer-top__menu">
                <div class="footer-top__title">Additional Health Articles</div>
                <ul>
                  <li><a href="#">The Importance of Fresh Foods Vs. Canned and Frozen Food</a></li>
                  <li><a href="#">Are Meal Kits Greener – Creating Less Waste and Emissions?</a></li>
                  <li><a href="#">Will your health be determined by your genetics?</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-bottom">
            <div class="container footer-bottom__container"><a class="logo-link" href="#"><img class="logo" src="/assets/img/logos/logo.png" srcset="/assets/img/logos/log@2x.png 2x" alt="" /></a>
              <div class="footer__disclaymer"><span class="color-primary">Site Disclaimer:</span>Do not use nutrition information and recommendations on this website if you suffer from a serious condition.<p>Some of the links on this website are referral links. We get paid to refer clients to certain companies (but our rating is ours and you cannot pay to be listed higher).</p>
              </div>
              <div class="footer__socials"><b>Follow Us!</b>
                <div class="socials socials_yellow"><a class="socials__item" href="#"><svg class="icon icon-fb ">
                      <use xlink:href="/assets/img/sprite.svg#icon-fb"></use>
                    </svg></a><a class="socials__item" href="#"><svg class="icon icon-inst ">
                      <use xlink:href="/assets/img/sprite.svg#icon-inst"></use>
                    </svg></a><a class="socials__item" href="#"><svg class="icon icon-tw ">
                      <use xlink:href="/assets/img/sprite.svg#icon-tw"></use>
                    </svg></a></div>
              </div>
            </div>
          </div>
          <div class="footer-copy">
            <div class="container"><small>© 2020 Meal Kits Canada</small></div>
          </div>
        </footer>
        <!--END footer-->
      </div>
    </div><!-- begin modal-->
    <div class="modal modal_video fade" id="video" tabindex="-1" role="dialog" aria-labelledby="videoLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header"><button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
          <div class="modal-body"><iframe width="100%" height="auto" src="https://www.youtube.com/embed/y0J3LoXjpl8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe></div>
        </div>
      </div>
    </div><!-- end modal-->
    <div class="tooltip_templates">
      <div id="tooltip_content">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia ipsam libero, ea sapiente iusto obcaecati aperiam natus eum voluptatem ipsum dolore dicta quasi molestias quos? Veniam distinctio esse expedita ducimus.</p>
      </div>
    </div>
    <!--LOAD SCRIPTS-->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/tooltipster@4.2.8/dist/js/tooltipster.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script type="text/javascript" src="assets/js/new-app.js"></script>
    <script>
      $(document).ready(function()
      {
        // tooltipster
        $('.info').tooltipster(
        {
          contentCloning: true,
          interactive: true,
          theme: 'tooltipster-shadow2',
          animation: 'grow',
          maxWidth: 230
        });
        $('.js-info').tooltipster(
        {
          contentCloning: true,
          interactive: true,
          theme: 'tooltipster-shadow2',
          animation: 'grow',
          maxWidth: 230
        });
        $('.tooltip-title').tooltipster(
        {
          interactive: true,
          theme: 'tooltipster-shadow2',
          animation: 'grow',
          maxWidth: 230
        });
        $('.js-tooltipster').tooltipster(
        {
          interactive: true,
          theme: 'tooltipster-shadow2',
          animation: 'grow',
          maxWidth: 300
        });
      });

    </script>
  </body>
</html>

src/templates/mkc-by-area.pug
---
title: MKC by areas
---
extends layouts/_layout
block content
    .container
        .hero_standart
            .row.align-items-center
                .col-12.col-lg-8
                    h1.mb-2 Meal Kits Deliveries by Areas in Canada
                    .no-br
                        p
                            | When looking at meal kit delivery options across a country as large as Canada, it is difficult to provide an exact analysis of specific neighborhoods. It does not help that Canada’s meal prep services do not provide maps of their delivery areas, and instead ask you to input your specific postal code to see if they work in your area.
                        p
                            | Below is an updated map of where each of Canada's meal kit delivery areas encompasses, what we are doing is fleshing out exactly what companies operate in what cities.  Now, if you live in a bedroom community or exurb of these cities, it's still unlikely that most of the meal prep delivery companies will deliver to your area (check out our&nbsp;
                            a(href='https://mealkitscanada.ca/hello-fresh-canada-review/') Hello Fresh review
                            |  to look into your best option if don't live right inside an urban centre).


                .col-lg-4.d-none.d-lg-block.text-center
                    img(src=imgPath('maps/mkc-by-areas.svg'), alt="")

        section.section-eat-map
            | [eat_map]

        // section
        section
            h2
                | Prepared meal delivery service is available for you.
            .row
                .col-12.col-lg-6
                    p
                        | We were curious to know the eating habits of fellow Canadians and how the meal prep companies take them into consideration. After analyzing the questionnaires, we found some interesting results.
                    p
                        | The average household in Canada is two to three people, and 70% of household members prefer to eat some meals—usually dinners—together. An average Canadian spends 91 minutes on eating two meals a day. Almost 70% of Canadian residents are buying or willing to buy their groceries online. On average, it takes them 31 minutes to shop for their groceries and 42 minutes to cook dinner.
                    p
                        | Meal prep companies eliminate grocery shopping time and reduce cooking time to 20 or 30 minutes, depending on the recipe. That’s about 45 minutes of free time for those Canadians who prefer to use meal prep services in their area!
                    p
                        | Those Canadians who already use meal prep services agree that meal kits save time (65%) and expose them to new cuisines, recipes, and flavors (73%). Even the 9.4% of Canadians who don’t eat meat agree that meal prep companies expand their horizons in terms of new food experiences. Almost every meal prep delivery company in Canada offers either separate meals for vegetarians or the whole meal prep plan that consists of vegetarian recipes only.
                    p
                        | Overall, we can say that meal prep companies respond well to the needs and interests of Canadians. They help save time on cooking and grocery shopping, and at the same time provide great culinary experiences for both meat-eaters and vegetarians.

                .col-12.col-lg-6
                    style.
                        @media (max-width: 767px){
                            .table_two-col.table_two-col_m520{
                                min-width: 520px;
                            }

                        }
                    h4
                        | Canadians' eating habits and opinions, 2019 - 2020
                    .box.mb-4
                        .table-responsive
                            table.table_two-col.table_two-col_m520
                                tr
                                    th
                                        | Average household size
                                    td
                                        | 2.5 persons

                                tr
                                    th
                                        | Eating some meals with a partner
                                    td
                                        | 70%

                                tr
                                    th
                                        | Average meals per day
                                    td
                                        | 2

                                tr
                                    th
                                        | Average time spent grocery shopping
                                    td
                                        | 31 minutes

                                tr
                                    th
                                        | Average time spent preaparing a dinner
                                    td
                                        | 42 minutes

                                tr
                                    th
                                        | Average time spent on eating
                                    td
                                        | 91 minutes

                                tr
                                    th
                                        | Vegetarians and vegans
                                    td
                                        | 9.4%

                                tr
                                    th
                                        | Influenced by nutrition info when buying food
                                    td
                                        | 58%

                                tr
                                    th
                                        | Buying or willing to buy groceries online
                                    td
                                        | 69%

                                tr
                                    th
                                        | Agree that meal kits save time
                                    td
                                        | 65%

                                tr
                                    th
                                        | Agree meal kits expose to new cuisines
                                    td
                                        | 73%

        //- p &nbsp;

        section
            h2
                | Our Meal Prep Delivery Guides by City
            p
                | At the same time that we're working on developing our meal prep delivery map, we’re also working on developing city-specific guides. As of 2020, three food prep delivery services dominate the overall market—&nbsp;
                a(href='https://mealkitscanada.ca/hello-fresh-canada-review/') Hello Fresh
                |,&nbsp;
                a(href='https://mealkitscanada.ca/chefs-plate-review/') Chefs Plate
                |, and&nbsp;
                a(href='https://mealkitscanada.ca/goodfood-review/') Goodfood
                |. We call them "The Big 3" which In addition, they are also available coast-to-coast. (Metro grocery-owned&nbsp;
                a(href='https://mealkitscanada.ca/miss-fresh-review/') Miss Fresh
                | &nbsp;is also available in most Canadian urban markets.)
            p
                | Along with these larger companies, regional contenders have popped up across Canada. The more we continue to learn about and test these meal prep delivery companies in Canada, the greater MealKitsCanada will continue to become as we update it. If you are particularly fond of one of these smaller regional competitors—or if you own one—
                a(href="https://mealkitscanada.ca/about/") drop us a line
                |, and we can chat!
            //- p
            //-     | The best meal kit companies in&nbsp;
            //-     strong Toronto
            //-     | &nbsp;are Hello Fresh, Goodfood, Chefs Plate, and Miss Fresh, in addition to several regional companies.
            //- p
            //-     | The best meal prep companies in&nbsp;
            //-     strong Calgary and Edmonton
            //-     | &nbsp;are The Big 3 plus two smaller local meal kit delivery firms: Rooted and Spud.
            //- p
            //-     | The best meal prep services in&nbsp;
            //-     strong Montreal and Quebec
            //-     | &nbsp;are The Big 3, Miss Fresh, and a smaller local company, COOK It.
            //- p
            //-     | The best meal prep delivery companies in&nbsp;
            //-     strong Vancouver
            //-     | &nbsp;include The Big 3 plus the local Eat Your Cake, Fresh Prep, FUUD, 2 Guys With Knives, and The Good Stuff.
            //- p
            //-     | The best meal kits in&nbsp;
            //-     strong Winnipeg, Regina, and Saskatoon,
            //-     | &nbsp;are offered by The Big 3 with only one local competitor—Zesty Kits.
            //- p
            //-     | The best meal prep companies in&nbsp;
            //-     strong Halifax and the Maritimes
            //-     | &nbsp;are The Big 3 companies together with Sauté, available partially in the region.


            include partials/box-area


        section
            h2
                | Summary
            p
                | Overall, the vast majority of Canadians now have access to at least one meal prep delivery service. If you’re fortunate enough to live in Toronto, you have access to 7+, while the majority of Canadian urban centers now offer at least one local-based alternative in addition to The Big 3 nation-wide options. With meal kits predicted to massively increase in popularity over the next few years given their success in Europe and the USA, there is little doubt that increased competition will push prepared meal delivery companies to refine their services and offer them to as many Canadians as possible. Keep returning to our meal kit delivery guide for the latest updates as the industry continues to expand.
