build/organic.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MKC</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#fff">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" media="all" href="assets/css/app.css">
  </head>
  <body>
    <div class="layout">
      <div class="layout__header">
        <!--BEGIN header-->
        <header class="header">
          <div class="container header__container"><a class="logo-link" href="#"><img class="logo" src="/assets/img/logos/logo.png" srcset="/assets/img/logos/logo@2x.png 2x" alt="" /></a>
            <ul class="main-menu">
              <li class="menu-item"><a class="is-current" href="#">Best Meal Kits</a></li>
              <li class="menu-item"><a href="#">Best Food Subscription Boxes</a></li>
              <li class="menu-item"><a href="#"> Meal Kits Delivery by Area</a></li>
              <li class="menu-item"><a href="#">Meal Kits Costs</a></li>
              <li class="menu-item"><a href="#">About Us</a></li>
            </ul>
            <div class="menu-trigger"><span></span></div>
          </div>
        </header>
        <!--END header-->
      </div>
      <main class="layout__main">
        <div class="container">
          <div class="hero_standart">
            <div class="row align-items-center">
              <div class="col-12 col-lg-8">
                <h1 class="mb-2">Best Organic Meal Kits in Canada</h1>
                <div class="no-br">
                  <p>There is a growing body of evidence that organic food is more beneficial for you and the environment than conventional, industrialized food. Because Canadians are eating more organic meat and produce, many meal kit companies in Canada have begun offering organic meal kits. To find more information about the best organic meal kits in Canada, please read our review below.</p>
                </div>
              </div>
              <div class="col-lg-4 d-none d-lg-block text-center"><img srcset="/assets/img/articles/organic.jpg, /assets/img/articles/organic@2x.jpg 1.5x, /assets/img/articles/organic@2x.jpg 2x" src="/assets/img/articles/organic.jpg" alt="alt" /></div>
            </div>
          </div>
          <!--[card goes here]-->
          <section>
            <h2>Organic vs. non-organic meal kits</h2>
            <p>How do organic meal kits compare to non-organic meal kits? Organic meal kits contain meat, dairy, eggs and produce that has been grown organically. This means that the produce was grown with natural fertilizers, such as compost or manure. Weeds were controlled naturally with crop rotation, mulching, or with organic-approved herbicides. Pests were controlled with birds or traps and naturally-derived pesticides. Livestock was given organic, hormone- and GMO-free feed and was raised cage-free and free-range.</p>
            <p>Non-organic meal kits contain produce that was grown conventionally with chemical fertilizers, pesticides, and herbicides. The meat, dairy, and eggs for these meal kits may come from the farms where livestock were given hormones, antibiotics, and non-organic feed, and might not have had access to the outdoors.</p>
          </section>
          <section>
            <h2>Benefits of organic meal kits</h2>
            <p>The way the food is grown may have a major impact on your health as well as the environment. People who order organic meal kits tend to have fewer allergies because their food contains fewer chemicals.</p>
            <p>Organic farming without synthetic herbicides and pesticides produces less pollution for the soil, water, and air. This practice creates a better environment for nearby birds and animals, as well as people who live close to the farms.</p>
            <p>Organically raised animals are not treated with antibiotics, because these can create antibiotic-resistant strains of bacteria. They are not fed with animal byproducts, which can increase the risk of mad cow disease. For these reasons, meat from grass-fed livestock is considered to be healthier for you. Free-range chickens have healthier diets, meaning that organically raised poultry and eggs are also better for your health.</p>
            <p>Overall, we can say that organic food meal kits contain ingredients that are both healthier for you and also better for the environment.</p>
          </section>
          <section>
            <h2>Disadvantages of organic meal prep kits</h2>
            <p>The biggest disadvantage of organic food meal kits is that their ingredients are more expensive. It is always easier and cheaper to use chemicals in the farm fields and feed animals with chemicals so that they grow faster and bigger. However, all these chemicals end up making the meat and produce less healthy.</p>
            <p>Organic farming is more costly and less productive. Organic farms are usually much smaller than conventional ones, so meal kit companies may have issues with supply.</p>
            <p>Another disadvantage of organic produce is it gets spoiled faster than conventional products due to the fact that it is grown and stored without any preservatives. This makes organic meal kits healthier for you but also more expensive, since the farmers need to cover their losses.</p>
          </section>
          <section>
            <h2>Organic food meal kits</h2>
            <p>Not every meal kit company in Canada offers organic food due to the fact that it significantly raises the cost. <a href="https://mealkitscanada.ca/papa-earth-review/">Papa Earth</a>, for example, offers organic meat in some of its boxes. Certified by Pro-Cert, this meat was raised without the use of any antibiotics, hormones, pesticides, or herbicides, and is always free-range.</p>
            <p>There are companies that offer ready-to-eat meals cooked with organic ingredients. <a href="https://mealkitscanada.ca/fresh-city-farms-review/">Fresh City Farms</a>, for example, cooperates with Green Zebra Kitchen and sells organic meals cooked by them. <a href="https://mealkitscanada.ca/hello-fresh-canada-review/">HelloFresh</a> claims that some, but not all of the ingredients that they use in their meal kits are organic. This is their way to keep prices low while offering healthy food to their customers.</p>
          </section>
          <section>
            <h2>Final words about organic meal kits in Canada</h2>
            <p>As you know, organic food has many benefits for your health. Your body receives fewer chemical pesticides, herbicides, and unnecessary hormones if you eat organically-raised meat and produce. Producing organic food is beneficial to the environment for the same reasons. Fewer chemicals get into the soil, water, and air, creating a healthier environment for animals and people who live around farms.</p>
            <p>As more Canadians switch to organic food, <a href="https://mealkitscanada.ca/">meal kit companies in Canada</a> respond by creating organic meal kits. In their effort to keep prices low, organic meal kits in Toronto, Vancouver, and other big cities now contain recipes that partially use organic ingredients, and we expect that this proportion of organic ingredients will continue to rise.</p>
          </section>
        </div>
      </main>
      <div class="layout__footer">
        <!--BEGIN footer-->
        <footer class="footer">
          <div class="footer-top">
            <div class="container footer-top__container">
              <div class="footer-top__menu">
                <div class="footer-top__title">Meal Kit Companies We Cover</div>
                <ul>
                  <li><a href="#">Hello Fresh Canada Review</a></li>
                  <li><a href="#">Chef’s Plate Review</a></li>
                  <li><a href="#">Goodfood Canada Review</a></li>
                  <li><a href="#">Fresh City Farms Review</a></li>
                  <li><a href="#">Miss Fresh Meal Kits Review</a></li>
                  <li><a href="#">Prepd Meal Kits Review</a></li>
                  <li><a href="#">Plated Review</a></li>
                  <li><a href="#">Home Chef Canada Review</a></li>
                  <li><a href="#">Blue Apron Canada Review</a></li>
                </ul>
              </div>
              <div class="footer-top__menu">
                <div class="footer-top__title">Region-specific Guides</div>
                <ul>
                  <li><a href="#">Winnipeg, Regina, and Saskatoon Meal Kits Reviews 2020</a></li>
                  <li><a href="#">Halifax and the Maritimes Meal Kits Reviews 2020</a></li>
                  <li><a href="#">Meal Kits Deliveries by Areas in Canada</a></li>
                  <li><a href="#">Calgary and Edmonton Meal Kits Review 2020</a></li>
                  <li><a href="#">Montreal and Quebec Meal Kits Review 2020</a></li>
                  <li><a href="#">Vancouver Meal Kits Reviews 2020</a></li>
                  <li><a href="#">Toronto Meal Kits Review 2020</a></li>
                </ul>
              </div>
              <div class="footer-top__menu">
                <div class="footer-top__title">Additional Health Articles</div>
                <ul>
                  <li><a href="#">The Importance of Fresh Foods Vs. Canned and Frozen Food</a></li>
                  <li><a href="#">Are Meal Kits Greener – Creating Less Waste and Emissions?</a></li>
                  <li><a href="#">Will your health be determined by your genetics?</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-bottom">
            <div class="container footer-bottom__container"><a class="logo-link" href="#"><img class="logo" src="/assets/img/logos/logo.png" srcset="/assets/img/logos/log@2x.png 2x" alt="" /></a>
              <div class="footer__disclaymer"><span class="color-primary">Site Disclaimer:</span>Do not use nutrition information and recommendations on this website if you suffer from a serious condition.<p>Some of the links on this website are referral links. We get paid to refer clients to certain companies (but our rating is ours and you cannot pay to be listed higher).</p>
              </div>
              <div class="footer__socials"><b>Follow Us!</b>
                <div class="socials socials_yellow"><a class="socials__item" href="#"><svg class="icon icon-fb ">
                      <use xlink:href="/assets/img/sprite.svg#icon-fb"></use>
                    </svg></a><a class="socials__item" href="#"><svg class="icon icon-inst ">
                      <use xlink:href="/assets/img/sprite.svg#icon-inst"></use>
                    </svg></a><a class="socials__item" href="#"><svg class="icon icon-tw ">
                      <use xlink:href="/assets/img/sprite.svg#icon-tw"></use>
                    </svg></a></div>
              </div>
            </div>
          </div>
          <div class="footer-copy">
            <div class="container"><small>© 2020 Meal Kits Canada</small></div>
          </div>
        </footer>
        <!--END footer-->
      </div>
    </div><!-- begin modal-->
    <div class="modal modal_video fade" id="video" tabindex="-1" role="dialog" aria-labelledby="videoLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header"><button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
          <div class="modal-body"><iframe width="100%" height="auto" src="https://www.youtube.com/embed/y0J3LoXjpl8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe></div>
        </div>
      </div>
    </div><!-- end modal-->
    <div class="tooltip_templates">
      <div id="tooltip_content">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia ipsam libero, ea sapiente iusto obcaecati aperiam natus eum voluptatem ipsum dolore dicta quasi molestias quos? Veniam distinctio esse expedita ducimus.</p>
      </div>
    </div>
    <!--LOAD SCRIPTS-->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/tooltipster@4.2.8/dist/js/tooltipster.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script type="text/javascript" src="assets/js/new-app.js"></script>
    <script>
      $(document).ready(function()
      {
        // tooltipster
        $('.info').tooltipster(
        {
          contentCloning: true,
          interactive: true,
          theme: 'tooltipster-shadow2',
          animation: 'grow',
          maxWidth: 230
        });
        $('.js-info').tooltipster(
        {
          contentCloning: true,
          interactive: true,
          theme: 'tooltipster-shadow2',
          animation: 'grow',
          maxWidth: 230
        });
        $('.tooltip-title').tooltipster(
        {
          interactive: true,
          theme: 'tooltipster-shadow2',
          animation: 'grow',
          maxWidth: 230
        });
        $('.js-tooltipster').tooltipster(
        {
          interactive: true,
          theme: 'tooltipster-shadow2',
          animation: 'grow',
          maxWidth: 300
        });
      });

    </script>
  </body>
</html>

src/templates/organic.pug
---
title: Best Organic Meal Kits in Canada
---
extends layouts/_layout
block content
    .container
        .hero_standart
            .row.align-items-center
                .col-12.col-lg-8
                    h1.mb-2 Best Organic Meal Kits in Canada
                    .no-br
                        p
                            | There is a growing body of evidence that organic food is more beneficial for you and the environment than conventional, industrialized food. Because Canadians are eating more organic meat and produce, many meal kit companies in Canada have begun offering organic meal kits. To find more information about the best organic meal kits in Canada, please read our review below.


                .col-lg-4.d-none.d-lg-block.text-center
                    +img('articles/organic','jpg','','alt')



        //[card goes here]


        section
            h2 Organic vs. non-organic meal kits
            p How do organic meal kits compare to non-organic meal kits? Organic meal kits contain meat, dairy, eggs and produce that has been grown organically. This means that the produce was grown with natural fertilizers, such as compost or manure. Weeds were controlled naturally with crop rotation, mulching, or with organic-approved herbicides. Pests were controlled with birds or traps and naturally-derived pesticides. Livestock was given organic, hormone- and GMO-free feed and was raised cage-free and free-range.
            p Non-organic meal kits contain produce that was grown conventionally with chemical fertilizers, pesticides, and herbicides. The meat, dairy, and eggs for these meal kits may come from the farms where livestock were given hormones, antibiotics, and non-organic feed, and might not have had access to the outdoors.


        section
            h2 Benefits of organic meal kits
            p The way the food is grown may have a major impact on your health as well as the environment. People who order organic meal kits tend to have fewer allergies because their food contains fewer chemicals.
            p Organic farming without synthetic herbicides and pesticides produces less pollution for the soil, water, and air. This practice creates a better environment for nearby birds and animals, as well as people who live close to the farms.
            p Organically raised animals are not treated with antibiotics, because these can create antibiotic-resistant strains of bacteria. They are not fed with animal byproducts, which can increase the risk of mad cow disease. For these reasons, meat from grass-fed livestock is considered to be healthier for you. Free-range chickens have healthier diets, meaning that organically raised poultry and eggs are also better for your health.
            p Overall, we can say that organic food meal kits contain ingredients that are both healthier for you and also better for the environment.

        section
            h2 Disadvantages of organic meal prep kits
            p The biggest disadvantage of organic food meal kits is that their ingredients are more expensive. It is always easier and cheaper to use chemicals in the farm fields and feed animals with chemicals so that they grow faster and bigger. However, all these chemicals end up making the meat and produce less healthy.
            p Organic farming is more costly and less productive. Organic farms are usually much smaller than conventional ones, so meal kit companies may have issues with supply.
            p Another disadvantage of organic produce is it gets spoiled faster than conventional products due to the fact that it is grown and stored without any preservatives. This makes organic meal kits healthier for you but also more expensive, since the farmers need to cover their losses.

        section
            h2 Organic food meal kits
            p Not every meal kit company in Canada offers organic food due to the fact that it significantly raises the cost. <a href="https://mealkitscanada.ca/papa-earth-review/">Papa Earth</a>, for example, offers organic meat in some of its boxes. Certified by Pro-Cert, this meat was raised without the use of any antibiotics, hormones, pesticides, or herbicides, and is always free-range.
            p There are companies that offer ready-to-eat meals cooked with organic ingredients. <a href="https://mealkitscanada.ca/fresh-city-farms-review/">Fresh City Farms</a>, for example, cooperates with Green Zebra Kitchen and sells organic meals cooked by them. <a href="https://mealkitscanada.ca/hello-fresh-canada-review/">HelloFresh</a> claims that some, but not all of the ingredients that they use in their meal kits are organic. This is their way to keep prices low while offering healthy food to their customers.

        section
            h2 Final words about organic meal kits in Canada
            p As you know, organic food has many benefits for your health. Your body receives fewer chemical pesticides, herbicides, and unnecessary hormones if you eat organically-raised meat and produce. Producing organic food is beneficial to the environment for the same reasons. Fewer chemicals get into the soil, water, and air, creating a healthier environment for animals and people who live around farms.
            p As more Canadians switch to organic food, <a href="https://mealkitscanada.ca/">meal kit companies in Canada</a> respond by creating organic meal kits. In their effort to keep prices low, organic meal kits in Toronto, Vancouver, and other big cities now contain recipes that partially use organic ingredients, and we expect that this proportion of organic ingredients will continue to rise.
