src/templates/plated-review.pug
---
title: Home
---
extends layouts/_layout
block content
    .container
        .hero_standart
            .row
                .col-12.col-lg-9
                    h1.mb-2 Plated Review 2020
                    .no-br
                        p
                            | As one of the biggest American meal kit companies, together with Blue Apron and Home Chef, many Canadians have been wondering if Plated is in Canada yet, or when Plated will be delivering meal kits to their home province.
                        p
                            | The answers are: No, and … It will not.
                        p
                            | Read our most recommended meal kits reviews instead! there are great companies offering everything Home Chef does with a strong Canadian orientation and up-to-par service and quality.
                        p
                            a.mr-3(href='https://mealkitscanada.ca/hello-fresh-canada-review/')
                                span
                                    | Hello Fresh Review
                            a.mr-3(href='https://mealkitscanada.ca/chefs-plate-review/')
                                span
                                    | Chefs Plate Review
                            a(href='https://mealkitscanada.ca/goodfood-review/')
                                span
                                    | Goodfood Review
                .col-lg-3.d-none.d-lg-block
                    .logo-country.box.mb-2
                        +img('logos/logo_plated-red','jpg','logo-country__logo','alt')
                   

        // section
        section.top-rating__wrapper
            +top-rating(2)

          
        // section
        section
            h2
                | Plated Review: Editorial Notes
            p
                | These days, Plated is owned by Albertsons (a large grocery chain) after it was 
                a(href="#") purchased in 2017 for over $200 Million
                |. The chain is experimenting with including meal kits on its shelves but has not substantively changed the core business of ordering meal kits online.
            p
                | The company started with much more humble origins, however. In the summer of 2011, Josh Hix and Nick Taranto decided that supper needed to be done differently. For a while, the only thing they changed was their bank account balances as they invested a ton of cash into the company with little to show for it except for hard-won experience.
            p
                | Their big break came when they managed to get on the entrepreneurial media juggernaut TV show Shark Tank in 2014. Dallas Mavericks owners and tech guru Mark Cuban did a deal on the show—but when the two sides couldn’t agree on final terms, fellow Shark, Kevin O’Leary stepped in and provided a round of funding. After the episode aired, Plated got many new subscriptions and was off to the races. Their biggest competitors down in the USA are Blue Apron and Home Chef (neither of which is in Canada right now either) as well as the international meal kit king: Hello Fresh.


        // section
        section
            h2
                |  Plated Review: Credibility and Reputation
            .row
                .col-12.col-lg-5
                    p Plated meal kit company ceased its operation in 2019. The last order delivery date was November 26, 2019. The company promptly processed the refund to those customers who ordered their kits beyond this date.
                    p Plated did not leave the market completely. It has grown into a comprehensive culinary brand with a wide selection of meal kits that can be purchased in Northern California Safeway stores.
                    p Plated used to offer thirty recipes to choose from every week, including vegetarian options. The customers could subscribe to one of the three plans and order two to four meals for two to four people per week. Today, customers can still purchase these meals, but not directly from the company. They need to go to the supermarket or order delivery via local grocery shopping and delivery companies.
                .col-12.col-lg-7
                    .company-table
                        //table 1
                        .company-table__card.box.table-responsive
                            table.table_two-col
                                tr
                                    th
                                        | Price per serving
                                    td
                                        .color-primary
                                            | $7 - $9
                                tr
                                    th
                                        | Weekly Total
                                    td
                                        .color-primary
                                            | $35.96 -$323.64
                                tr
                                    th
                                        | Shipping
                                    td
                                        .color-primary
                                            | $7 - $14
                                tr
                                    th
                                        | Number of plans
                                    td
                                        | No different plans
                                tr
                                    th
                                        | Veggie options?
                                    td
                                        +icon('check')
                        //end table 1

                        //table 2
                        .company-table__card.box.table-responsive
                            table.table_two-col
                                tr
                                    th
                                        | Number of meals to choose from each week
                                    td
                                        img.company-table__icon(src=imgPath('icons/bread-and-meal.svg'), alt="")
                                        | 22
                                tr
                                    th
                                        | Recipes per week
                                    td
                                        img.company-table__icon(src=imgPath('icons/recipe-book.svg'), alt="")
                                        | 2-6
                                tr
                                    th
                                        | Number of people
                                    td
                                        img.company-table__icon(src=imgPath('icons/users.svg'), alt="")
                                        | 2-6
                                tr
                                    th
                                        | Сooking time (min)
                                    td
                                        img.company-table__icon(src=imgPath('icons/clock.svg'), alt="")
                                        | 10 - 60 min
                        //end table 2

                        //table 3
                        .company-table__card.box.table-responsive
                            table.table_two-col
                                tr
                                    th
                                        | BBB Rating
                                    td
                                        | A+
                                tr
                                    th
                                        | Google Rating
                                    td
                                        | 3.4
                                tr
                                    th
                                        | Downloadable App
                                    td
                                        | Yes
                        //end table 3




          
        // section
        section
            h2
                | Plated in Canada vs. Hello Fresh, Chefs Plate, and Goodfood
            .row
                .col-12.col-lg-7.order-md-2.order-lg-2
                    p
                        | While it’s not easy to do the Plated vs. Chefs Plate or Plated vs. Goodfood comparisons due to the fact they don’t compete head-to-head in any markets, there is one Canadian meal kit company that does go toe-to-toe down in the US: Hello Fresh.
                    p
                        | Now, obviously, the Hello Fresh vs. Plated comparison is only slightly relevant to Canadians because the American market is so much different from ours. That said, I think that one can draw some conclusions on the relative quality of Hello Fresh’s offerings in Canada, as well as what a possible matchup might look like if Plated ever came to Canada.
                    p
                        | In reading several dozen Plated vs. Hello Fresh comparison articles and reviews from down in the States, it should come as no surprise that two massive meal kit companies are very comparable. Hello Fresh did win out roughly 75% of the time on overall taste, but clearly, there is room for reasonable eaters to disagree on that subjective measure! It seemed that Plated generally had an advantage when it came to offering more elaborate “finer dining” recipes, while Hello Fresh nudged ahead in areas such as price, and overall fresh quality of produce. 

                    
                .col-12.col-lg-5.order-md-1.order-lg-2.text-center.mb-3
                    +img('versus/libra4','png','','alt')

            .row.justify-content-center
                .col-12.col-lg-11
                    .info-block.mt-0
                        .inner
                            p
                                | The most interesting advantage that Plated had (mentioned in almost every single review) was that they included desert! It seems like this was a big win. Personally, I eat more than my fair share of dessert—even when it’s not delivered to my door—but that’s just me. Plated also had more recipes to choose from each week. Almost all of the reviews noted that if you were looking for portion size per dollar, then Hello Fresh was the better bet (and also easier to cook).

        // section
        section
            h2.mb-2 Excellent Canadian Meal Kit Options to Try Instead of Plated
            .row
                .col-12.col-lg-8
                    .no-br
                        p
                            | I actually had several Plated ads pop up on my social media feeds (maybe it tracked me when I was traveling in the USA), and I will say that the pictures looked tasty. I’m hoping that Plated comes to Canada sooner rather than later because more competition is always good for the consumer. 
                        p
                            | For the time being, Plated has not released any information on if or when they will come north. Our opinion is that they are fighting pretty hard for market share in the American market, and trying to figure out if they can make the grocery store + meal kit marriage happen. Consequently, Canada is “small potatoes” for them right now.
                        p
                            | That said, see what great Canada-wide meal kit delivery options exist by checking out our 
                            a(href='https://mealkitscanada.ca/chefs-plate-review/') Chefs Plate Review
                            |, 
                            a(href='https://mealkitscanada.ca/goodfood-review/') Goodfood Review
                            |, and 
                            a(href='https://mealkitscanada.ca/hello-fresh-canada-review/') Hello Fresh Review
                            |. We include our exclusive promo offer codes that make it cheaper than groceries to give each of Canada’s best meal kits a trial period in your kitchen!
                .col-lg-4.d-none.d-lg-block.text-center
                    +img('index/hero','png','','alt')
                    
        
        // section
        section
            h2
                | Frequently Asked Questions:
            .accordion#accordion1
                .accordion__item
                    .accordion__head
                        | Can I buy Plated meal kits in Canada?
                    .accordion__body
                        p
                            | No, they are only sold in the USA in Northern California supermarkets.

                .accordion__item
                    .accordion__head
                        | Does Plated plan to come to the Canadian market?
                    .accordion__body
                        p
                            | The best subscription boxes for you will have the meals that you like, as many as you like per week. Hopefully, you have multiple food delivery services in your area and can pick the one that fits your needs best.

              
        // section
        section
            h2
                | The Bottom Line
            p
                | Even though Plated did not succeed as a meal delivery company, it found its niche on the market by selling meal kits in the US supermarkets. Hopefully, it will make its way to the Canadian market one day. In the meanwhile, feel free to try Canada meal delivery companies, and don’t forget to use the coupons!

build/plated-review.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MKC</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#fff">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" media="all" href="assets/css/app.css">
  </head>
  <body>
    <div class="layout">
      <div class="layout__header">
        <!--BEGIN header-->
        <header class="header">
          <div class="container header__container"><a class="logo-link" href="#"><img class="logo" src="/assets/img/logos/logo.png" srcset="/assets/img/logos/logo@2x.png 2x" alt="" /></a>
            <ul class="main-menu">
              <li class="menu-item"><a class="is-current" href="#">Best Meal Kits</a></li>
              <li class="menu-item"><a href="#">Best Food Subscription Boxes</a></li>
              <li class="menu-item"><a href="#"> Meal Kits Delivery by Area</a></li>
              <li class="menu-item"><a href="#">Meal Kits Costs</a></li>
              <li class="menu-item"><a href="#">About Us</a></li>
            </ul>
            <div class="menu-trigger"><span></span></div>
          </div>
        </header>
        <!--END header-->
      </div>
      <main class="layout__main">
        <div class="container">
          <div class="hero_standart">
            <div class="row">
              <div class="col-12 col-lg-9">
                <h1 class="mb-2">Plated Review 2020</h1>
                <div class="no-br">
                  <p>As one of the biggest American meal kit companies, together with Blue Apron and Home Chef, many Canadians have been wondering if Plated is in Canada yet, or when Plated will be delivering meal kits to their home province.</p>
                  <p>The answers are: No, and … It will not.</p>
                  <p>Read our most recommended meal kits reviews instead! there are great companies offering everything Home Chef does with a strong Canadian orientation and up-to-par service and quality.</p>
                  <p><a class="mr-3" href="https://mealkitscanada.ca/hello-fresh-canada-review/"><span>Hello Fresh Review</span></a><a class="mr-3" href="https://mealkitscanada.ca/chefs-plate-review/"><span>Chefs Plate Review</span></a><a href="https://mealkitscanada.ca/goodfood-review/"><span>Goodfood Review</span></a></p>
                </div>
              </div>
              <div class="col-lg-3 d-none d-lg-block">
                <div class="logo-country box mb-2"><img class="logo-country__logo" srcset="/assets/img/logos/logo_plated-red.jpg, /assets/img/logos/logo_plated-red@2x.jpg 1.5x, /assets/img/logos/logo_plated-red@2x.jpg 2x" src="/assets/img/logos/logo_plated-red.jpg" alt="alt" /></div>
              </div>
            </div>
          </div><!-- section-->
          <section class="top-rating__wrapper">
            <div class="top-rating">
              <!-- begin item-->
              <div class="top-rating__item">
                <!-- begin column-->
                <div class="top-rating__column">
                  <div class="top-rating__label">#1</div><a href="/go/hellofresh" target="_blank" rel="noopener">
                    <figure class="company-logo top-rating__logo"><img srcset="/assets/img/logos/logo_hello-fresh.png, /assets/img/logos/logo_hello-fresh@2x.png 1.5x, /assets/img/logos/logo_hello-fresh@2x.png 2x" src="/assets/img/logos/logo_hello-fresh.png" alt="alt" /></figure>
                  </a>
                  <div class="top-rating__stars"><span>Overall rating&nbsp;</span><span class="num color-secondary">98.2%</span>
                    <div class="stars ">
                      <ul class="stars__list">
                        <li class="stars__item"><img src="/assets/img/icons/star.svg" alt="" /></li>
                        <li class="stars__item"><img src="/assets/img/icons/star.svg" alt="" /></li>
                        <li class="stars__item"><img src="/assets/img/icons/star.svg" alt="" /></li>
                        <li class="stars__item"><img src="/assets/img/icons/star.svg" alt="" /></li>
                        <li class="stars__item"><img src="/assets/img/icons/star-half.svg" alt="" /></li>
                      </ul>
                    </div>
                  </div><a class="blue-link" href="https://mealkitscanada.ca/hello-fresh-canada-review/">Hello Fresh Review</a>
                </div><!-- begin column-->
                <div class="top-rating__column">
                  <div class="top-rating__title">Plans for</div>
                  <ul class="top-rating__list top-rating__list_1">
                    <li>
                      <div class="elem-icon elem-icon_good">Singles</div>
                    </li>
                    <li>
                      <div class="elem-icon elem-icon_good">Vegetarians</div>
                    </li>
                    <li>
                      <div class="elem-icon elem-icon_good">Novice cooks</div>
                    </li>
                    <li>
                      <div class="elem-icon elem-icon_good">Picky eaters</div>
                    </li>
                  </ul>
                </div><!-- begin column-->
                <div class="top-rating__column">
                  <div class="top-rating__title">Price range/ week</div>
                  <div class="strike color-gray">$78 - $165</div>
                  <div>$39 – $125</div>
                </div><!-- begin column-->
                <div class="top-rating__column">
                  <div class="top-rating__title">Pros and cons</div>
                  <ul class="top-rating__list top-rating__list_2 top-rating__list_pros">
                    <li>Large variety of meals</li>
                    <li>Wide delivery service area</li>
                    <li>Easily skip weeks as needed</li>
                  </ul>
                  <ul class="top-rating__list top-rating__list_cons">
                    <li>Individual packaging – environmental concern</li>
                  </ul>
                </div><!-- begin column-->
                <div class="top-rating__column"><a class="btn btn_primary btn_lg top-rating__btn top-rating__buttons-item-1" href="/go/hellofresh" target="_blank" rel="noopener">Visit website</a>
                  <div class="ab top-rating__coupon">
                    <div class="review-coupon__save">
                      <div class="review-coupon__top"><strong><span class="text-title">Promotion&nbsp;</span><span class="color-primary">80%</span><span class="color-primary">off</span></strong></div>
                      <div class="review-coupon__code"><span class="color-gray">Promo code:&nbsp;</span><span class="code">MKC80</span></div>
                    </div>
                  </div>
                </div>
              </div><!-- end item-->
              <!-- begin item-->
              <div class="top-rating__item">
                <!-- begin column-->
                <div class="top-rating__column">
                  <div class="top-rating__label">#2</div><a href="/go/chefsplate" target="_blank" rel="noopener">
                    <figure class="company-logo top-rating__logo"><img srcset="/assets/img/logos/logo_chefs-plate.png, /assets/img/logos/logo_chefs-plate@2x.png 1.5x, /assets/img/logos/logo_chefs-plate@2x.png 2x" src="/assets/img/logos/logo_chefs-plate.png" alt="alt" /></figure>
                  </a>
                  <div class="top-rating__stars"><span>Overall rating&nbsp;</span><span class="num color-secondary">96.2%</span>
                    <div class="stars ">
                      <ul class="stars__list">
                        <li class="stars__item"><img src="/assets/img/icons/star.svg" alt="" /></li>
                        <li class="stars__item"><img src="/assets/img/icons/star.svg" alt="" /></li>
                        <li class="stars__item"><img src="/assets/img/icons/star.svg" alt="" /></li>
                        <li class="stars__item"><img src="/assets/img/icons/star.svg" alt="" /></li>
                        <li class="stars__item"><img src="/assets/img/icons/star-half.svg" alt="" /></li>
                      </ul>
                    </div>
                  </div><a class="blue-link" href="https://mealkitscanada.ca/chefs-plate-review/">Chefs Plate Review</a>
                </div><!-- begin column-->
                <div class="top-rating__column">
                  <div class="top-rating__title">Plans for</div>
                  <ul class="top-rating__list top-rating__list_1">
                    <li>
                      <div class="elem-icon elem-icon_good">Singles</div>
                    </li>
                    <li>
                      <div class="elem-icon elem-icon_good">Vegetarians</div>
                    </li>
                    <li>
                      <div class="elem-icon elem-icon_good">Novice cooks</div>
                    </li>
                    <li>
                      <div class="elem-icon elem-icon_bad">Picky eaters</div>
                    </li>
                  </ul>
                </div><!-- begin column-->
                <div class="top-rating__column">
                  <div class="top-rating__title">Price range/ week</div>
                  <div class="strike color-gray">$46 – $144</div>
                  <div>$11 – $109</div>
                </div><!-- begin column-->
                <div class="top-rating__column">
                  <div class="top-rating__title">Pros and cons</div>
                  <ul class="top-rating__list top-rating__list_2 top-rating__list_pros">
                    <li>Lowest priced meal kit</li>
                    <li>Wide variety of meals</li>
                    <li>Super easy meal organization</li>
                  </ul>
                  <ul class="top-rating__list top-rating__list_cons">
                    <li>Portion size and veggie / meat balance</li>
                  </ul>
                </div><!-- begin column-->
                <div class="top-rating__column"><a class="btn btn_primary btn_lg top-rating__btn top-rating__buttons-item-1" href="/go/chefsplate" target="_blank" rel="noopener">Visit website</a>
                  <div class="ab top-rating__coupon">
                    <div class="review-coupon__save">
                      <div class="review-coupon__top"><strong><span class="text-title">Promotion&nbsp;</span><span class="color-primary">50%</span><span class="color-primary">off</span></strong></div>
                      <div class="review-coupon__code"><span class="color-gray">Promo code:&nbsp;</span><span class="code">MKC2X50</span></div>
                    </div>
                  </div>
                </div>
              </div><!-- end item-->
            </div>
          </section><!-- section-->
          <section>
            <h2>Plated Review: Editorial Notes</h2>
            <p>These days, Plated is owned by Albertsons (a large grocery chain) after it was <a href="#">purchased in 2017 for over $200 Million</a>. The chain is experimenting with including meal kits on its shelves but has not substantively changed the core business of ordering meal kits online.</p>
            <p>The company started with much more humble origins, however. In the summer of 2011, Josh Hix and Nick Taranto decided that supper needed to be done differently. For a while, the only thing they changed was their bank account balances as they invested a ton of cash into the company with little to show for it except for hard-won experience.</p>
            <p>Their big break came when they managed to get on the entrepreneurial media juggernaut TV show Shark Tank in 2014. Dallas Mavericks owners and tech guru Mark Cuban did a deal on the show—but when the two sides couldn’t agree on final terms, fellow Shark, Kevin O’Leary stepped in and provided a round of funding. After the episode aired, Plated got many new subscriptions and was off to the races. Their biggest competitors down in the USA are Blue Apron and Home Chef (neither of which is in Canada right now either) as well as the international meal kit king: Hello Fresh.</p>
          </section><!-- section-->
          <section>
            <h2> Plated Review: Credibility and Reputation</h2>
            <div class="row">
              <div class="col-12 col-lg-5">
                <p>Plated meal kit company ceased its operation in 2019. The last order delivery date was November 26, 2019. The company promptly processed the refund to those customers who ordered their kits beyond this date.</p>
                <p>Plated did not leave the market completely. It has grown into a comprehensive culinary brand with a wide selection of meal kits that can be purchased in Northern California Safeway stores.</p>
                <p>Plated used to offer thirty recipes to choose from every week, including vegetarian options. The customers could subscribe to one of the three plans and order two to four meals for two to four people per week. Today, customers can still purchase these meals, but not directly from the company. They need to go to the supermarket or order delivery via local grocery shopping and delivery companies.</p>
              </div>
              <div class="col-12 col-lg-7">
                <div class="company-table">
                  <!--table 1-->
                  <div class="company-table__card box table-responsive">
                    <table class="table_two-col">
                      <tr>
                        <th>Price per serving</th>
                        <td>
                          <div class="color-primary">$7 - $9</div>
                        </td>
                      </tr>
                      <tr>
                        <th>Weekly Total</th>
                        <td>
                          <div class="color-primary">$35.96 -$323.64</div>
                        </td>
                      </tr>
                      <tr>
                        <th>Shipping</th>
                        <td>
                          <div class="color-primary">$7 - $14</div>
                        </td>
                      </tr>
                      <tr>
                        <th>Number of plans</th>
                        <td>No different plans</td>
                      </tr>
                      <tr>
                        <th>Veggie options?</th>
                        <td><svg class="icon icon-check ">
                            <use xlink:href="/assets/img/sprite.svg#icon-check"></use>
                          </svg></td>
                      </tr>
                    </table>
                  </div>
                  <!--end table 1-->
                  <!--table 2-->
                  <div class="company-table__card box table-responsive">
                    <table class="table_two-col">
                      <tr>
                        <th>Number of meals to choose from each week</th>
                        <td><img class="company-table__icon" src="/assets/img/icons/bread-and-meal.svg" alt="">22</td>
                      </tr>
                      <tr>
                        <th>Recipes per week</th>
                        <td><img class="company-table__icon" src="/assets/img/icons/recipe-book.svg" alt="">2-6</td>
                      </tr>
                      <tr>
                        <th>Number of people</th>
                        <td><img class="company-table__icon" src="/assets/img/icons/users.svg" alt="">2-6</td>
                      </tr>
                      <tr>
                        <th>Сooking time (min)</th>
                        <td><img class="company-table__icon" src="/assets/img/icons/clock.svg" alt="">10 - 60 min</td>
                      </tr>
                    </table>
                  </div>
                  <!--end table 2-->
                  <!--table 3-->
                  <div class="company-table__card box table-responsive">
                    <table class="table_two-col">
                      <tr>
                        <th>BBB Rating</th>
                        <td>A+</td>
                      </tr>
                      <tr>
                        <th>Google Rating</th>
                        <td>3.4</td>
                      </tr>
                      <tr>
                        <th>Downloadable App</th>
                        <td>Yes</td>
                      </tr>
                    </table>
                  </div>
                  <!--end table 3-->
                </div>
              </div>
            </div>
          </section><!-- section-->
          <section>
            <h2>Plated in Canada vs. Hello Fresh, Chefs Plate, and Goodfood</h2>
            <div class="row">
              <div class="col-12 col-lg-7 order-md-2 order-lg-2">
                <p>While it’s not easy to do the Plated vs. Chefs Plate or Plated vs. Goodfood comparisons due to the fact they don’t compete head-to-head in any markets, there is one Canadian meal kit company that does go toe-to-toe down in the US: Hello Fresh.</p>
                <p>Now, obviously, the Hello Fresh vs. Plated comparison is only slightly relevant to Canadians because the American market is so much different from ours. That said, I think that one can draw some conclusions on the relative quality of Hello Fresh’s offerings in Canada, as well as what a possible matchup might look like if Plated ever came to Canada.</p>
                <p>In reading several dozen Plated vs. Hello Fresh comparison articles and reviews from down in the States, it should come as no surprise that two massive meal kit companies are very comparable. Hello Fresh did win out roughly 75% of the time on overall taste, but clearly, there is room for reasonable eaters to disagree on that subjective measure! It seemed that Plated generally had an advantage when it came to offering more elaborate “finer dining” recipes, while Hello Fresh nudged ahead in areas such as price, and overall fresh quality of produce. </p>
              </div>
              <div class="col-12 col-lg-5 order-md-1 order-lg-2 text-center mb-3"><img srcset="/assets/img/versus/libra4.png, /assets/img/versus/libra4@2x.png 1.5x, /assets/img/versus/libra4@2x.png 2x" src="/assets/img/versus/libra4.png" alt="alt" /></div>
            </div>
            <div class="row justify-content-center">
              <div class="col-12 col-lg-11">
                <div class="info-block mt-0">
                  <div class="inner">
                    <p>The most interesting advantage that Plated had (mentioned in almost every single review) was that they included desert! It seems like this was a big win. Personally, I eat more than my fair share of dessert—even when it’s not delivered to my door—but that’s just me. Plated also had more recipes to choose from each week. Almost all of the reviews noted that if you were looking for portion size per dollar, then Hello Fresh was the better bet (and also easier to cook).</p>
                  </div>
                </div>
              </div>
            </div>
          </section><!-- section-->
          <section>
            <h2 class="mb-2">Excellent Canadian Meal Kit Options to Try Instead of Plated</h2>
            <div class="row">
              <div class="col-12 col-lg-8">
                <div class="no-br">
                  <p>I actually had several Plated ads pop up on my social media feeds (maybe it tracked me when I was traveling in the USA), and I will say that the pictures looked tasty. I’m hoping that Plated comes to Canada sooner rather than later because more competition is always good for the consumer. </p>
                  <p>For the time being, Plated has not released any information on if or when they will come north. Our opinion is that they are fighting pretty hard for market share in the American market, and trying to figure out if they can make the grocery store + meal kit marriage happen. Consequently, Canada is “small potatoes” for them right now.</p>
                  <p>That said, see what great Canada-wide meal kit delivery options exist by checking out our <a href="https://mealkitscanada.ca/chefs-plate-review/">Chefs Plate Review</a>, <a href="https://mealkitscanada.ca/goodfood-review/">Goodfood Review</a>, and <a href="https://mealkitscanada.ca/hello-fresh-canada-review/">Hello Fresh Review</a>. We include our exclusive promo offer codes that make it cheaper than groceries to give each of Canada’s best meal kits a trial period in your kitchen!</p>
                </div>
              </div>
              <div class="col-lg-4 d-none d-lg-block text-center"><img srcset="/assets/img/index/hero.png, /assets/img/index/hero@2x.png 1.5x, /assets/img/index/hero@2x.png 2x" src="/assets/img/index/hero.png" alt="alt" /></div>
            </div>
          </section><!-- section-->
          <section>
            <h2>Frequently Asked Questions:</h2>
            <div class="accordion" id="accordion1">
              <div class="accordion__item">
                <div class="accordion__head">Can I buy Plated meal kits in Canada?</div>
                <div class="accordion__body">
                  <p>No, they are only sold in the USA in Northern California supermarkets.</p>
                </div>
              </div>
              <div class="accordion__item">
                <div class="accordion__head">Does Plated plan to come to the Canadian market?</div>
                <div class="accordion__body">
                  <p>The best subscription boxes for you will have the meals that you like, as many as you like per week. Hopefully, you have multiple food delivery services in your area and can pick the one that fits your needs best.</p>
                </div>
              </div>
            </div>
          </section><!-- section-->
          <section>
            <h2>The Bottom Line</h2>
            <p>Even though Plated did not succeed as a meal delivery company, it found its niche on the market by selling meal kits in the US supermarkets. Hopefully, it will make its way to the Canadian market one day. In the meanwhile, feel free to try Canada meal delivery companies, and don’t forget to use the coupons!</p>
          </section>
        </div>
      </main>
      <div class="layout__footer">
        <!--BEGIN footer-->
        <footer class="footer">
          <div class="footer-top">
            <div class="container footer-top__container">
              <div class="footer-top__menu">
                <div class="footer-top__title">Meal Kit Companies We Cover</div>
                <ul>
                  <li><a href="#">Hello Fresh Canada Review</a></li>
                  <li><a href="#">Chef’s Plate Review</a></li>
                  <li><a href="#">Goodfood Canada Review</a></li>
                  <li><a href="#">Fresh City Farms Review</a></li>
                  <li><a href="#">Miss Fresh Meal Kits Review</a></li>
                  <li><a href="#">Prepd Meal Kits Review</a></li>
                  <li><a href="#">Plated Review</a></li>
                  <li><a href="#">Home Chef Canada Review</a></li>
                  <li><a href="#">Blue Apron Canada Review</a></li>
                </ul>
              </div>
              <div class="footer-top__menu">
                <div class="footer-top__title">Region-specific Guides</div>
                <ul>
                  <li><a href="#">Winnipeg, Regina, and Saskatoon Meal Kits Reviews 2020</a></li>
                  <li><a href="#">Halifax and the Maritimes Meal Kits Reviews 2020</a></li>
                  <li><a href="#">Meal Kits Deliveries by Areas in Canada</a></li>
                  <li><a href="#">Calgary and Edmonton Meal Kits Review 2020</a></li>
                  <li><a href="#">Montreal and Quebec Meal Kits Review 2020</a></li>
                  <li><a href="#">Vancouver Meal Kits Reviews 2020</a></li>
                  <li><a href="#">Toronto Meal Kits Review 2020</a></li>
                </ul>
              </div>
              <div class="footer-top__menu">
                <div class="footer-top__title">Additional Health Articles</div>
                <ul>
                  <li><a href="#">The Importance of Fresh Foods Vs. Canned and Frozen Food</a></li>
                  <li><a href="#">Are Meal Kits Greener – Creating Less Waste and Emissions?</a></li>
                  <li><a href="#">Will your health be determined by your genetics?</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-bottom">
            <div class="container footer-bottom__container"><a class="logo-link" href="#"><img class="logo" src="/assets/img/logos/logo.png" srcset="/assets/img/logos/log@2x.png 2x" alt="" /></a>
              <div class="footer__disclaymer"><span class="color-primary">Site Disclaimer:</span>Do not use nutrition information and recommendations on this website if you suffer from a serious condition.<p>Some of the links on this website are referral links. We get paid to refer clients to certain companies (but our rating is ours and you cannot pay to be listed higher).</p>
              </div>
              <div class="footer__socials"><b>Follow Us!</b>
                <div class="socials socials_yellow"><a class="socials__item" href="#"><svg class="icon icon-fb ">
                      <use xlink:href="/assets/img/sprite.svg#icon-fb"></use>
                    </svg></a><a class="socials__item" href="#"><svg class="icon icon-inst ">
                      <use xlink:href="/assets/img/sprite.svg#icon-inst"></use>
                    </svg></a><a class="socials__item" href="#"><svg class="icon icon-tw ">
                      <use xlink:href="/assets/img/sprite.svg#icon-tw"></use>
                    </svg></a></div>
              </div>
            </div>
          </div>
          <div class="footer-copy">
            <div class="container"><small>© 2020 Meal Kits Canada</small></div>
          </div>
        </footer>
        <!--END footer-->
      </div>
    </div><!-- begin modal-->
    <div class="modal modal_video fade" id="video" tabindex="-1" role="dialog" aria-labelledby="videoLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header"><button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
          <div class="modal-body"><iframe width="100%" height="auto" src="https://www.youtube.com/embed/y0J3LoXjpl8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe></div>
        </div>
      </div>
    </div><!-- end modal-->
    <div class="tooltip_templates">
      <div id="tooltip_content">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia ipsam libero, ea sapiente iusto obcaecati aperiam natus eum voluptatem ipsum dolore dicta quasi molestias quos? Veniam distinctio esse expedita ducimus.</p>
      </div>
    </div>
    <!--LOAD SCRIPTS-->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/tooltipster@4.2.8/dist/js/tooltipster.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script type="text/javascript" src="assets/js/new-app.js"></script>
    <script>
      $(document).ready(function()
      {
        // tooltipster
        $('.info').tooltipster(
        {
          contentCloning: true,
          interactive: true,
          theme: 'tooltipster-shadow2',
          animation: 'grow',
          maxWidth: 230
        });
        $('.js-info').tooltipster(
        {
          contentCloning: true,
          interactive: true,
          theme: 'tooltipster-shadow2',
          animation: 'grow',
          maxWidth: 230
        });
        $('.tooltip-title').tooltipster(
        {
          interactive: true,
          theme: 'tooltipster-shadow2',
          animation: 'grow',
          maxWidth: 230
        });
        $('.js-tooltipster').tooltipster(
        {
          interactive: true,
          theme: 'tooltipster-shadow2',
          animation: 'grow',
          maxWidth: 300
        });
      });

    </script>
  </body>
</html>
