build/vegans.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MKC</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#fff">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" media="all" href="assets/css/app.css">
  </head>
  <body>
    <div class="layout">
      <div class="layout__header">
        <!--BEGIN header-->
        <header class="header">
          <div class="container header__container"><a class="logo-link" href="#"><img class="logo" src="/assets/img/logos/logo.png" srcset="/assets/img/logos/logo@2x.png 2x" alt="" /></a>
            <ul class="main-menu">
              <li class="menu-item"><a class="is-current" href="#">Best Meal Kits</a></li>
              <li class="menu-item"><a href="#">Best Food Subscription Boxes</a></li>
              <li class="menu-item"><a href="#"> Meal Kits Delivery by Area</a></li>
              <li class="menu-item"><a href="#">Meal Kits Costs</a></li>
              <li class="menu-item"><a href="#">About Us</a></li>
            </ul>
            <div class="menu-trigger"><span></span></div>
          </div>
        </header>
        <!--END header-->
      </div>
      <main class="layout__main">
        <div class="container">
          <div class="hero_standart">
            <div class="row align-items-center">
              <div class="col-12 col-lg-8">
                <h1 class="mb-2">Vegan Meals and Meal Plans in Canada</h1>
                <div class="no-br">
                  <p>Today there are over 850,000 people in Canada who identify themselves as vegan, and this number is growing. What is veganism? Some people consider veganism to be a special diet that excludes any animal-based food. Unlike vegetarians, who only exclude meat, vegans also exclude poultry, fish, eggs, and dairy. Other people consider veganism a way of life. Vegans stand strongly against animal cruelty and exploitation, whether for food, clothing, medical research, or any other reason.</p>
                  <p>While many meal kit companies in Canada have already incorporated vegetarian meals and plans to their services, only very few have vegan options. One of them, Zesty Meals, is offering its customers in Saskatchewan the Vegan Plan that consists of three vegan recipes per week for two or four people.</p>
                </div>
              </div>
              <div class="col-lg-4 d-none d-lg-block text-center"><img srcset="/assets/img/articles/vegans.jpg, /assets/img/articles/vegans@2x.jpg 1.5x, /assets/img/articles/vegans@2x.jpg 2x" src="/assets/img/articles/vegans.jpg" alt="alt" /></div>
            </div>
          </div><!-- section-->
          <section class="top-rating__wrapper">
            <h2>The Best Vegan Meal Kits in Canada</h2>
            <p>There are not many vegan meals or meal plans offered to Canadian customers, but we hope that more companies will expand their menus and start offering them soon.</p>
            <!--[card goes here]-->
          </section>
          <section>
            <h2>Different Types of Vegan Diets</h2>
            <div class="row justify-content-center">
              <div class="col-12">
                <!-- begin info-block-->
                <div class="info-block mt-2">
                  <div class="inner">
                    <div class="title">While the major overall rule of veganism is no animal products, there are many different variations of the vegan diet.</div>
                    <ul>
                      <li>
                        <div class="elem-icon elem-icon_good">Raw food vegan diet – This diet is based on foods that have not been cooked or processed in any way. It includes raw vegetables, fruits, nuts, and seeds that can be soaked in lukewarm water.</div>
                      </li>
                      <li>
                        <div class="elem-icon elem-icon_good">Vegan whole food diet – This vegan diet includes all types of plant-based meals that include fruits, vegetables, legumes, seeds, nuts, and petals.</div>
                      </li>
                      <li>
                        <div class="elem-icon elem-icon_good">Vegan junk food diet – Contrary to the whole food vegan diet, this diet includes processed vegan food, such as burgers with mock meat and cheese, French fries, and vegan desserts.</div>
                      </li>
                      <li>
                        <div class="elem-icon elem-icon_good">The Thrive diet – This is a combination of raw food and whole food diets. People who follow it use vegan recipes to prepare plant-based meals or consume raw fruits and vegetables.</div>
                      </li>
                      <li>
                        <div class="elem-icon elem-icon_good">80/10/10 – This raw vegan diet limits fat-rich food, such as oils, seeds, nuts, and avocadoes, allowing only 10% of fats and 10% of plant-based protein, mainly from soft greens. The majority of consumed food, 80% percent, is raw fruits and vegetables.</div>
                      </li>
                      <li>
                        <div class="elem-icon elem-icon_good">Starch vegan diet – This diet is similar to 80/10/10, but instead of raw fruit and vegetables, starch vegans mostly rely on cooked potatoes, corn, rice, and other starchy produce.</div>
                      </li>
                      <li>
                        <div class="elem-icon elem-icon_good">Raw Till 4 – The followers of this diet consume raw food until 4 pm and allow themselves to cook a plant-based dinner.</div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section>
            <h2>Vegan Diet Pros and Cons</h2>
            <p>Apparently, there are many health benefits of the vegan diet. Multiple research studies showed that people who followed a vegan diet had lower weight. There was a lower incidence of heart and cardiovascular disease, type 2 diabetes, and some types of cancer. Vegans had a lower cholesterol level and healthier blood pressure compared to carnivores.</p>
            <p>On the other hand, a vegan diet may lack key nutrients that come in very limited quantities in plant-based food compared to animal-based food. These include vitamin B-12, iron, calcium, vitamin D, omega-3 fatty acids, zinc, iodine, and more. To support their health, many vegans have to take over-the-counter or prescribed supplements that reimburse the deficiency of these nutrients.</p>
            <p>&nbsp;</p>
          </section>
          <section>
            <h2>Vegan vs. Vegetarian Meal Kits</h2>
            <p>While many meal kit companies in Canada offer vegetarian meals and meal plans, only one local company that serves Saskatchewan offers a Vegan Plan to their customers at the moment. This plan includes three vegan meals a week that can be ordered for two or four people. The price per serving is around $12. In other companies, including The Big 3, vegans can order certain meals that satisfy their diet restrictions, but no plans specifically created for vegans are available.</p>
            <p>Thus, Hello Fresh vegan options include vegetarian meals such as Kale and Black Bean Quesadillas with Fresh Tomato Salsa and Sour Cream, where the sour cream comes in a separate pouch and can be easily avoided. A similar situation with vegan meals is in Chefs Plate. Vegan diet followers can order Chipotle Lentil Burrito Bowls with Pico De Gallo and Avocado. This meal also includes sour cream that can be left out while cooking. The same is true for GoodFood vegan meals. You can select vegetarian meals and leave out all of the ingredients that are not vegan.</p>
            <p>Zesty Kits is the only meal kit company so far to offer a vegan plan. Each week, the company delivers three plant-based and vegan recipes to their customers in Saskatchewan. Such meals as Baked Nachos, Pad See Ew, and Lemon Pepper Super Bowl contain only vegan-friendly ingredients. Zesty Kits proudly uses local and seasonal Saskatchewan-grown produce that conforms to most common vegan practices: no meat, no fish, no dairy, no eggs, and no honey. You can order up to six portions a week for about $12 per serving.</p>
            <p>&nbsp;</p>
          </section>
          <section>
            <h2>Final Words About Vegan Meals and Meal Kits</h2>
            <p>Even though the vegan diet is not as popular as the vegetarian diet among Canadians, there are a growing number of people who recognize the benefits of living a vegan lifestyle for their health and environment. As the demand for vegan food is slowly growing, so does the supply.</p>
            <p>While the majority of meal kit delivery companies have not only included single vegetarian meals to their menus but also developed whole vegetarian plans, for vegan diet followers, it may not be as easy to find a company that provides vegan food. If you would like to order HelloFresh vegan meals, for example, you still need to read the list of ingredients carefully to make sure the recipe fits your lifestyle. In many cases, it is possible to avoid or leave the non-vegan ingredients out.</p>
            <p>At the moment, vegan food lovers in Saskatchewan are the luckiest Canadians because they have Zesty Kits that delivers vegan recipes and ingredients to their local customers. We hope this company will grow soon, and more vegan diet followers in Canada will be able to order meal kits from them.</p>
          </section>
        </div>
      </main>
      <div class="layout__footer">
        <!--BEGIN footer-->
        <footer class="footer">
          <div class="footer-top">
            <div class="container footer-top__container">
              <div class="footer-top__menu">
                <div class="footer-top__title">Meal Kit Companies We Cover</div>
                <ul>
                  <li><a href="#">Hello Fresh Canada Review</a></li>
                  <li><a href="#">Chef’s Plate Review</a></li>
                  <li><a href="#">Goodfood Canada Review</a></li>
                  <li><a href="#">Fresh City Farms Review</a></li>
                  <li><a href="#">Miss Fresh Meal Kits Review</a></li>
                  <li><a href="#">Prepd Meal Kits Review</a></li>
                  <li><a href="#">Plated Review</a></li>
                  <li><a href="#">Home Chef Canada Review</a></li>
                  <li><a href="#">Blue Apron Canada Review</a></li>
                </ul>
              </div>
              <div class="footer-top__menu">
                <div class="footer-top__title">Region-specific Guides</div>
                <ul>
                  <li><a href="#">Winnipeg, Regina, and Saskatoon Meal Kits Reviews 2020</a></li>
                  <li><a href="#">Halifax and the Maritimes Meal Kits Reviews 2020</a></li>
                  <li><a href="#">Meal Kits Deliveries by Areas in Canada</a></li>
                  <li><a href="#">Calgary and Edmonton Meal Kits Review 2020</a></li>
                  <li><a href="#">Montreal and Quebec Meal Kits Review 2020</a></li>
                  <li><a href="#">Vancouver Meal Kits Reviews 2020</a></li>
                  <li><a href="#">Toronto Meal Kits Review 2020</a></li>
                </ul>
              </div>
              <div class="footer-top__menu">
                <div class="footer-top__title">Additional Health Articles</div>
                <ul>
                  <li><a href="#">The Importance of Fresh Foods Vs. Canned and Frozen Food</a></li>
                  <li><a href="#">Are Meal Kits Greener – Creating Less Waste and Emissions?</a></li>
                  <li><a href="#">Will your health be determined by your genetics?</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-bottom">
            <div class="container footer-bottom__container"><a class="logo-link" href="#"><img class="logo" src="/assets/img/logos/logo.png" srcset="/assets/img/logos/log@2x.png 2x" alt="" /></a>
              <div class="footer__disclaymer"><span class="color-primary">Site Disclaimer:</span>Do not use nutrition information and recommendations on this website if you suffer from a serious condition.<p>Some of the links on this website are referral links. We get paid to refer clients to certain companies (but our rating is ours and you cannot pay to be listed higher).</p>
              </div>
              <div class="footer__socials"><b>Follow Us!</b>
                <div class="socials socials_yellow"><a class="socials__item" href="#"><svg class="icon icon-fb ">
                      <use xlink:href="/assets/img/sprite.svg#icon-fb"></use>
                    </svg></a><a class="socials__item" href="#"><svg class="icon icon-inst ">
                      <use xlink:href="/assets/img/sprite.svg#icon-inst"></use>
                    </svg></a><a class="socials__item" href="#"><svg class="icon icon-tw ">
                      <use xlink:href="/assets/img/sprite.svg#icon-tw"></use>
                    </svg></a></div>
              </div>
            </div>
          </div>
          <div class="footer-copy">
            <div class="container"><small>© 2020 Meal Kits Canada</small></div>
          </div>
        </footer>
        <!--END footer-->
      </div>
    </div><!-- begin modal-->
    <div class="modal modal_video fade" id="video" tabindex="-1" role="dialog" aria-labelledby="videoLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header"><button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
          <div class="modal-body"><iframe width="100%" height="auto" src="https://www.youtube.com/embed/y0J3LoXjpl8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe></div>
        </div>
      </div>
    </div><!-- end modal-->
    <div class="tooltip_templates">
      <div id="tooltip_content">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia ipsam libero, ea sapiente iusto obcaecati aperiam natus eum voluptatem ipsum dolore dicta quasi molestias quos? Veniam distinctio esse expedita ducimus.</p>
      </div>
    </div>
    <!--LOAD SCRIPTS-->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/tooltipster@4.2.8/dist/js/tooltipster.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script type="text/javascript" src="assets/js/new-app.js"></script>
    <script>
      $(document).ready(function()
      {
        // tooltipster
        $('.info').tooltipster(
        {
          contentCloning: true,
          interactive: true,
          theme: 'tooltipster-shadow2',
          animation: 'grow',
          maxWidth: 230
        });
        $('.js-info').tooltipster(
        {
          contentCloning: true,
          interactive: true,
          theme: 'tooltipster-shadow2',
          animation: 'grow',
          maxWidth: 230
        });
        $('.tooltip-title').tooltipster(
        {
          interactive: true,
          theme: 'tooltipster-shadow2',
          animation: 'grow',
          maxWidth: 230
        });
        $('.js-tooltipster').tooltipster(
        {
          interactive: true,
          theme: 'tooltipster-shadow2',
          animation: 'grow',
          maxWidth: 300
        });
      });

    </script>
  </body>
</html>

src/templates/vegans.pug
---
title: Vegan Meals and Meal Plans in Canada
---
extends layouts/_layout
block content
    .container
        .hero_standart
            .row.align-items-center
                .col-12.col-lg-8
                    h1.mb-2 Vegan Meals and Meal Plans in Canada
                    .no-br
                        p
                            | Today there are over 850,000 people in Canada who identify themselves as vegan, and this number is growing. What is veganism? Some people consider veganism to be a special diet that excludes any animal-based food. Unlike vegetarians, who only exclude meat, vegans also exclude poultry, fish, eggs, and dairy. Other people consider veganism a way of life. Vegans stand strongly against animal cruelty and exploitation, whether for food, clothing, medical research, or any other reason.
                        p
                            | While many meal kit companies in Canada have already incorporated vegetarian meals and plans to their services, only very few have vegan options. One of them, Zesty Meals, is offering its customers in Saskatchewan the Vegan Plan that consists of three vegan recipes per week for two or four people.


                .col-lg-4.d-none.d-lg-block.text-center
                    +img('articles/vegans','jpg','','alt')


        // section
        section.top-rating__wrapper
            h2
                | The Best Vegan Meal Kits in Canada
            p
                | There are not many vegan meals or meal plans offered to Canadian customers, but we hope that more companies will expand their menus and start offering them soon.

            //[card goes here]


        section
            h2
                | Different Types of Vegan Diets
            .row.justify-content-center
                .col-12
                    // begin info-block
                    .info-block.mt-2
                        .inner
                            .title
                                | While the major overall rule of veganism is no animal products, there are many different variations of the vegan diet.
                            ul
                                li
                                    .elem-icon.elem-icon_good
                                        | Raw food vegan diet – This diet is based on foods that have not been cooked or processed in any way. It includes raw vegetables, fruits, nuts, and seeds that can be soaked in lukewarm water.
                                li
                                    .elem-icon.elem-icon_good
                                        | Vegan whole food diet – This vegan diet includes all types of plant-based meals that include fruits, vegetables, legumes, seeds, nuts, and petals.
                                li
                                    .elem-icon.elem-icon_good
                                        | Vegan junk food diet – Contrary to the whole food vegan diet, this diet includes processed vegan food, such as burgers with mock meat and cheese, French fries, and vegan desserts.
                                li
                                    .elem-icon.elem-icon_good
                                        | The Thrive diet – This is a combination of raw food and whole food diets. People who follow it use vegan recipes to prepare plant-based meals or consume raw fruits and vegetables.
                                li
                                    .elem-icon.elem-icon_good
                                        | 80/10/10 – This raw vegan diet limits fat-rich food, such as oils, seeds, nuts, and avocadoes, allowing only 10% of fats and 10% of plant-based protein, mainly from soft greens. The majority of consumed food, 80% percent, is raw fruits and vegetables.
                                li
                                    .elem-icon.elem-icon_good
                                        | Starch vegan diet – This diet is similar to 80/10/10, but instead of raw fruit and vegetables, starch vegans mostly rely on cooked potatoes, corn, rice, and other starchy produce.
                                li
                                    .elem-icon.elem-icon_good
                                        | Raw Till 4 – The followers of this diet consume raw food until 4 pm and allow themselves to cook a plant-based dinner.


        section
            h2
                | Vegan Diet Pros and Cons
            p
                | Apparently, there are many health benefits of the vegan diet. Multiple research studies showed that people who followed a vegan diet had lower weight. There was a lower incidence of heart and cardiovascular disease, type 2 diabetes, and some types of cancer. Vegans had a lower cholesterol level and healthier blood pressure compared to carnivores.
            p
                | On the other hand, a vegan diet may lack key nutrients that come in very limited quantities in plant-based food compared to animal-based food. These include vitamin B-12, iron, calcium, vitamin D, omega-3 fatty acids, zinc, iodine, and more. To support their health, many vegans have to take over-the-counter or prescribed supplements that reimburse the deficiency of these nutrients.
            p &nbsp;

        section
            h2
                | Vegan vs. Vegetarian Meal Kits
            p
                | While many meal kit companies in Canada offer vegetarian meals and meal plans, only one local company that serves Saskatchewan offers a Vegan Plan to their customers at the moment. This plan includes three vegan meals a week that can be ordered for two or four people. The price per serving is around $12. In other companies, including The Big 3, vegans can order certain meals that satisfy their diet restrictions, but no plans specifically created for vegans are available.
            p
                | Thus, Hello Fresh vegan options include vegetarian meals such as Kale and Black Bean Quesadillas with Fresh Tomato Salsa and Sour Cream, where the sour cream comes in a separate pouch and can be easily avoided. A similar situation with vegan meals is in Chefs Plate. Vegan diet followers can order Chipotle Lentil Burrito Bowls with Pico De Gallo and Avocado. This meal also includes sour cream that can be left out while cooking. The same is true for GoodFood vegan meals. You can select vegetarian meals and leave out all of the ingredients that are not vegan.
            p
                | Zesty Kits is the only meal kit company so far to offer a vegan plan. Each week, the company delivers three plant-based and vegan recipes to their customers in Saskatchewan. Such meals as Baked Nachos, Pad See Ew, and Lemon Pepper Super Bowl contain only vegan-friendly ingredients. Zesty Kits proudly uses local and seasonal Saskatchewan-grown produce that conforms to most common vegan practices: no meat, no fish, no dairy, no eggs, and no honey. You can order up to six portions a week for about $12 per serving.
            p &nbsp;

        section
            h2
                | Final Words About Vegan Meals and Meal Kits
            p
                | Even though the vegan diet is not as popular as the vegetarian diet among Canadians, there are a growing number of people who recognize the benefits of living a vegan lifestyle for their health and environment. As the demand for vegan food is slowly growing, so does the supply.
            p
                | While the majority of meal kit delivery companies have not only included single vegetarian meals to their menus but also developed whole vegetarian plans, for vegan diet followers, it may not be as easy to find a company that provides vegan food. If you would like to order HelloFresh vegan meals, for example, you still need to read the list of ingredients carefully to make sure the recipe fits your lifestyle. In many cases, it is possible to avoid or leave the non-vegan ingredients out.
            p
                | At the moment, vegan food lovers in Saskatchewan are the luckiest Canadians because they have Zesty Kits that delivers vegan recipes and ingredients to their local customers. We hope this company will grow soon, and more vegan diet followers in Canada will be able to order meal kits from them.
