build/vegetarian.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MKC</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#fff">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" media="all" href="assets/css/app.css">
  </head>
  <body>
    <div class="layout">
      <div class="layout__header">
        <!--BEGIN header-->
        <header class="header">
          <div class="container header__container"><a class="logo-link" href="#"><img class="logo" src="/assets/img/logos/logo.png" srcset="/assets/img/logos/logo@2x.png 2x" alt="" /></a>
            <ul class="main-menu">
              <li class="menu-item"><a class="is-current" href="#">Best Meal Kits</a></li>
              <li class="menu-item"><a href="#">Best Food Subscription Boxes</a></li>
              <li class="menu-item"><a href="#"> Meal Kits Delivery by Area</a></li>
              <li class="menu-item"><a href="#">Meal Kits Costs</a></li>
              <li class="menu-item"><a href="#">About Us</a></li>
            </ul>
            <div class="menu-trigger"><span></span></div>
          </div>
        </header>
        <!--END header-->
      </div>
      <main class="layout__main">
        <div class="container">
          <div class="hero_standart">
            <div class="row align-items-center">
              <div class="col-12 col-lg-8">
                <h1 class="mb-2">Vegetarian Meals and Meal Plans in Canada</h1>
                <div class="no-br">
                  <p>Are you a vegetarian yet? Becoming a vegetarian has become a popular trend here in the XXI century. More and more people, especially younger, are becoming vegetarians for various reasons. According to a survey conducted by Dalhousie University, led by Canadian researcher Sylvain Charlebois, the majority of Canada's vegetarians are under the age of 35.</p>
                  <p>Almost ten percent of Canadian adults considered themselves vegetarians in 2018. Currently, 2.3 million people in Canada are vegetarians. This is a big rise from fifteen years ago when there were only 900,000. More than 850,000 Canadians identify themselves as vegan. The rate of vegetarianism is expected to continue to rise, and meal kit companies in Canada are responding to this trend with vegetarian meals and meal plans.</p>
                </div>
              </div>
              <div class="col-lg-4 d-none d-lg-block text-center"><img srcset="/assets/img/articles/vegetarian.jpg, /assets/img/articles/vegetarian@2x.jpg 1.5x, /assets/img/articles/vegetarian@2x.jpg 2x" src="/assets/img/articles/vegetarian.jpg" alt="alt" /></div>
            </div>
          </div><!-- section-->
          <section>
            <h2>Best Vegetarian Meal Kits in Canada</h2>
            <p>These companies offer the best vegetarian meal kits to their Canadian customers:</p>
            <div class="top-rating">
              <!-- begin item-->
              <div class="top-rating__item">
                <!-- begin column-->
                <div class="top-rating__column">
                  <div class="top-rating__label">#1</div><a href="/go/hellofresh" target="_blank" rel="noopener">
                    <figure class="company-logo top-rating__logo"><img srcset="/assets/img/logos/logo_hello-fresh.png, /assets/img/logos/logo_hello-fresh@2x.png 1.5x, /assets/img/logos/logo_hello-fresh@2x.png 2x" src="/assets/img/logos/logo_hello-fresh.png" alt="alt" /></figure>
                  </a>
                  <div class="top-rating__stars"><span>Overall rating&nbsp;</span><span class="num color-secondary">98.2%</span>
                    <div class="stars ">
                      <ul class="stars__list">
                        <li class="stars__item"><img src="/assets/img/icons/star.svg" alt="" /></li>
                        <li class="stars__item"><img src="/assets/img/icons/star.svg" alt="" /></li>
                        <li class="stars__item"><img src="/assets/img/icons/star.svg" alt="" /></li>
                        <li class="stars__item"><img src="/assets/img/icons/star.svg" alt="" /></li>
                        <li class="stars__item"><img src="/assets/img/icons/star-half.svg" alt="" /></li>
                      </ul>
                    </div>
                  </div><a class="blue-link" href="https://mealkitscanada.ca/hello-fresh-canada-review/">Hello Fresh Review</a>
                </div><!-- begin column-->
                <div class="top-rating__column">
                  <div class="top-rating__title">Plans for</div>
                  <ul class="top-rating__list top-rating__list_1">
                    <li>
                      <div class="elem-icon elem-icon_good">Singles</div>
                    </li>
                    <li>
                      <div class="elem-icon elem-icon_good">Vegetarians</div>
                    </li>
                    <li>
                      <div class="elem-icon elem-icon_good">Novice cooks</div>
                    </li>
                    <li>
                      <div class="elem-icon elem-icon_good">Picky eaters</div>
                    </li>
                  </ul>
                </div><!-- begin column-->
                <div class="top-rating__column">
                  <div class="top-rating__title">Price range/ week</div>
                  <div class="strike color-gray">$78 - $165</div>
                  <div>$39 – $125</div>
                </div><!-- begin column-->
                <div class="top-rating__column">
                  <div class="top-rating__title">Pros and cons</div>
                  <ul class="top-rating__list top-rating__list_2 top-rating__list_pros">
                    <li>Large variety of meals</li>
                    <li>Wide delivery service area</li>
                    <li>Easily skip weeks as needed</li>
                  </ul>
                  <ul class="top-rating__list top-rating__list_cons">
                    <li>Individual packaging – environmental concern</li>
                  </ul>
                </div><!-- begin column-->
                <div class="top-rating__column"><a class="btn btn_primary btn_lg top-rating__btn top-rating__buttons-item-1" href="/go/hellofresh" target="_blank" rel="noopener">Visit website</a>
                  <div class="ab top-rating__coupon">
                    <div class="review-coupon__save">
                      <div class="review-coupon__top"><strong><span class="text-title">Promotion&nbsp;</span><span class="color-primary">80%</span><span class="color-primary">off</span></strong></div>
                      <div class="review-coupon__code"><span class="color-gray">Promo code:&nbsp;</span><span class="code">MKC80</span></div>
                    </div>
                  </div>
                </div>
              </div><!-- end item-->
              <!-- begin item-->
              <div class="top-rating__item">
                <!-- begin column-->
                <div class="top-rating__column">
                  <div class="top-rating__label">#2</div><a href="/go/chefsplate" target="_blank" rel="noopener">
                    <figure class="company-logo top-rating__logo"><img srcset="/assets/img/logos/logo_chefs-plate.png, /assets/img/logos/logo_chefs-plate@2x.png 1.5x, /assets/img/logos/logo_chefs-plate@2x.png 2x" src="/assets/img/logos/logo_chefs-plate.png" alt="alt" /></figure>
                  </a>
                  <div class="top-rating__stars"><span>Overall rating&nbsp;</span><span class="num color-secondary">96.2%</span>
                    <div class="stars ">
                      <ul class="stars__list">
                        <li class="stars__item"><img src="/assets/img/icons/star.svg" alt="" /></li>
                        <li class="stars__item"><img src="/assets/img/icons/star.svg" alt="" /></li>
                        <li class="stars__item"><img src="/assets/img/icons/star.svg" alt="" /></li>
                        <li class="stars__item"><img src="/assets/img/icons/star.svg" alt="" /></li>
                        <li class="stars__item"><img src="/assets/img/icons/star-half.svg" alt="" /></li>
                      </ul>
                    </div>
                  </div><a class="blue-link" href="https://mealkitscanada.ca/chefs-plate-review/">Chefs Plate Review</a>
                </div><!-- begin column-->
                <div class="top-rating__column">
                  <div class="top-rating__title">Plans for</div>
                  <ul class="top-rating__list top-rating__list_1">
                    <li>
                      <div class="elem-icon elem-icon_good">Singles</div>
                    </li>
                    <li>
                      <div class="elem-icon elem-icon_good">Vegetarians</div>
                    </li>
                    <li>
                      <div class="elem-icon elem-icon_good">Novice cooks</div>
                    </li>
                    <li>
                      <div class="elem-icon elem-icon_bad">Picky eaters</div>
                    </li>
                  </ul>
                </div><!-- begin column-->
                <div class="top-rating__column">
                  <div class="top-rating__title">Price range/ week</div>
                  <div class="strike color-gray">$46 – $144</div>
                  <div>$11 – $109</div>
                </div><!-- begin column-->
                <div class="top-rating__column">
                  <div class="top-rating__title">Pros and cons</div>
                  <ul class="top-rating__list top-rating__list_2 top-rating__list_pros">
                    <li>Lowest priced meal kit</li>
                    <li>Wide variety of meals</li>
                    <li>Super easy meal organization</li>
                  </ul>
                  <ul class="top-rating__list top-rating__list_cons">
                    <li>Portion size and veggie / meat balance</li>
                  </ul>
                </div><!-- begin column-->
                <div class="top-rating__column"><a class="btn btn_primary btn_lg top-rating__btn top-rating__buttons-item-1" href="/go/chefsplate" target="_blank" rel="noopener">Visit website</a>
                  <div class="ab top-rating__coupon">
                    <div class="review-coupon__save">
                      <div class="review-coupon__top"><strong><span class="text-title">Promotion&nbsp;</span><span class="color-primary">50%</span><span class="color-primary">off</span></strong></div>
                      <div class="review-coupon__code"><span class="color-gray">Promo code:&nbsp;</span><span class="code">MKC2X50</span></div>
                    </div>
                  </div>
                </div>
              </div><!-- end item-->
            </div>
          </section><!-- section-->
          <section>
            <h2>Why Do Canadians Go Vegetarian?</h2>
            <p>Among the many reasons why young Canadians go vegetarian are major ones, such as environmental concerns and personal health benefits. A vegetarian diet excludes all types of meat but may include poultry, fish, eggs, and dairy products. A vegan diet is plant-based only.</p>
            <h3>Vegetarians for Environmental Benefits</h3>
            <p>Environmental researchers found that farm animals contribute to global warming by producing methane. Vegetarians believe that the less meat they eat, the fewer animals need to be farm-raised. By reducing the population of farm-raised animals, vegetarians hope to decrease global warming. Many vegetarians not only quit eating meat but also stop wearing clothes made of fur and leather.</p>
            <p>Another issue that vegetarians stand against is animal cruelty. Many commercial farms raise animals in inhumane overcrowded conditions, using toxic medication and hormones, and many environmentally-friendly vegetarians stand strongly against that and support pro-animal rights.</p>
            <h3>Vegetarians for Personal Health Benefits</h3>
            <p>It is believed that a vegetarian lifestyle is very beneficial for health. People who eat mostly vegetarian meals tend to lose excess weight and keep it off. As a result, they have less heart and&nbsp;<a href="https://www.tandfonline.com/doi/abs/10.1080/10408398.2016.1138447?journalCode=bfsn20&amp;">cardiovascular problems</a>, lower glucose levels, better cholesterol levels, and lower incidence of total cancer. Research shows that a vegetarian diet&nbsp;<a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6742661/">may also reduce</a>&nbsp;the risk of metabolic syndrome, which includes&nbsp;<a href="https://www.medicalnewstoday.com/info/obesity/how-much-should-i-weigh.php">obesity</a>&nbsp;and&nbsp;<a href="https://www.medicalnewstoday.com/info/diabetes/type2diabetes.php">type 2 diabetes</a>.</p>
          </section><!-- section-->
          <section>
            <h2>Vegetarian Meal Kits and Meal Plans</h2>
            <p>Almost every meal kit company in Canada responded to the rising trend with vegetarian recipes, vegetarian meal kits, and even vegetarian plans. One of The Big 3 companies,&nbsp;<a href="https://mealkitscanada.ca/hello-fresh-canada-review/">Hello Fresh</a>, offers a Veggie Plan that includes three meals for two or four people who do not eat meat. Hello Fresh vegetarian recipes feature plant-based proteins and delicious vegetables. The current week menu includes vegetarian meals such as Veggie Chili, Arugula and Pesto Flatbread, Kale and Black Bean Quesadillas, and more.</p>
            <p><a href="https://mealkitscanada.ca/chefs-plate-review/">Chefs Plate</a>, another Big 3 company, also supports a vegetarian diet and offers the Vegetarian Box to its customers. This is a meal plan that includes delicious vegetarian recipes packed with fresh produce, whole grains, and plant-based proteins.</p>
            <p><a href="https://mealkitscanada.ca/goodfood-review/">Good Food</a>&nbsp;Vegetarian Basket is one of the first vegetarian meal kits that became available to subscribers. The price per serving is less than $10. There are three vegetarian recipes available for two or four people every week.</p>
            <p>However, not only big nationwide meal kit companies offer vegetarian meals and plans. Smaller local companies such as&nbsp;<a href="https://mealkitscanada.ca/zestykits-canada-review/">Zesty Kits</a>, which serves only Saskatchewan customers, also offers vegetarian meal plans. The Plant-Based Plan at Zesty Kits offers three vegetarian recipes for two, four, or six people starting at $68 per week.</p>
          </section><!-- section-->
          <section>
            <h2>Final Words About Vegetarian Meal Plans</h2>
            <p>Overall, a vegetarian diet has a lot of great benefits, which include improved health and addressing environmental and animal cruelty concerns. It is a more ecologically-sustainable option and a better lifestyle choice, so there is no surprise that more and more Canadians are choosing a vegetarian diet.</p>
            <p>In accordance with this trend, meal kit companies in Canada now include vegetarian recipes in their menus and offer vegetarian meal plans. Every big meal kit company, such as Hello Fresh, Good Food, and Chefs Plate, deliver vegetarian meal kits nationwide, and smaller companies like Zesty Kits also offer vegetarian meal kit delivery to their local customers.</p>
          </section>
        </div>
      </main>
      <div class="layout__footer">
        <!--BEGIN footer-->
        <footer class="footer">
          <div class="footer-top">
            <div class="container footer-top__container">
              <div class="footer-top__menu">
                <div class="footer-top__title">Meal Kit Companies We Cover</div>
                <ul>
                  <li><a href="#">Hello Fresh Canada Review</a></li>
                  <li><a href="#">Chef’s Plate Review</a></li>
                  <li><a href="#">Goodfood Canada Review</a></li>
                  <li><a href="#">Fresh City Farms Review</a></li>
                  <li><a href="#">Miss Fresh Meal Kits Review</a></li>
                  <li><a href="#">Prepd Meal Kits Review</a></li>
                  <li><a href="#">Plated Review</a></li>
                  <li><a href="#">Home Chef Canada Review</a></li>
                  <li><a href="#">Blue Apron Canada Review</a></li>
                </ul>
              </div>
              <div class="footer-top__menu">
                <div class="footer-top__title">Region-specific Guides</div>
                <ul>
                  <li><a href="#">Winnipeg, Regina, and Saskatoon Meal Kits Reviews 2020</a></li>
                  <li><a href="#">Halifax and the Maritimes Meal Kits Reviews 2020</a></li>
                  <li><a href="#">Meal Kits Deliveries by Areas in Canada</a></li>
                  <li><a href="#">Calgary and Edmonton Meal Kits Review 2020</a></li>
                  <li><a href="#">Montreal and Quebec Meal Kits Review 2020</a></li>
                  <li><a href="#">Vancouver Meal Kits Reviews 2020</a></li>
                  <li><a href="#">Toronto Meal Kits Review 2020</a></li>
                </ul>
              </div>
              <div class="footer-top__menu">
                <div class="footer-top__title">Additional Health Articles</div>
                <ul>
                  <li><a href="#">The Importance of Fresh Foods Vs. Canned and Frozen Food</a></li>
                  <li><a href="#">Are Meal Kits Greener – Creating Less Waste and Emissions?</a></li>
                  <li><a href="#">Will your health be determined by your genetics?</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-bottom">
            <div class="container footer-bottom__container"><a class="logo-link" href="#"><img class="logo" src="/assets/img/logos/logo.png" srcset="/assets/img/logos/log@2x.png 2x" alt="" /></a>
              <div class="footer__disclaymer"><span class="color-primary">Site Disclaimer:</span>Do not use nutrition information and recommendations on this website if you suffer from a serious condition.<p>Some of the links on this website are referral links. We get paid to refer clients to certain companies (but our rating is ours and you cannot pay to be listed higher).</p>
              </div>
              <div class="footer__socials"><b>Follow Us!</b>
                <div class="socials socials_yellow"><a class="socials__item" href="#"><svg class="icon icon-fb ">
                      <use xlink:href="/assets/img/sprite.svg#icon-fb"></use>
                    </svg></a><a class="socials__item" href="#"><svg class="icon icon-inst ">
                      <use xlink:href="/assets/img/sprite.svg#icon-inst"></use>
                    </svg></a><a class="socials__item" href="#"><svg class="icon icon-tw ">
                      <use xlink:href="/assets/img/sprite.svg#icon-tw"></use>
                    </svg></a></div>
              </div>
            </div>
          </div>
          <div class="footer-copy">
            <div class="container"><small>© 2020 Meal Kits Canada</small></div>
          </div>
        </footer>
        <!--END footer-->
      </div>
    </div><!-- begin modal-->
    <div class="modal modal_video fade" id="video" tabindex="-1" role="dialog" aria-labelledby="videoLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header"><button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
          <div class="modal-body"><iframe width="100%" height="auto" src="https://www.youtube.com/embed/y0J3LoXjpl8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe></div>
        </div>
      </div>
    </div><!-- end modal-->
    <div class="tooltip_templates">
      <div id="tooltip_content">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia ipsam libero, ea sapiente iusto obcaecati aperiam natus eum voluptatem ipsum dolore dicta quasi molestias quos? Veniam distinctio esse expedita ducimus.</p>
      </div>
    </div>
    <!--LOAD SCRIPTS-->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/tooltipster@4.2.8/dist/js/tooltipster.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script type="text/javascript" src="assets/js/new-app.js"></script>
    <script>
      $(document).ready(function()
      {
        // tooltipster
        $('.info').tooltipster(
        {
          contentCloning: true,
          interactive: true,
          theme: 'tooltipster-shadow2',
          animation: 'grow',
          maxWidth: 230
        });
        $('.js-info').tooltipster(
        {
          contentCloning: true,
          interactive: true,
          theme: 'tooltipster-shadow2',
          animation: 'grow',
          maxWidth: 230
        });
        $('.tooltip-title').tooltipster(
        {
          interactive: true,
          theme: 'tooltipster-shadow2',
          animation: 'grow',
          maxWidth: 230
        });
        $('.js-tooltipster').tooltipster(
        {
          interactive: true,
          theme: 'tooltipster-shadow2',
          animation: 'grow',
          maxWidth: 300
        });
      });

    </script>
  </body>
</html>

src/templates/vegetarian.pug
---
title: Vegetarian Meals and Meal Plans in Canada
---
extends layouts/_layout
block content
    .container
        .hero_standart
            .row.align-items-center
                .col-12.col-lg-8
                    h1.mb-2 Vegetarian Meals and Meal Plans in Canada
                    .no-br
                        p
                            | Are you a vegetarian yet? Becoming a vegetarian has become a popular trend here in the XXI century. More and more people, especially younger, are becoming vegetarians for various reasons. According to a survey conducted by Dalhousie University, led by Canadian researcher Sylvain Charlebois, the majority of Canada's vegetarians are under the age of 35.
                        p
                            | Almost ten percent of Canadian adults considered themselves vegetarians in 2018. Currently, 2.3 million people in Canada are vegetarians. This is a big rise from fifteen years ago when there were only 900,000. More than 850,000 Canadians identify themselves as vegan. The rate of vegetarianism is expected to continue to rise, and meal kit companies in Canada are responding to this trend with vegetarian meals and meal plans.

                .col-lg-4.d-none.d-lg-block.text-center
                    +img('articles/vegetarian','jpg','','alt')


        // section
        section
            h2
                | Best Vegetarian Meal Kits in Canada
            p
                | These companies offer the best vegetarian meal kits to their Canadian customers:
            +top-rating(2)

        // section
        section
            h2
                | Why Do Canadians Go Vegetarian?
            p
                | Among the many reasons why young Canadians go vegetarian are major ones, such as environmental concerns and personal health benefits. A vegetarian diet excludes all types of meat but may include poultry, fish, eggs, and dairy products. A vegan diet is plant-based only.

            h3
                | Vegetarians for Environmental Benefits
            p
                | Environmental researchers found that farm animals contribute to global warming by producing methane. Vegetarians believe that the less meat they eat, the fewer animals need to be farm-raised. By reducing the population of farm-raised animals, vegetarians hope to decrease global warming. Many vegetarians not only quit eating meat but also stop wearing clothes made of fur and leather.
            p
                | Another issue that vegetarians stand against is animal cruelty. Many commercial farms raise animals in inhumane overcrowded conditions, using toxic medication and hormones, and many environmentally-friendly vegetarians stand strongly against that and support pro-animal rights.

            h3
                | Vegetarians for Personal Health Benefits
            p
                | It is believed that a vegetarian lifestyle is very beneficial for health. People who eat mostly vegetarian meals tend to lose excess weight and keep it off. As a result, they have less heart and&nbsp;
                a(href="https://www.tandfonline.com/doi/abs/10.1080/10408398.2016.1138447?journalCode=bfsn20&") cardiovascular problems
                |, lower glucose levels, better cholesterol levels, and lower incidence of total cancer. Research shows that a vegetarian diet&nbsp;
                a(href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6742661/") may also reduce
                | &nbsp;the risk of metabolic syndrome, which includes&nbsp;
                a(href="https://www.medicalnewstoday.com/info/obesity/how-much-should-i-weigh.php") obesity
                | &nbsp;and&nbsp;
                a(href="https://www.medicalnewstoday.com/info/diabetes/type2diabetes.php") type 2 diabetes
                |.

        // section
        section
            h2
                | Vegetarian Meal Kits and Meal Plans
            p
                | Almost every meal kit company in Canada responded to the rising trend with vegetarian recipes, vegetarian meal kits, and even vegetarian plans. One of The Big 3 companies,&nbsp;
                a(href="https://mealkitscanada.ca/hello-fresh-canada-review/") Hello Fresh
                |, offers a Veggie Plan that includes three meals for two or four people who do not eat meat. Hello Fresh vegetarian recipes feature plant-based proteins and delicious vegetables. The current week menu includes vegetarian meals such as Veggie Chili, Arugula and Pesto Flatbread, Kale and Black Bean Quesadillas, and more.
            p
                a(href="https://mealkitscanada.ca/chefs-plate-review/") Chefs Plate
                |, another Big 3 company, also supports a vegetarian diet and offers the Vegetarian Box to its customers. This is a meal plan that includes delicious vegetarian recipes packed with fresh produce, whole grains, and plant-based proteins.
            p
                a(href="https://mealkitscanada.ca/goodfood-review/") Good Food
                | &nbsp;Vegetarian Basket is one of the first vegetarian meal kits that became available to subscribers. The price per serving is less than $10. There are three vegetarian recipes available for two or four people every week.
            p
                | However, not only big nationwide meal kit companies offer vegetarian meals and plans. Smaller local companies such as&nbsp;
                a(href="https://mealkitscanada.ca/zestykits-canada-review/") Zesty Kits
                |, which serves only Saskatchewan customers, also offers vegetarian meal plans. The Plant-Based Plan at Zesty Kits offers three vegetarian recipes for two, four, or six people starting at $68 per week.

        // section
        section
            h2
                | Final Words About Vegetarian Meal Plans
            p
                | Overall, a vegetarian diet has a lot of great benefits, which include improved health and addressing environmental and animal cruelty concerns. It is a more ecologically-sustainable option and a better lifestyle choice, so there is no surprise that more and more Canadians are choosing a vegetarian diet.
            p
                | In accordance with this trend, meal kit companies in Canada now include vegetarian recipes in their menus and offer vegetarian meal plans. Every big meal kit company, such as Hello Fresh, Good Food, and Chefs Plate, deliver vegetarian meal kits nationwide, and smaller companies like Zesty Kits also offer vegetarian meal kit delivery to their local customers.
