build/weight-loss.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MKC</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#fff">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" media="all" href="assets/css/app.css">
  </head>
  <body>
    <div class="layout">
      <div class="layout__header">
        <!--BEGIN header-->
        <header class="header">
          <div class="container header__container"><a class="logo-link" href="#"><img class="logo" src="/assets/img/logos/logo.png" srcset="/assets/img/logos/logo@2x.png 2x" alt="" /></a>
            <ul class="main-menu">
              <li class="menu-item"><a class="is-current" href="#">Best Meal Kits</a></li>
              <li class="menu-item"><a href="#">Best Food Subscription Boxes</a></li>
              <li class="menu-item"><a href="#"> Meal Kits Delivery by Area</a></li>
              <li class="menu-item"><a href="#">Meal Kits Costs</a></li>
              <li class="menu-item"><a href="#">About Us</a></li>
            </ul>
            <div class="menu-trigger"><span></span></div>
          </div>
        </header>
        <!--END header-->
      </div>
      <main class="layout__main">
        <div class="container">
          <div class="hero_standart">
            <div class="row align-items-center">
              <div class="col-12 col-lg-8">
                <h1 class="mb-2">Best Weight Loss Meal Kits</h1>
                <div class="no-br">
                  <p>There are many different ways to lose weight. Some people eat less and change their diet; others prefer to buy weight loss pills. Some go as far as bariatric surgery. Out of all the possible weight-loss strategies, there is one that definitely works: consuming fewer calories and moving more. With that in mind, and considering how many people would like to lose weight, <a href="https://mealkitscanada.ca/">many meal kit companies</a> in Canada have started offering tasty meals with a smaller calorie count.</p>
                </div>
              </div>
              <div class="col-lg-4 d-none d-lg-block text-center"><img srcset="/assets/img/articles/weight-loss.jpg, /assets/img/articles/weight-loss@2x.jpg 1.5x, /assets/img/articles/weight-loss@2x.jpg 2x" src="/assets/img/articles/weight-loss.jpg" alt="alt" /></div>
            </div>
          </div><!-- section-->
          <section class="top-rating__wrapper">
            <h2>Best Meal Kits To Lose Weight</h2>
            <!--[card goes here]-->
          </section>
          <section>
            <h2>Weight Loss Diet Kits</h2>
            <p>There are many weight loss diets that promise great results in no time. There are <a href="https://mealkitscanada.ca/meat-lovers-diet/">diets for meat lovers</a>, such as carnivore diet, keto diet, paleo, Atkins, and more. At the same time, <a href="https://mealkitscanada.ca/meat-lovers-diet/">vegetarians</a> and <a href="https://mealkitscanada.ca/vegan-meals-and-meal-plans-in-canada/">vegans</a> claim that when they quit eating meat, they lose weight. The problem there is that while it is possible to lose weight following these diets, it is hard to keep it off once you finish the diet.</p>
            <p>Meal kit companies don’t offer you a temporary weight loss diet. They offer you a new lifestyle. When you subscribe to a weight loss meal plan, you don’t have to count calories: they have been counted for you. When you order your meals, you immediately see how many calories each meal contains.</p>
            <p>How many calories do you need to consume each day? The answer to this question depends on your gender, age, physical activity, and whether you want to keep your weight steady or lose it. There are many weight loss calculators available online that will help you find your number.</p>
          </section>
          <section>
            <h2>Benefits of Using Meal Kits for Weight Loss</h2>
            <div class="row justify-content-center">
              <div class="col-12">
                <!-- begin info-block-->
                <div class="info-block mt-2">
                  <div class="inner"><strong>What are the hardest parts of weight loss? Motivation and staying on track. Although even the best weight loss meal kits can’t really help you with motivation, they can help you with staying on track. If you use meal kits for weight loss:</strong>
                    <ul>
                      <li>
                        <div class="elem-icon elem-icon_good">You will not have to go to the supermarket and end up buying unhealthy food.</div>
                      </li>
                      <li>
                        <div class="elem-icon elem-icon_good">You can plan your menu faster, easier, and well in advance.</div>
                      </li>
                      <li>
                        <div class="elem-icon elem-icon_good">You don’t have to count calories for each meal because they will be counted for you. All you need to do is just make sure that you order the low-calorie options!</div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section>
            <h2>Companies That Offer Meal Kits For Weight Loss</h2>
            <p>Not every meal kit company in Canada offers meal kits for weight loss. We selected a few companies that have weight loss meal plans or various meals with lower than usual calorie count.</p>
            <p>One of the meal kit industry leaders in Canada, <a href="https://mealkitscanada.ca/goodfood-review/">GoodFood</a>, offers a Clean 15 weight loss meal plan that contains meals with less than 600 calories per portion. Examples of these meals include Mexican Spiced Pork Meatballs with Roasted Zucchini (560 calories), Thai Style Cod in Green Curry (500 calories), Greek Style Chicken Bowls (470 calories), and others. All these meals will also work for a low-carb diet since they don’t contain many carbohydrates.</p>
            <p>Another popular meal kit company, <a href="https://mealkitscanada.ca/goodfood-review/">HelloFresh</a>, does not offer any specific weight loss meal plans, but it has meals with fewer than 700 calories per portion on its menu. These include the Smoky Barramundi with Remoulade (570 calories), Baked Hot Honey Chicken (680 calories), or Greek Grain and Golden Halloumi Salad (650 calories).</p>
            <p>Smaller local Canadian companies also have some fresh weight loss meal ideas. <a href="https://mealkitscanada.ca/cook-it-review/">Cook It</a>, for example, offers a Vegetarian Crunch Wrap (559 calories), or a Crispy Tofu Tonkatsu (577 calories) to customers who would like to lose weight. These meals will also fit vegetarian and even vegan diets if you avoid some ingredients, like cheese and yogurt. All the ingredients are packed separately, so you don’t have to use them in your recipe.</p>
          </section>
          <section>
            <h2>Final Words About Meal Kits For Weight Loss</h2>
            <p>What can I eat to lose weight? Amazingly, some meal kit delivery services in Canada have an answer to this ironic question, and they do offer meals with a lower calorie count than their regular menu.</p>
            <p>The best weight loss meal kits are available to both subscribers of major brands like GoodFood and HelloFresh, as well as smaller companies such as Cook It. As the demand for weight loss diet kits continues to grow, we believe that more Canadian companies will include weight loss meal plans in their menus.</p>
          </section>
        </div>
      </main>
      <div class="layout__footer">
        <!--BEGIN footer-->
        <footer class="footer">
          <div class="footer-top">
            <div class="container footer-top__container">
              <div class="footer-top__menu">
                <div class="footer-top__title">Meal Kit Companies We Cover</div>
                <ul>
                  <li><a href="#">Hello Fresh Canada Review</a></li>
                  <li><a href="#">Chef’s Plate Review</a></li>
                  <li><a href="#">Goodfood Canada Review</a></li>
                  <li><a href="#">Fresh City Farms Review</a></li>
                  <li><a href="#">Miss Fresh Meal Kits Review</a></li>
                  <li><a href="#">Prepd Meal Kits Review</a></li>
                  <li><a href="#">Plated Review</a></li>
                  <li><a href="#">Home Chef Canada Review</a></li>
                  <li><a href="#">Blue Apron Canada Review</a></li>
                </ul>
              </div>
              <div class="footer-top__menu">
                <div class="footer-top__title">Region-specific Guides</div>
                <ul>
                  <li><a href="#">Winnipeg, Regina, and Saskatoon Meal Kits Reviews 2020</a></li>
                  <li><a href="#">Halifax and the Maritimes Meal Kits Reviews 2020</a></li>
                  <li><a href="#">Meal Kits Deliveries by Areas in Canada</a></li>
                  <li><a href="#">Calgary and Edmonton Meal Kits Review 2020</a></li>
                  <li><a href="#">Montreal and Quebec Meal Kits Review 2020</a></li>
                  <li><a href="#">Vancouver Meal Kits Reviews 2020</a></li>
                  <li><a href="#">Toronto Meal Kits Review 2020</a></li>
                </ul>
              </div>
              <div class="footer-top__menu">
                <div class="footer-top__title">Additional Health Articles</div>
                <ul>
                  <li><a href="#">The Importance of Fresh Foods Vs. Canned and Frozen Food</a></li>
                  <li><a href="#">Are Meal Kits Greener – Creating Less Waste and Emissions?</a></li>
                  <li><a href="#">Will your health be determined by your genetics?</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-bottom">
            <div class="container footer-bottom__container"><a class="logo-link" href="#"><img class="logo" src="/assets/img/logos/logo.png" srcset="/assets/img/logos/log@2x.png 2x" alt="" /></a>
              <div class="footer__disclaymer"><span class="color-primary">Site Disclaimer:</span>Do not use nutrition information and recommendations on this website if you suffer from a serious condition.<p>Some of the links on this website are referral links. We get paid to refer clients to certain companies (but our rating is ours and you cannot pay to be listed higher).</p>
              </div>
              <div class="footer__socials"><b>Follow Us!</b>
                <div class="socials socials_yellow"><a class="socials__item" href="#"><svg class="icon icon-fb ">
                      <use xlink:href="/assets/img/sprite.svg#icon-fb"></use>
                    </svg></a><a class="socials__item" href="#"><svg class="icon icon-inst ">
                      <use xlink:href="/assets/img/sprite.svg#icon-inst"></use>
                    </svg></a><a class="socials__item" href="#"><svg class="icon icon-tw ">
                      <use xlink:href="/assets/img/sprite.svg#icon-tw"></use>
                    </svg></a></div>
              </div>
            </div>
          </div>
          <div class="footer-copy">
            <div class="container"><small>© 2020 Meal Kits Canada</small></div>
          </div>
        </footer>
        <!--END footer-->
      </div>
    </div><!-- begin modal-->
    <div class="modal modal_video fade" id="video" tabindex="-1" role="dialog" aria-labelledby="videoLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header"><button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
          <div class="modal-body"><iframe width="100%" height="auto" src="https://www.youtube.com/embed/y0J3LoXjpl8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe></div>
        </div>
      </div>
    </div><!-- end modal-->
    <div class="tooltip_templates">
      <div id="tooltip_content">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia ipsam libero, ea sapiente iusto obcaecati aperiam natus eum voluptatem ipsum dolore dicta quasi molestias quos? Veniam distinctio esse expedita ducimus.</p>
      </div>
    </div>
    <!--LOAD SCRIPTS-->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/tooltipster@4.2.8/dist/js/tooltipster.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script type="text/javascript" src="assets/js/new-app.js"></script>
    <script>
      $(document).ready(function()
      {
        // tooltipster
        $('.info').tooltipster(
        {
          contentCloning: true,
          interactive: true,
          theme: 'tooltipster-shadow2',
          animation: 'grow',
          maxWidth: 230
        });
        $('.js-info').tooltipster(
        {
          contentCloning: true,
          interactive: true,
          theme: 'tooltipster-shadow2',
          animation: 'grow',
          maxWidth: 230
        });
        $('.tooltip-title').tooltipster(
        {
          interactive: true,
          theme: 'tooltipster-shadow2',
          animation: 'grow',
          maxWidth: 230
        });
        $('.js-tooltipster').tooltipster(
        {
          interactive: true,
          theme: 'tooltipster-shadow2',
          animation: 'grow',
          maxWidth: 300
        });
      });

    </script>
  </body>
</html>

src/templates/weight-loss.pug
---
title: Best Weight Loss Meal Kits
---
extends layouts/_layout
block content
    .container
        .hero_standart
            .row.align-items-center
                .col-12.col-lg-8
                    h1.mb-2 Best Weight Loss Meal Kits
                    .no-br
                        p
                            | There are many different ways to lose weight. Some people eat less and change their diet; others prefer to buy weight loss pills. Some go as far as bariatric surgery. Out of all the possible weight-loss strategies, there is one that definitely works: consuming fewer calories and moving more. With that in mind, and considering how many people would like to lose weight, <a href="https://mealkitscanada.ca/">many meal kit companies</a> in Canada have started offering tasty meals with a smaller calorie count.


                .col-lg-4.d-none.d-lg-block.text-center
                    +img('articles/weight-loss','jpg','','alt')


        // section
        section.top-rating__wrapper
            h2
                | Best Meal Kits To Lose Weight

            //[card goes here]


        section
            h2
                | Weight Loss Diet Kits

            p There are many weight loss diets that promise great results in no time. There are <a href="https://mealkitscanada.ca/meat-lovers-diet/">diets for meat lovers</a>, such as carnivore diet, keto diet, paleo, Atkins, and more. At the same time, <a href="https://mealkitscanada.ca/meat-lovers-diet/">vegetarians</a> and <a href="https://mealkitscanada.ca/vegan-meals-and-meal-plans-in-canada/">vegans</a> claim that when they quit eating meat, they lose weight. The problem there is that while it is possible to lose weight following these diets, it is hard to keep it off once you finish the diet.
            p Meal kit companies don’t offer you a temporary weight loss diet. They offer you a new lifestyle. When you subscribe to a weight loss meal plan, you don’t have to count calories: they have been counted for you. When you order your meals, you immediately see how many calories each meal contains.
            p How many calories do you need to consume each day? The answer to this question depends on your gender, age, physical activity, and whether you want to keep your weight steady or lose it. There are many weight loss calculators available online that will help you find your number.

        section
            h2 Benefits of Using Meal Kits for Weight Loss

            .row.justify-content-center

                .col-12
                    // begin info-block
                    .info-block.mt-2
                        .inner
                            strong
                                | What are the hardest parts of weight loss? Motivation and staying on track. Although even the best weight loss meal kits can’t really help you with motivation, they can help you with staying on track. If you use meal kits for weight loss:
                            ul
                                li
                                    .elem-icon.elem-icon_good
                                        | You will not have to go to the supermarket and end up buying unhealthy food.
                                li
                                    .elem-icon.elem-icon_good
                                        | You can plan your menu faster, easier, and well in advance.
                                li
                                    .elem-icon.elem-icon_good
                                        | You don’t have to count calories for each meal because they will be counted for you. All you need to do is just make sure that you order the low-calorie options!


        section
            h2 Companies That Offer Meal Kits For Weight Loss
            p Not every meal kit company in Canada offers meal kits for weight loss. We selected a few companies that have weight loss meal plans or various meals with lower than usual calorie count.
            p One of the meal kit industry leaders in Canada, <a href="https://mealkitscanada.ca/goodfood-review/">GoodFood</a>, offers a Clean 15 weight loss meal plan that contains meals with less than 600 calories per portion. Examples of these meals include Mexican Spiced Pork Meatballs with Roasted Zucchini (560 calories), Thai Style Cod in Green Curry (500 calories), Greek Style Chicken Bowls (470 calories), and others. All these meals will also work for a low-carb diet since they don’t contain many carbohydrates.
            p Another popular meal kit company, <a href="https://mealkitscanada.ca/goodfood-review/">HelloFresh</a>, does not offer any specific weight loss meal plans, but it has meals with fewer than 700 calories per portion on its menu. These include the Smoky Barramundi with Remoulade (570 calories), Baked Hot Honey Chicken (680 calories), or Greek Grain and Golden Halloumi Salad (650 calories).
            p Smaller local Canadian companies also have some fresh weight loss meal ideas. <a href="https://mealkitscanada.ca/cook-it-review/">Cook It</a>, for example, offers a Vegetarian Crunch Wrap (559 calories), or a Crispy Tofu Tonkatsu (577 calories) to customers who would like to lose weight. These meals will also fit vegetarian and even vegan diets if you avoid some ingredients, like cheese and yogurt. All the ingredients are packed separately, so you don’t have to use them in your recipe.

        section
            h2 Final Words About Meal Kits For Weight Loss
            p What can I eat to lose weight? Amazingly, some meal kit delivery services in Canada have an answer to this ironic question, and they do offer meals with a lower calorie count than their regular menu.
            p The best weight loss meal kits are available to both subscribers of major brands like GoodFood and HelloFresh, as well as smaller companies such as Cook It. As the demand for weight loss diet kits continues to grow, we believe that more Canadian companies will include weight loss meal plans in their menus.
